SECRET_KEY=s3cr3t
DEBUG=True
DB_NAME=django
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306
ALLOWED_HOSTS= localhost, 10.129.132.146
GOOGLE_RECAPTCHA_SECRET_KEY=s3cr3t
EMAIL_HOST=localhost
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=25
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=collaboratingcommunity@example.com
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=s3cr3t.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=s3cr3t

