__pycache__/
*.py[cod]
.env
venv/
media/article
media/community
media/group
media/profile
media/course
media/images
media/audio
media/video
media/task
PyEtherpadLite

# SQLite database files

*.sqlite3
*.swn
*.swo
*.swp
*.swm

src/
.vscode/
*.pyc

.DS_Store/
node_modules/
