version: '3'

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: django
      MYSQL_HOST: localhost
      MYSQL_USER: django
      MYSQL_PASSWORD: django
    ports:
      - "3306:3306"
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    ports:
      - "7000:8000"
    depends_on:
      - db
      - h5p

  h5p:
    image: h5p_image
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db

