apturl==0.5.2
astroid==1.5.3
beautifulsoup4==4.4.1
bleach==2.1.1
blinker==1.3
Brlapi==0.6.4
certifi==2017.11.5
chardet==3.0.4
checkbox-support==0.22
cmsplugin-filer==1.1.3
command-not-found==0.3
coverage==4.4.1
cryptography==1.2.3
decorator==4.1.2
defer==1.0.6
diff-match-patch==20121119
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.7
django-appconf==1.0.2
django-autoslug==1.9.3
django-classy-tags==0.8.0
django-cms==3.4.5
django-comments-xtd==2.0.9
django-contrib-comments==1.8.0
django-cors-headers==2.1.0
django-discover-runner==1.0
django-filer==1.3.0
django-formtools==2.1
django-guardian==1.4.9
django-haystack==2.6.1
django-machina==0.5.6
django-mptt==0.8.7
django-oauth-toolkit==1.0.0
django-polymorphic==1.3
django-reversion==2.0.10
django-reversion-compare==0.8.1
django-role-permissions==2.1.0
django-sekizai==0.10.0
django-taggit==0.22.1
django-treebeard==4.1.2
django-widget-tweaks==1.4.1
djangocms-admin-style==1.2.7
djangocms-attributes-field==0.3.0
djangocms-column==1.7.0
djangocms-googlemap==1.1.1
djangocms-installer==0.9.7
djangocms-link==2.1.2
djangocms-snippet==1.9.2
djangocms-style==2.0.2
djangocms-text-ckeditor==3.5.1
djangocms-video==2.0.4
djangorestframework==3.6.4
docutils==0.14
easy-thumbnails==2.5
entrypoints==0.2.3
feedparser==5.1.3
guacamole==0.9.2
gunicorn==19.7.1
html5lib==0.9999999
httplib2==0.9.1
idna==2.6
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
isort==4.2.15
jedi==0.11.0
Jinja2==2.8
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
language-selector==0.1
lazy-object-proxy==1.3.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==2.6.9
markdown2==2.3.5
MarkupSafe==0.23
mccabe==0.6.1
Misago==0.13.0
mistune==0.7.4
mysqlclient==1.3.12
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.0
numpy==1.13.3
oauthlib==2.0.6
olefile==0.44
onboard==1.2.0
padme==1.1.1
pandocfilters==1.4.2
parso==0.1.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==4.3.0
plainbox==0.25
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5
pyasn1==0.1.9
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pylint==1.7.4
pyparsing==2.0.3
python-apt==1.1.0b1
python-dateutil==2.6.1
python-debian==0.1.27
python-decouple==3.1
python-systemd==231
pytz==2017.2
pyxdg==0.25
pyzmq==16.0.2
qtconsole==4.3.1
reportlab==3.3.0
requests==2.18.4
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.11.0
ssh-import-id==5.5
static3==0.7.0
system-service==0.3
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
tzlocal==1.4
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
Unidecode==0.4.21
Unipath==1.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.22
usb-creator==0.3.0
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==3.3.1
widgetsnbextension==3.0.6
wrapt==1.10.11
xdiagnose==3.8.4.1
xkit==0.0.0
XlsxWriter==0.7.3
