{% load static %}

{% block css %}
<link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
<style>
  .swal2-radio {
    display: grid !important;
  }
</style>
{% endblock %}
<div class="reputation-icons blog-item">
  <ul class="reputation-icons-list blog-info">
    <li>
      <i class="fa fa-thumbs-o-up" id="reputation-upvote" onclick="updateReputationStat('upvote')"></i>
      <span class="upvote-count"></span>
    </li>
    <li>
      <i class="fa fa-thumbs-o-down" id="reputation-downvote" onclick="updateReputationStat('downvote')"></i>
      <span class="downvote-count"></span>
    </li>
    <li>
      <i class="fa fa-flag-o" id="reputation-reported" onclick="flagResource()"></i>
      <span class="reported-count"></span>
    </li>
  </ul>
</div>

{% block javascript %}
<script language="JavaScript" type="text/javascript" src="{% static 'assets/plugins/jquery.min.js' %}"></script>

<script>
  var id = "{{id}}";
  var resource_type = "{{resource_type}}";
</script>

<script src="{% static 'js/reputation_update.js' %}"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>

<script>
  function flagResource() {
    if (user_log.reported) {
      updateReputationStat('reported');
    } else {
      swal({
        title: 'Report this ' + resource_type,
        html: 'Select the reason for reporting',
        onOpen: () => {
          swal.showLoading();
        }
      });

      $.ajax({
        type: 'GET',
        url: '/api/reputation/flag_reasons',
        success: (data) => {
          var inputOptions = {};
          var i = 0;
          for (i = 0; i < data.length; i++) {
            inputOptions[data[i].id] = data[i].reason
          }

          swal({
            title: 'Select reason for reporting this ' + resource_type,
            input: 'radio',
            inputOptions: inputOptions,

            inputValidator: (value) => {
              return !value && 'You need to choose something!'
            }
          }).then((result) => {
            var reason = result.value;
            updateReputationStat('reported', reason);
          }).then(() => {
            swal(
              'Reported!',
              'Thank you for reporting this ' + resource_type,
              'success'
            )
          });
        },
        error: () => {
          allow_reputation_stat_update = true;
          swal({
            title: 'Server not responding. Please try again.'
          })
        }
      });
    }
  }
</script>
{% endblock %}