{% extends 'base.html' %}
{% block css %}
{% endblock %}

{% block content %}

{% load notifications_tags %}
{% register_notify_callbacks refresh_period='1' callbacks='fill_notification_list' %}
<ul class="notifications">
 <div class="col-lg-3">
             <ul class="nav nav-pills nav-stacked" role="tablist">
                <li><a href="{% url 'notifications:all' %}">All notifications</a></li>
                 <li><a href="{% url 'notifications:unread' %}">Unread notifications</a></li>
                 <hr>
                <li><a href="{% url 'notifications:mark_all_as_read' %}">Mark all as read</a></li>
                <li><a href="{% url 'notifications:mark_all_as_unread' %}">Mark all as unread</a></li>
                <li><a href="{% url 'notifications:mark_all_read_as_deleted' %}">Delete all read notifications</a></li>
                <li><a href="{% url 'notifications:mark_all_unread_as_deleted' %}">Delete all unread notifications</a></li>
                <li><a href="{% url 'notifications:mark_all_as_deleted' %}">Delete all</a></li>
              </ul>
        </div>


        <div class="col-lg-9">
      <!--      {% if notifications %}
      {% for notice in notifications %}


          <div class="row">
                             <div class="alert alert-block alert-{{ notice.level }}" style=" margin:1px !important; padding-bottom:2px;" >

                             
                               <div class="row" style="padding-left:3px; padding-right:3px;">
                                   <div class="col-md-9"><h4><a class="alert-link" href="{% url 'notifications:mark_as_read_and_redirect' notice.slug %}">{{ notice.target }} {{ notice.target_content_type }} </a></h4></div>
                                   <div class="col-md-2 text-right">{% if notice.unread %}
                                 <p><a class="alert-link" href="{% url 'notifications:mark_as_read' notice.slug %}"><span class="glyphicon glyphicon-unchecked"></span></a> Unread</p>
                                 {% else %}
                                 <p><a class="alert-link" href="{% url 'notifications:mark_as_unread' notice.slug %}"><span class="glyphicon glyphicon-check"></span></a>  Read</p>
                                   {% endif %}</div>

                                  
        <div class="col-md-1 text-right"> <p><a href="{% url 'notifications:delete' notice.slug %}"><span class="glyphicon glyphicon-trash"></span></a></p></div>


                               </div>
                                 <div class="row" style="padding-left:7px; padding-right:3px;">
                                  <div class="col-md-9 text-left"><h5>
                                    <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
                                    {{ notice.verb }}
                                      {% ifnotequal notice.actor notice.recipient %}
                                      -by <a href="{% url notice.data.sender_url notice.data.sender_url_name %}">{{ notice.actor }}</a>
                                      {% endifnotequal %}
                                  </h5>
                                   </div>
                                     <div class="col-md-3 text-right"><p>{{ notice.timesince }} ago</p></div>
                                 </div>

                                  

                              <div class="notice-actions">
                                {% for action in notice.data.actions %}
                                  <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
                                {% endfor %}
                              </div>

                             </div>

      </div>

      {% endfor %} -->
      {% live_notify_list  %}

            <!-- {% else %}
    <div class="alert alert-error text-center"><strong><h4>No notifications to show!</h4></strong></div>
    {% endif %}-->
            </div>
    {% if is_paginated %}
      <ul class="pagination pull-right">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span style="background:red;">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}



</ul> 

{% endblock %}
