/* here you can put your own css to customize and override the theme */
.timer {
    padding: 10px 0;
    color: #111;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    text-align:center;
    line-height:80px;
    //font-family: 'Oswald', sans-serif;
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}

.content-page{
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.icp-content-comm-title-image {
    background-image: url("text-border.png");
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: center;
    margin-top: 35px;
}

.icp-content-comm-title-text {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #BF4040;
    font-weight: bold;
}
