/* here you can put your own css to customize and override the theme */
.timer {
    padding: 10px 0;
    color: #111;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    text-align:center;
    line-height:80px;
    //font-family: 'Oswald', sans-serif;
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}

.content-page{
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.icp-content-comm-title-image {
    background-image: url("text-border.png");
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: center;
    margin-top: 35px;
}

.icp-content-comm-title-text {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #BF4040;
    font-weight: bold;
}

.modal-content{
    margin-top: 100px;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #89216B;
    border-color: #89216B
}

.page-item.disabled .page-link {
    color: #868e96;
    pointer-events: none;
    background-color: #fff;
    border-color: #ddd
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #89216B;
    background-color: #fff;
    border: 1px solid #ddd
}

.page-link:focus, .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #89216B;
    border-color: #89216B
}

.page-item:first-child .page-link {
    margin-left: -40;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

