{% extends 'base.html' %}
 {% block content %}
	<div class=".headingdiv">
		<h2>About Us</h2>
	</div>
	<!-- Wrapper -->
	<div class="wrapper">
	
		
		<div class="leftdiv">
			<div class="leftinside">
				<h2> About Teaching And Education Collaborative</h2>
				<p class="aboutp">
				Collaborative teaching is a teaching practice that includes groups of students working together to solve a problem, complete a task or create a product. There is a trend toward collaboration in the 21st century, as; collaborative teaching, learning, thinking and working. In education, collaboration is the most successful promotion of teaching programs for the majority of students. There is a change in role of teachers who use collaborative learning approaches. In a collaborative setting, teachers are no longer as experts transmitting knowledge to the students, but they act as experts who design academic programs for students, as instructors or mentors particularly in the emergent learning process. This review article seeks to define the collaborative style of teaching and learning, the basic elements of it and the main benefits thereof.
</p>
		
		</div>
		</div>
		<div class=rightdiv">
		<img src="../../images/imagesjoi.jpg" alt="file not found" class="imgcless">
		</div>
	</div>

{% endblock %}s
<!-- End of the wrapper -->