{% extends 'base.html' %}

{% block content %}
<div class="main">
  <div class="container">
    <div class="col-md-12 ">
      <div class="content-page">
        <div class="row margin-bottom-40">
          <div class="col-md-12">
            <div class="pricing-head">
              <h3>Article View Timeline</h3><br>
                <div id = "Articleviews"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var chart = c3.generate({{ viewdata|safe }})
</script>

{% endblock %}