{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'display_communities' %}">Communities</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'display_articles' %}">Articles</a></li>
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
    {{myhtml|safe}}{% autoescape off%}
      {% for article in articles %}
        <tr>
          <td>
            <a href="{% url 'article_view' article.pk %}">{{ article.title }}</a>
          </td>
          <td class="align-middle"><small class="text-muted d-block">{{ article.body }}</small></td>
        </tr>
      {% endfor %}
      {% endautoescape%}
    </tbody>
  </table>
{% endblock %}