{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'display_articles' %}">Articles</a></li>
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
  {% endif %}
{% endblock %}

{% block content %}
{{myhtml|safe}}{% autoescape off%}
{% for article in articles %}
  <div class="row margin-bottom-15">
    <div class="col-md-12 col-sm-12">
      <h3><a href="{% url 'article_view' article.pk %}">{{ article.title }}</a></h3>
      <ul class="blog-info">
        <li><i class="fa fa-calendar"></i> {{article.created_at}} </li>
        <li><i class="fa fa-comments"></i> comments </li>
        <li><i class="fa fa-eye"></i> {{article.views}} </li>
      </ul>
      <p>
        {{ article.body|striptags|truncatewords:50 }}
        <a href="{% url 'article_view' article.pk %}" class="more">Read more <i class="icon-angle-right"></i></a>
      </p>
    </div>
  </div>
  <hr class="blog-post-sep">
{% endfor %}
{% endautoescape%}
{% endblock %}
