{% extends 'base.html' %}
{%load static %}
{% block css %}
  <link href="{% static 'jquery-pagination/pagination.css' %}" rel="stylesheet" type="text/css">
  <style>
    .progress {
      background-color: #ccc;
      width: 100%;
      height: 20px;
      border-radius: 10px;
    }

    .progress-bar { 
      float: left; 
      height: 100%;
    }

    .badge-grey {
      background-color: #3d3d3f;
      color: white;
    }

    .badge-red {
      background-color: #e62739;
      color: white;
    }

    .badge-yellow {
      background-color: #feda6a;
      color: white;
    }

    .badge-blue {
      background-color: #7acfd6;
      color: white;
    }

    .badge-green {
      background-color: #feda6a;
      color: white;
    }

    .badge-info {
      border: 1px solid;
      padding: 10px;
      margin: 5px;
    }
  </style>
{% endblock %}

{% block breadcrumb %}
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active">{{user.username}}'s Dashboard</li>
  <li class="breadcrumb-item active">
  	   <a href="{% url 'user_insight_dashboard'%}">Badges</a>
  </li>
  {% endif %}


{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Badge Progress</h1>
    </div>

  <div class="badge-container"></div>
</div>

{% endblock %}

{% block javascript %}
  <script src="{% static 'jquery-pagination/pagination.js' %}"></script>
  <script>
    $.ajax({
      url: '/api/reputation/badges',
      type: 'GET',
      success: function(communities) {
        var badgeContainer = $('.badge-container');

        for (var i = 0; i < communities.length; i++) {
          var rowDiv = $('<div>', {
            'class': 'row'
          });
          var community = communities[i].community;
          rowDiv.append('<h2 style="margin: 5px">' + community.name + '</h2>');

          var badges_group = communities[i].badges;

          var badgeLevelMapping = {
            '1': 'badge-grey',
            '2': 'badge-red',
            '3': 'badge-yellow',
            '4': 'badge-blue',
            '5': 'badge-green'
          };

          var colDiv = $('<div>', {
            'class': 'col-md-12'
          });

          for (var j in badges_group) {
            if (badges_group.hasOwnProperty(j)) {
              var badges = badges_group[j];

              var progressDiv = $('<div>', {
                'class': 'progress'
              });

              // assuming the badges are given in order of its level
              var prevBadgeLevel = 0, nextBadgeLevel = 0, badgeProgress = 100;

              for (var k = 0; k < badges.length; k++) {
                var badge = badges[k];

                if (badge.progress < 100) {
                  nextBadgeLevel = badge.level;
                  badgeProgress = badge.progress;
                  break;
                } else {
                  prevBadgeLevel = badge.level;
                }
              }


              colDiv.append(`
                <div class="row">
                  <div class="badge-info ${badgeLevelMapping[prevBadgeLevel]}" style="float: left;">${badges[prevBadgeLevel].title}</div>
                  <div class="badge-info ${badgeLevelMapping[nextBadgeLevel]}" style="float: right;">${badges[nextBadgeLevel].title}</div>
                </div>
              `);

              progressDiv.append(`
                <div class="row">
                  <div class="progress-bar ${badgeLevelMapping[nextBadgeLevel]}" style="width: ${badge.progress}%;"></div>
                </div>
              `);
              

              colDiv.append(progressDiv);
            }
            
          }

          badgeContainer.append(colDiv);
        }
      }
    });
  </script>
{% endblock %}
