{% extends 'base.html' %} 
{%load static %} 
{% block css %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script> {% endblock %} {% block breadcrumb %}

<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}"> {{ community.name }} </a></li>
<li class="breadcrumb-item active"> {{ category.name }} </li>
{% endblock %} 


{% block content %}
<h1>Groups</h1>
{% if not groups %}
<div class="content-page page-404">
    <div class="number">
        Oops!
    </div>
    <div class="details">
        <h3>No Groups</h3>
        <p>
            Sorry, currently there are no groups in this category
        </p>
    </div>
</div>
{% endif %} {{myhtml|safe}}{% autoescape off%}

<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12">
                <div class="content-page">
                    <div class="row margin-bottom-40">
                        {% for group in groups %}
                        <div class="col-md-3 col-sm-4 gallery-item">
                            {% if group.group.image %}
                                <a data-rel="fancybox-button" title="" href="{{ MEDIA_URL }}{{ group.group.image}}" class="fancybox-button" text="{{ group.group.name }}">
                                    <img style="height: 250px; width: 250px; border: 1px solid red;" src="{{ MEDIA_URL }}{{ group.group.image}}" class="img-responsive">
                                    <div class="zoomix"><i class="fa fa-search"></i></div>
                                </a>
                            {% else %}
                                <a data-rel="fancybox-button" title="" href="{{ MEDIA_URL }}default/group_image_default.png" class="fancybox-button" text="{{ group.group.name }}">
                                    <img style="height: 250px; width: 250px; border: 1px solid red;" src="{{ MEDIA_URL }}default/group_image_default.png" class="img-responsive">
                                    <div class="zoomix"><i class="fa fa-search"></i></div>
                                </a>
                            {% endif %}
                            <h3> <a href="{% url 'group_view' group.group.pk %}">{{ group.group.name }} </a> </h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
</div>
{% endautoescape%} {% if groups.has_next %}
<a class="infinite-more-link" href="?page={{ groups.next_page_number }}">
    <i class="fa fa-spinner fa-spin" style="font-size:24px;color:red"></i> Loading...
</a>
{% endif %}

<div class="loading" style="display: none;">

</div>

{% endblock %} {% block javascript %}
<script type="text/javascript">
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        }
    });
</script> {% endblock %}