{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="container">
          <div class="col-md-12 ">
               <div class="content-page">
                     <div class="row margin-bottom-40">
                     	<div class="col-md-12">
                     		<div class="pricing-head">
                     			 <h3>Graph1</h3>
                     			 <h4>Put Graph1 here</h4>
                     		</div>
                     	</div>
                     </div>
                </div>
           </div>
           <div class="col-md-12">
           	    <div class="col-md-6">
           	    	<div class="pricing-head">
           	    	    <h3>Put Graph 2 here</h3>
           	    	    <h4></h4>
           	    	</div>
           	    </div>
           	    <div class="col-md-6">
           	    	<div class="pricing-head">
           	    	     <h3>Graph3</h3>
           	    	     <h4>Put Graph3 here</h4>
           	    	</div>
           	    </div>
           </div>
    </div>
</div>
{% endblock %}