{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
  {% endif %}
  <li class="breadcrumb-item active">{{ community.name }}</li>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">View</a>
  </li>
  {% if membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_community' community.pk %}">Manage Community</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_community_info' community.pk %}">Update community Info</a>
  </li>
  {%endif%}
</ul>
<br/>
<div class="container-fluid alert alert-primary" role="alert">

  <div class="row">
    <div class="col-sm-8">
      <h2>{{ community.name }}</h2><br />
      {{myhtml|safe}}{% autoescape off%} {{community.tag_line}}{% endautoescape%}
    </div>
    <div class="col-sm-4">
      <b>Active Since: </b><br />
       {{subscribers}} Contributors <br />
      N Published articles<br />
      N Public groups <br /><br />
      {% if membership == 'FALSE' %}
      <b> <form id = "subscribe" method = "post" action ="{% url 'community_subscribe' %}">
        <div class="form-group">
              {% csrf_token %}
              <input type="hidden" name="cid" value={{ community.pk}}>
      </div>
        <button type="submit" class="btn btn-primary">Join Us</button>
      </form>
    </b>
    {%else%}
    <b>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Unsubscribe</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method = "post" action ="{% url 'community_unsubscribe' %}">
          <div class="form-group">
            {% csrf_token %}
            <label for="message-text" class="col-form-label">Are you sure you want to unsubscribe from this community</label>
            <input type="hidden" name="cid" value={{ community.pk}}>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

  </b>
  <b> <form method = "post" action ="{% url 'community_article_create' %}">
      <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="cid" value={{ community.pk}}>
            <input type="hidden" name="status" value='0'>
            <input type="hidden" name="articleof" value='community'>
    </div>
      <button type="submit" class="btn btn-success">Create Article</button>
    </form>
  </b>
  <b> <form method = "post" action ="{% url 'community_group' %}">
    <div class="form-group">
          {% csrf_token %}
          <input type="hidden" name="cid" value={{ community.pk}}>
          <input type="hidden" name="status" value=0>
    </div>
    <button type="submit" class="btn btn-primary">Create Group</button>
  </form>
  </b>
    {% endif %}
    </div>
  </div>
</div>
<br />
<div class="container-fluid  alert alert-primary" role="alert">
  <div class="row">
    <div class="col-sm-8">
      <h3>Description</h3>
      {{myhtml|safe}}{% autoescape off%} {{community.desc }}{% endautoescape%}
    </div>

    <div class="col-sm-4">
      <b>Top 5 Contributors </b><br />
      {% for user in users %}
      {{user.username}}<br />
      {% endfor %}
    </div>
  </div>
</div>
<br />
<div class="container-fluid alert alert-primary" role="alert">
  <div class="row">
    <div class="col-sm-8">
      <h3>Published Content</h3>
      {% for article in articles %}
      <a href="{% url 'article_view' article.article.pk %}">{{article.article.title}}</a><br />
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <h3>Groups</h3>
      {% for group in groups %}
      <a href="{% url 'group_view' group.group.pk  %}">{{group.group.name}}</a><br />
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
