{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>

  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">PoW Creation Requests</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="table" id="handleCommReq">
    <thead class="thead-inverse">
      <tr>
        <th>Place of Worship</th>
        <th>Name</th>
        <th>Description</th>
        <th>Area</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Requested by</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{myhtml|safe}}{% autoescape off%}
      {% for req in requestcommunitycreation %}
        <tr>
          <td><a href="{% url 'community_view' req.requestcommunity.parent.pk %}">{{ req.requestcommunity.parent }}</a></td>
          <td>{{ req.name }}</td>
          <td><small class="text-muted d-block">{{ req.desc }}</small></td>
          <td><small class="text-muted d-block">{{ req.area }}</small></td>
          <td><small class="text-muted d-block">{{ req.city }}</small></td>
          <td><small class="text-muted d-block">{{ req.state }}</small></td>
          <td><small class="text-muted d-block">{{ req.pincode }}</small></td>
          <td>{{ req.requestcommunity.requestedby }}</td>
          <td>{{ req.requestcommunity.email }}</td>
          <td>{{ req.status }}</td>
          <td>
            {% if req.status == 'Requested' %}
                <div class="btn-group" role="group" aria-label="Basic example">

                  <button type="radio" name="commaccept" value="accept" class="btn btn-link" data-toggle="modal" data-target="#modalaccept" data-whatever="@mdo" id="commrejectstatus">Accept</button>
                  <div class="modal fade" id="modalaccept" tabindex="-1" role="dialog" aria-labelledby="acceptcomm" aria-hidden="true">
                    <div class="modal-dialog text-left" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Verify details and Accept</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method = "post" action ="{% url 'handle_community_creation_requests' %}">
                            {% csrf_token %}
                            <input type='hidden' name = 'status' value='accept'/>
                            <input type='hidden' name = 'pk' value ={{req.pk}} />
                            <input type='hidden' name = 'community_parent' value ={{req.parent.pk}} />            
                            <div class="form-group">
                              <label for="reason-text" class="col-form-label">Verify</label>
                              <textarea class="form-control" id="reason-text"></textarea>                                              
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          <button id="commaccept" type="submit" class="btn btn-primary">Yes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button type="radio" name="commrejectmodify" value="rejectmodify" class="btn btn-link" data-toggle="modal" data-target="#modalRejectmodify" data-whatever="@mdo" id="commrejectstatus">Send for modification</button>
                  <div class="modal fade" id="modalRejectmodify" tabindex="-1" role="dialog" aria-labelledby="RejectArticleModal" aria-hidden="true">
                    <div class="modal-dialog text-left" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Send back for modification</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method = "post" action ="{% url 'handle_community_creation_requests' %}">
                            {% csrf_token %}
                            <input type='hidden' name = 'status' value='rejectModify'/>
                            <input type='hidden' name = 'pk' value ={{req.pk}} />
                            <input type='hidden' name = 'community_parent' value ={{req.parent.pk}} />            
                            <div class="form-group">
                              <label for="reason-text" class="col-form-label">Enter more details about what modification are required</label>
                              <textarea class="form-control" id="reason-text"></textarea>                                              
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          <button id="commReject" type="submit" class="btn btn-primary">Yes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button type="radio" name="commrejectexists" value="rejectasexists" class="btn btn-link" data-toggle="modal" data-target="#modalRejectasExists" data-whatever="@mdo" id="commrejectstatus">Reject as PoW exists</button>
                  <div class="modal fade" id="modalRejectasExists" tabindex="-1" role="dialog" aria-labelledby="RejectArticleModal" aria-hidden="true">
                    <div class="modal-dialog text-left" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Rejecting as PoW exists</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method = "post" action ="{% url 'handle_community_creation_requests' %}">
                            {% csrf_token %}
                            <input type='hidden' name = 'status' value='rejectExists'/>
                            <input type='hidden' name = 'pk' value ={{req.pk}} />
                            <input type='hidden' name = 'community_parent' value ={{req.parent.pk}} />            
                            <div class="form-group">
                              <label for="reason-text" class="col-form-label">Enter the existing URL</label>
                              <textarea class="form-control" id="reason-text"></textarea>                                              
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          <button id="commReject" type="submit" class="btn btn-primary">Yes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% endautoescape%}
    </tbody>
  </table>
{% endblock %}
