{% extends 'base.html' %}
{% load comments %}
{% load comments_xtd %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  <li class="breadcrumb-item active">{{ community.name }}</li>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'community_view' community.pk %}">View</a>
  </li>
  {% if membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_community' community.pk %}">Manage Community</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_community_info' community.pk %}">Update community Info</a>
  </li>
  {%endif%}
  {% if  membership.role.name != '' %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community_content' community.pk %}">Community Content</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'community_group_content' community.pk %}">Group Content</a>
  </li>
  {%endif%}

  <li class="nav-item">
	<a class="nav-link" href="/forum/forum/{{ community.forum_link }}">Forums</a>
  </li>

</ul>
<br /><br />

<h1>Visible Content of our Groups</h1>
{% if not commgrparticles %}
<div class="content-page page-404">
   <div class="number">
      Oops!
   </div>
   <div class="details">
      <h3>No Content</h3>
      <p>
         Sorry, currently there is no content which is made visible by the groups of this community.
      </p>
   </div>
</div>
{% endif %}
{{myhtml|safe}}{% autoescape off%}
{% for article in commgrparticles %}
  <div class="row margin-bottom-15">
    <div class="col-md-2 col-sm-2">
      {% if article.image %}
      <img src="{{ MEDIA_URL }}{{ article.image}}" alt="image" class="img-responsive">
      {% else %}
      <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive">
      {%endif%}
    </div>
    <div class="col-md-10 col-sm-10">
      <h3><a href="{% url 'article_view' article.id %}">{{ article.title }}</a></h3>
      <ul class="blog-info">
        <li><i class="fa fa-calendar"></i> {{article.created_at}} </li>
        <li><i class="fa fa-eye"></i> {{article.views}} views </li>
        <li><i class="fa fa-comments"></i> {{ article.username }} </li>
        <li><i class="fa fa-soccer-ball-o"></i>{{article.name}} Group</li>
      </ul>
      <p>
        {{ article.body|striptags|truncatewords:50 }}
        <a href="{% url 'article_view' article.id %}" class="more"> ... Read more <i class="icon-angle-right"></i></a>
      </p>
    </div>
  </div>
  <hr class="blog-post-sep">

{% endfor %}
{% endautoescape%}

{% if commgrparticles.has_other_pages %}
<div class="row">
  <div class="col-md-4 col-sm-4 items-info">{{commgrparticles}}</div>
  <div class="col-md-8 col-sm-8">
    <ul class="pagination pull-right">
    {% if commgrparticles.has_previous %}
      <li><a href="?page={{ commgrparticles.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in commgrparticles.paginator.page_range %}
      {% if commgrparticles.number == i %}
        <li class="" ><span style="background-color:#E84D1C">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if commgrparticles.has_next %}
      <li><a href="?page={{ commgrparticles.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
</div>
<br />
{% endif %}
{% endblock %}
