{% extends 'base.html' %}
{%load static %}
{% load mptt_tags %}
{% block css %}
  <link href="{% static 'jquery-pagination/pagination.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/ol-ext.css' %}" type="text/css">
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% for cat in community.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'community_view' cat.pk %}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{ community.name }}</a></li>


{% endblock %}

{% block content %}

  {% if membership.role.name == 'community_admin' %}
<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link " href="#">View</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_community' community.pk %}">Manage Community</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_community_info' community.pk %}">Update community Info</a>
  </li>
  {% if membership.role.name == 'author' or membership.role.name == 'publisher' or membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community_content' community.pk %}">Contributions</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="{% url 'community_feed' community.pk %}">Feeds</a>
  </li>
  {%endif%}
  <!-- {% if community.parent == None %}
  <li class="nav-item">
	  <a class="nav-link" href="/forum/forum/{{ community.forum_link }}">Forum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community_dashboard' community.pk %}">Insights</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/wiki/{{community.name}}{{ community.pk }}">Wiki</a>
  </li>
  {% endif %} -->
</ul>
{%endif%}

{% if messages %}
    {% for message in messages %}
      {% if message.tags %}<div class="alert alert-{{ message.tags }}" role="alert">{% endif %}{{ message }}</div>
    {% endfor %}

{% endif %}
<br/>

<div class="main">
  <div class="container">

    <div class="row margin-bottom-10">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div class="icp-content-comm-title-image">
          <h2 class="icp-content-comm-title-text">
            {{ community.name}}
          </h2>
        </div>
          <!-- {% if community.image %}
          <img src="{{ MEDIA_URL }}{{ community.image}}" alt="image" class="img-responsive" style="width: 100%; height:350px;">
          {% else %}
          <img src="{{ MEDIA_URL }}default/community_image_default.png" alt="default" class="img-responsive" style="width: 100%; height:350px;">
          {%endif%} -->
      </div>
    </div>

  



    {% if community.level == 0 %}

      {% if not isCurator and not isApprover %}
        <table id="listPow" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
              <tr style="background-color:#89216B">
                <th style="color:white">Name</th>
                <th style="color:white">Address</th>
                <th style="color:white">Accepting Contributions</th>
              </tr>
          </thead>
          <tbody>
            {{myhtml|safe}}{% autoescape off%}
            {% for child in children %}
              <tr>
                <td>
                  {% if child.contribution_status == 'Ongoing' %} 
                    <a href="{% url 'community_view' child.pk %}">{{child.name}}</a>
                  {% else %}
                    {{child.name}}
                  {% endif %}
                </td>
                <td>
                  {{child.area}}, {{child.city}}, {{child.district}}, {{child.state}}, {{child.pincode}} <br />
                  <button onclick="displayLocation({{child.latitude}}, {{child.longitude}})">View Location on Map</button>
                </td>
                <td>
                  {% if child.contribution_status == 'Ongoing' %} 
                    Yes
                  {% else %}
                    No <br />
                    <a href="{{child.publishedlink}}">{{child.publishedlink}}</a> <br />
                    <a href="{% url 'provide_feedback' child.pk %}">Feedback</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            {% endautoescape%}
          </tbody>
        </table>
      {% endif %} <!-- normal user -->


    {% if isApprover %}
      <table id="listPow" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr style="background-color:#89216B">
              <th style="color:white">Name</th>
              <th style="color:white">Address</th>
              <th style="color:white">Curator</th>
              <th style="color:white">Accepted</th>
              <th style="color:white">Rejected</th>
              <th style="color:white">Status</th>
              <th style="color:white">Action</th>
            </tr>
        </thead>
        <tbody>
          {{myhtml|safe}}{% autoescape off%}
          {% for child in children %}
            <tr>
              <td>
                {% if child.contribution_status == 'Ongoing' %} 
                  <a href="{% url 'community_view' child.pk %}">{{child.name}}</a>
                {% else %}
                  {{child.name}}
                {% endif %}
              </td>
              <td>
                {{child.area}}, {{child.city}}, {{child.district}}, {{child.state}}, {{child.pincode}} <br />
                <button onclick="displayLocation({{child.latitude}}, {{child.longitude}})">View Location on Map</button>
              </td>
              <td>{{child.curatorname}}</td>
              <td>
                {% if child.acceptedCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='accepted' %}">{{child.acceptedCount}}</a> <br />
                  {% if not child.merged %}
                    <a href="{% url 'view_all_content' pk1=child.pk state='accepted' %}">View all</a>
                  {% endif %}
                {% else %}
                  {{child.acceptedCount}}
                {% endif %}
              </td>
              <td>
                {% if child.rejectedCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='rejected' %}">{{child.rejectedCount}}</a>
                {% else %}
                  {{child.rejectedCount}}
                {% endif %}
              </td>
              <td>
                {% if child.merged %}
                  {{child.mergedstatus}}
                {% endif %}
              </td>
              <td>
                {% if child.merged %}
                  <a href="{% url 'view_merged_content' child.pk %}">View</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% endautoescape%}
        </tbody>
      </table>
    {% endif %}  <!-- is approver -->


    {% if isCurator %}
      <table id="listPow" class="table table-striped table-bordered" style="font-size: small;" cellspacing="0" width="100%">
        <thead>
            <tr style="background-color:#89216B">
              <th style="color:white">Name & Address</th>
              <th style="color:white">Accepting Contributions</th>
              <th style="color:white">Curator</th>
              <th style="color:white">Draft</th>
              <th style="color:white">Submitted</th>
              <th style="color:white">In-review</th>
              <th style="color:white">Modify</th>
              <th style="color:white">Accepted</th>
              <th style="color:white">Rejected</th>
              <th style="color:white">Status</th>
              <th style="color:white">Action</th>
            </tr>
        </thead>
        <tbody>
          {{myhtml|safe}}{% autoescape off%}
          {% for child in children %}
            <tr>
              <td>
                {% if child.contribution_status == 'Ongoing' %} 
                  <a href="{% url 'community_view' child.pk %}">{{child.name}}</a>
                {% else %}
                  {{child.name}}
                {% endif %}
                <br />
                {{child.area}}, {{child.city}}, {{child.district}}, {{child.state}}, {{child.pincode}} <br />
                <button onclick="displayLocation({{child.latitude}}, {{child.longitude}})">View Location on Map</button> <br />
                <a href="{% url 'update_community_info' child.pk %}">Update information</a>
              </td>
              <td>
                {% if child.contribution_status == 'Ongoing' %} 
                  Yes
                {% else %}
                  No <br />
                  <a href="{% url 'provide_feedback' child.pk %}">Feedback</a>
                {% endif %}
              </td>
              <td>{{child.curatorname}}</td>
              <td>
                {% if child.draftCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='draft' %}">{{child.draftCount}}</a>
                {% else %}
                  {{child.draftCount}}
                {% endif %}
              </td>
              <td>
                {% if child.submittedCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='submitted' %}">{{child.submittedCount}}</a>
                {% else %}
                  {{child.submittedCount}}
                {% endif %}
              </td>
              <td>
                {% if child.inreviewCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='reviewStarted' %}">{{child.inreviewCount}}</a>
                {% else %}
                  {{child.inreviewCount}}
                {% endif %}
              </td>
              <td>
                {% if child.modifyCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='sentToModify' %}">{{child.modifyCount}}</a>
                {% else %}
                  {{child.modifyCount}}
                {% endif %}
              </td>
              <td>
                {% if child.acceptedCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='accepted' %}">{{child.acceptedCount}}</a> <br />
                  {% if not child.merged %}
                    <a href="{% url 'view_all_content' pk1=child.pk state='accepted' %}">View all for merging</a>
                  {% endif %}
                {% else %}
                  {{child.acceptedCount}}
                {% endif %}
              </td>
              <td>
                {% if child.rejectedCount > 0 %}
                  <a href="{% url 'display_curation_list' pk1=child.pk pk2='rejected' %}">{{child.rejectedCount}}</a>
                {% else %}
                  {{child.rejectedCount}}
                {% endif %}
              </td>
              <td>
                {% if child.merged %}
                  {{child.mergedstatus}} <br />
                  {{child.publishedlink}}
                {% endif %}
              </td>
              <td>
                {% if child.merged %}
                  <a href="{% url 'view_merged_content' child.pk %}">view merged content</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% endautoescape%}
        </tbody>
      </table>
    {% endif %} <!-- is curator -->

    {% if createpow or request.user.is_superuser %}
      <form method = "get" action ="{% url 'community_group' community.pk%}">
        <button type="radio" name ="status" value="submit" class="btn btn-success" >Click to create a {{ community.name }}</button>
      </form>
    {% else %}
      {% if user.is_authenticated %}
        <h4>
          Can't find a {{ community.name }}? 
          <form method = "get" action ="{% url 'request_community_creation' %}">
            <input type="hidden" name="cid" value={{community.pk}}>
            <button type="radio" name ="status" value="submit" class="btn btn-success" >Click to add</button>
          </form>
        </h4>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if community.level == 1 %}
  <table id="listPow" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr style="background-color:#89216B">
          <th style="color:white">Name</th>
          <th style="color:white">Contribute</th>
        </tr>
    </thead>
    <tbody>
      {{myhtml|safe}}{% autoescape off%}
      {% for child in children %}
        <tr>
          <td>
            {{child.name}}
          </td>
          <td>
            {% if user.is_authenticated %}
              <a href="{% url 'community_article_create' child.pk %}"><button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Article"><p><i class="fa fa-file-text-o" style="font-size:24px;"></i></p></button></a>
              <a href="{% url 'community_media_create' child.pk 'IMAGE'%}"><button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Image"><p><i class="fa fa-picture-o" style="font-size:24px;"></i></p></button></a>
              <a href="{% url 'community_media_create' child.pk 'AUDIO' %}"><button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Audio"><p><i class="fa fa-music" style="font-size:24px;"></i></p></button></a>
              <a href="{% url 'community_media_create' child.pk 'VIDEO' %}"><button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Video"><p><i class="fa fa-film" style="font-size:24px;"></i></p></button></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% endautoescape%}
    </tbody>
  </table>
  {% endif %}


  </div>
</div>

{% if membership.role.name == 'community_admin' %}
<form method = "get" action ="{% url 'community_group' community.pk%}">
  <button type="radio" name ="status" value="submit" class="btn btn-success" >Create sub-community</button>
</form>
{% endif %}

<div id="view_location_on_map_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="map" class="map" style="width:100%; height:500px;"></div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}
  <script src="{% static 'js/angular.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/ol.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/ol-ext.js' %}"></script>

  <script type="text/javascript">
    var mapview
    var latitude
    var longitude

    function displayLocation(lat, long) {
      latitude = lat;
      longitude = long;
      viewLocationOnMap();
    }

    function viewLocationOnMap() {
      document.getElementById("map").innerHTML = "";
      mapview = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([longitude, latitude]),
          zoom: 16
        })
      });

      var iconStyle = new ol.style.Style({
        image: new ol.style.Icon({
          anchor: [12, 37],
          anchorXUnits: 'pixels', //'fraction'
          anchorYUnits: 'pixels',
          opacity: 0.8,
          src: "{% static 'assets/pages/img/blue.png' %}"
        })
      });        
      var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [
            new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.fromLonLat([longitude, latitude]))
            })
          ]
        })
      });
      layer.setStyle(iconStyle)
      mapview.addLayer(layer);
      $("#view_location_on_map_modal").modal('show');
    } 
  </script>

  <script>
    $('#view_location_on_map_modal').on('shown.bs.modal', function () {
      viewLocationOnMap();
    })
  </script>

{% endblock %}