{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  <li class="breadcrumb-item active">{{ community.name }}</li>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'community_view' community.pk %}">View</a>
  </li>
  {% if membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_community' community.pk %}">Manage Community</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_community_info' community.pk %}">Update community Info</a>
  </li>
  {%endif%}
  {% if membership %}
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'community_content' community.pk %}">Community Content</a>
  </li>
  {%endif%}
</ul>
<br/>

<div class="container-fluid alert alert-primary" role="alert">

  <div class="row">
    <div class="col-sm-8">
      <h2>Visible and Publishable Content</h2><br />

      {% for article in commarticles %}
      <a href="{% url 'article_view' article.article.pk %}">{{article.article.title}}</a><br />
      {% endfor %}

    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
<br />

{% endblock %}
