{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  <li class="breadcrumb-item active">{{ community.name }}</li>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link " href="#">View</a>
  </li>
  {% if membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_community' community.pk %}">Manage Community</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_community_info' community.pk %}">Update community Info</a>
  </li>
  {%endif%}
  {% if membership.role.name == 'author' or membership.role.name == 'publisher' or membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community_content' community.pk %}">Community Content</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community_group_content' community.pk %}">Group Content</a>
  </li>
  {%endif%}
  <li class="nav-item">
	  <a class="nav-link" href="/forum/forum/{{ community.forum_link }}">Forum</a>
  </li>
</ul>
<br/>

<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row ">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-posts">
              <div class="row">
                <div class="col-md-4 col-sm-4" style="width: 250px">
                  {% if community.image %}
                  <img src="{{ MEDIA_URL }}{{ community.image}}" alt="image" class="img-responsive" style="height: 250px; width: 250px">
                  {% else %}
                  <img src="{{ MEDIA_URL }}default/community_image_default.png" alt="default" class="img-responsive">
                  {%endif%}
                </div>
                <div class="col-md-8 col-sm-8">
                  <h2> {{ community.name}} </h2>
                  <h5> {{ community.tag_line }} </h5>
                  <ul class="blog-info">
                    <li><i class="fa fa-institution"></i>Since: {{community.created_at.date}}</li>
                    <li><i class="fa fa-users"></i> {{subscribers}} Members </li>
                    <li><i class="fa fa-file-text"></i>{{pubarticlescount}} Published articles</li>
                    <li><i class="fa fa-soccer-ball-o"></i>{{groupcount}} Public groups </li>
                  </ul>
                  <p>{{ community.desc }}</p>
                </div>
              </div>
            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
              <!-- Contributors START -->
              <h2 class="">Top Contributors</h2>
              <ul class="nav sidebar-categories margin-bottom-40">
                {% for user in users %}
                <li><a href="javascript:;">{{user.username}}</a></li>
                {% endfor %}
              </ul>
              <!-- Contributors END -->
            </div>
            <!-- END RIGHT SIDEBAR -->
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->



<div class="row quote-v1">
  <div class="col-md-7 quote-v1-inner">
    <span>
    {% if membership.role  %}
        {% if membership.role.name == 'author' %}
        Author <i class="fa fa-pencil"></i>
        {% elif membership.role.name == 'publisher' %}
        Publisher <i class="fa fa-print"></i>
        {% else %}
        Community Admin <i class="fa fa-trophy"></i>
        {% endif %}
    {% else %}
        Want to know more ...
    {% endif %}
    </span>
  </div>
  <div class="col-md-5 quote-v1-inner text-right">
      {% if membership == 'FALSE' %}
      <b> <form id = "subscribe" method = "post" action ="{% url 'community_subscribe' %}">
        <div class="form-group">
              {% csrf_token %}
              <input type="hidden" name="cid" value={{ community.pk}}>
      </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in margin-right-10"></i>Join Us</button>

      </form>

    </b>
    {%else%}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-sign-out margin-right-10"></i>Unsubscribe</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if message == 0 %}
        <form method = "post" action ="{% url 'community_unsubscribe' %}">
          <div class="form-group">
            {% csrf_token %}
            <label for="message-text" class="col-form-label">Are you sure you want to unsubscribe from this community</label>
            <input type="hidden" name="cid" value={{ community.pk}}>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-primary">Yes</button>
        </form>
        {%else%}
         <label for="message-text" class="col-form-label">Before unsubscribing please assign some other community admin</label>
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        {%endif %}
      </div>
    </div>
  </div>
</div>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCreateArticle" data-whatever="@mdo"><i class="fa fa-file-text-o margin-right-10"></i>Create Article</button>
    <div class="modal fade" id="modalCreateArticle" tabindex="-1" role="dialog" aria-labelledby="CreateArticleModal" aria-hidden="true">
      <div class="modal-dialog text-left" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Terms and Conditions</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method = "post" action ="{% url 'community_article_create' %}">
              <div class="form-group">
                {% csrf_token %}
                <input type="hidden" name="cid" value={{ community.pk}}>
                <input type="hidden" name="status" value='0'>
                <input type="hidden" name="articleof" value='community'>
                <h4>I confirm that I understand the following terms.</h4>
                <ul>
                <li> Resource created on this portal should not contain explicit or harmful material that is inappropriate for young learners. For more details, please refer to the guidelines </li>
                <li> Resource will not collect any sensitive data or personal information about users, such as name, address, photo or other personally identifiable information. For more details,please refer to the Data and privacy policy</li>
                <li> Resource should not violate copyright laws. For more details, please refer to the License policy</li>
                <li> Resource created or uploaded on this portal will be available for free and public use without limitations- for both commercial and noncommercial purposes</li>
                </ul>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  I accept these terms and conditions and agree to my work being licenced under <a target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/"> CC BY 4.0 </a>
                </div><br />
                <img src="{{ MEDIA_URL }}default/license.png" alt="license" class="img-responsive" style="width:150px"><br />
                <h5><b>I understand that in the case of a violation of any of these terms, my content can be removed by Collaborative Communities.</b></h5>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary">Yes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalCreateGroup" data-whatever="@mdo"><i class="fa fa-soccer-ball-o margin-right-10"></i>Create Group</button>
    <div class="modal fade" id="modalCreateGroup" tabindex="-1" role="dialog" aria-labelledby="CreateGroupModal" aria-hidden="true">
      <div class="modal-dialog text-left" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Terms and Conditions</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method = "post" action ="{% url 'community_group' %}">
              <div class="form-group">
                {% csrf_token %}
	          <input type="hidden" name="cid" value={{ community.pk}}>
	          <input type="hidden" name="status" value=0>
                <h4>I confirm that I understand the following terms.</h4>
                <ul>
		            <li> Since I am creating a group, I shall be the group admin and will manage my group appropriately</li>
                <li> Resource created by anyone in my group should not contain explicit or harmful material that is inappropriate for young learners. For more details, please refer to the guidelines </li>
                <li> Resource will not collect any sensitive data or personal information about users, such as name, address, photo or other personally identifiable information. For more details,please refer to the Data and privacy policy</li>
                <li> Resource should not violate copyright laws. For more details, please refer to the License policy</li>
                <li> Resource created or uploaded on this portal will be available for free and public use without limitations- for both commercial and noncommercial purposes</li>
                </ul>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  I accept these terms and conditions and agree to my work being licenced under <a target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/"> CC BY 4.0 </a>
                </div><br />
                <img src="{{ MEDIA_URL }}default/license.png" alt="license" class="img-responsive" style="width:150px"><br />
                <h5><b>I understand that in the case of a violation of any of these terms, my content can be removed by Collaborative Communities.</b></h5>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary">Yes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  <!--<b> <form method = "post" action ="{% url 'community_group' %}">
    <div class="form-group">
          {% csrf_token %}
          <input type="hidden" name="cid" value={{ community.pk}}>
          <input type="hidden" name="status" value=0>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-soccer-ball-o margin-right-10"></i>Create Group</button>
  </form>
</b>-->
    {% endif %}
    <!-- activities END -->

  </div>
</div>


    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row ">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-4 col-sm-4 blog-sidebar">
              <div class="recent-news margin-bottom-3">
                <h2>Published Articles</h2>
                {{myhtml|safe}}{% autoescape off%}
                {% for article in pubarticles %}
                    <h3><a href="{% url 'article_view' article.id %}">{{article.title}}</a></h3>
                    <p>{{ article.body|striptags|truncatewords:5 }}</p>
                {% endfor %}
                {% endautoescape%}
              </div>
            </div>
            <!-- END LEFT most SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-4 col-sm-4 blog-sidebar">
              <!-- groups START -->
              <h2 class="">Groups</h2>
              <ul class="nav sidebar-categories margin-bottom-40">
                {% for group in groups %}
                <li><a href="{% url 'group_view' group.group.pk  %}">{{group.group.name}}</a></li>
                {% endfor %}
              </ul>
              <!-- groups END -->
            </div>
            <!-- END RIGHT most SIDEBAR -->

            <div class="col-md-4 col-sm-4 blog-tags margin-bottom-20">
              <h2 class="">Members</h2>
              <ul>
                {% for mem in communitymem %}
                  {% if mem.role.name == 'author' %}
                  <li><a href="{% url 'display_user_profile' mem.user.username %}"><i class="fa fa-pencil"></i> {{mem.user.username}}</a></li>
                  {% elif mem.role.name == 'publisher' %}
                  <li><a href="{% url 'display_user_profile' mem.user.username %}"><i class="fa fa-print"></i> {{mem.user.username}}</a></li>
                  {% else %}
                  <li><a href="{% url 'display_user_profile' mem.user.username %}"><i class="fa fa-trophy"></i> {{mem.user.username}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>


{% endblock %}
