{% extends 'base.html' %}
{%load static %}
{% block css %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}

{% load comments %}
{% load comments_xtd %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  <li class="breadcrumb-item active">{{ community.name }}</li>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'community_view' community.pk %}">View</a>
  </li>
  {% if membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_community' community.pk %}">Manage Community</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_community_info' community.pk %}">Update community Info</a>
  </li>
  {%endif%}
  {% if  membership.role.name != '' %}
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'community_content' community.pk %}">Community Content</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community_group_content' community.pk %}">Group Content</a>
  </li>
  {%endif%}

  <li class="nav-item">
	<a class="nav-link" href="/forum/forum/{{ community.forum_link }}">Forums</a>
  </li>

</ul>
<br /><br />

<h1>Visible and Publishable Content</h1>
{% if not commarticles %}
<div class="content-page page-404">
   <div class="number">
      Oops!
   </div>
   <div class="details">
      <h3>No Content</h3>
      <p>
         Sorry, currently there is no content (visible or publishable) belonging to this community.
      </p>
   </div>
</div>
{% endif %}
<div class="infinite-container">
{{myhtml|safe}}{% autoescape off%}
{% for article in commarticles %}
<div class="infinite-item">
  <div class="row margin-bottom-15">
    <div class="col-md-2 col-sm-2">
      {% if article.image %}
        <img src="{{ MEDIA_URL }}{{ article.image}}" alt="image" class="img-responsive">
      {% else %}
        {% if article.type == 'article' %}
          <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive">
        {% endif %}
        {% if article.type == 'course' %}
          <img src="{{ MEDIA_URL }}default/course_image_default.png" alt="default" class="img-responsive">
        {% endif %}
      {%endif%}
    </div>
    <div class="col-md-10 col-sm-10">
      {% if article.type == 'article' %}
        <h3><i class="fa fa-file-text" style="color:red;"></i> <a href="{% url 'article_view' article.id %}">{{ article.title }}</a></h3>
      {% endif %}
      {% if article.type == 'course' %}
        <h3><i class="fa fa-briefcase" style="color:red;"></i> <a href="{% url 'course_view' article.id %}">{{ article.title }}</a></h3>
      {% endif %}
      <ul class="blog-info">
        <li><i class="fa fa-calendar"></i> {{article.created_at}}</li>
        <li><i class="fa fa-eye"></i> {{article.views}} views </li>
        <li><i class="fa fa-user"></i> {{ article.username }}  </li>
        {% if article.state == 'visible' %}
        <li><i class="fa fa-bullhorn"></i> Visible </li>
        {% endif %}
        {% if article.state == 'publishable' %}
        <li><i class="fa fa-bell"></i> Publishable </li>
        {% endif %}
      </ul>
      <p>
        {{ article.body|striptags|truncatewords:50 }}
        {% if article.type == 'article' %}
          <a href="{% url 'article_view' article.id %}" class="more"> ... Read more <i class="icon-angle-right"></i></a>
        {% endif %}
        {% if article.type == 'course' %}
          <a href="{% url 'course_view' article.id %}" class="more"> ... Read more <i class="icon-angle-right"></i></a>
        {% endif %}
      </p>
    </div>
  </div>
  <hr class="blog-post-sep">
</div>
{% endfor %}
{% endautoescape%}
</div>
{% if commarticles.has_next %}
  <a class="infinite-more-link" href="?page={{ commarticles.next_page_number }}">More</a>
{% endif %}

<div class="loading" style="display: none;">
  Loading...
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>
{% endblock %}
