{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>

  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">PoW Creation Requests</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="table" id="handleCommReq" style="font-size: small;">
    <thead class="thead-inverse">
      <tr>
        <th>Faith</th>
        <th>Name</th>
        <th>Description</th>
        <th>Area</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Requested by</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{myhtml|safe}}{% autoescape off%}
      {% for req in requestcommunitycreation %}
        <tr>
          <td><a href="{% url 'community_view' req.requestcommunity.parent.pk %}">{{ req.requestcommunity.parent }}</a></td>
          <td>{{ req.name }}</td>
          <td><small class="text-muted d-block">{{ req.desc }}</small></td>
          <td><small class="text-muted d-block">{{ req.area }}</small></td>
          <td><small class="text-muted d-block">{{ req.city }}</small></td>
          <td><small class="text-muted d-block">{{ req.state }}</small></td>
          <td><small class="text-muted d-block">{{ req.pincode }}</small></td>
          <td>{{ req.requestcommunity.requestedby }}</td>
          <td>{{ req.requestcommunity.email }}</td>
          <td>{{ req.status }}</td>
          <td>
            {% if req.status == 'Requested' %}
                <div class="btn-group" role="group" aria-label="Basic example">

                  <a href="#modalaccept" data-toggle="modal"><i class="fa fa-check fa-border" aria-hidden="true" title="Accept" style='font-size:14px;color:green; border-color:green; margin-right: 5px;'></i></a> 
                  <div class="modal fade" id="modalaccept" tabindex="-1" role="dialog" aria-labelledby="acceptcomm" aria-hidden="true">
                    <div class="modal-dialog text-left" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Verify details and Accept</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method = "post" action ="{% url 'handle_community_creation_requests' %}">
                            {% csrf_token %}
                            <input type='hidden' name = 'status' value='accept'/>
                            <input type='hidden' name = 'pk' value ={{req.requestcommunity.pk}} />
                            <input type='hidden' name = 'community_parent' value ={{req.requestcommunity.parent.pk}} />            

                            <div class="form-group">
                              <label for="name">Name</label>
                              <input class="form-control form-control-sm" id="name" name = 'name' type="text" value={{ req.name }} required>
                            </div>
                            <div class="form-group">
                              <label for="desc">Description</label>
                              <textarea class="form-control is-invalid" id="description" name = 'description' required>{{ req.desc }}</textarea>
                            </div>
                            <div class="form-group">
                              <label for="area">Area</label>
                              <input class="form-control form-control-sm" id="area" name = 'area' type="text" value={{ req.area }} required>
                            </div>
                            <div class="form-group">
                              <label for="city">City</label>
                              <input class="form-control form-control-sm" id="city" name = 'city' type="text" value={{ req.city }} required>
                            </div>
                            <div class="form-group">
                              <label for="state">State</label>
                              <input class="form-control form-control-sm" id="state" name = 'state' type="text" value={{ req.state }} required>
                            </div>
                            <div class="form-group">
                              <label for="pincode">Pincode</label>
                              <input class="form-control form-control-sm" id="pincode" name = 'pincode' type="text" value={{ req.pincode }} required>
                            </div>
                          </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          <button id="commaccept" type="submit" class="btn btn-primary">Yes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a href="#modalRejectmodify" data-toggle="modal"><i class="fa fa-scissors fa-border" aria-hidden="true" title="Send for modification" style='font-size:14px;color:red; border-color:red; margin-right: 5px;'></i></a>
                  <div class="modal fade" id="modalRejectmodify" tabindex="-1" role="dialog" aria-labelledby="RejectArticleModal" aria-hidden="true">
                    <div class="modal-dialog text-left" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Send back for modification</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method = "post" action ="{% url 'handle_community_creation_requests' %}">
                            {% csrf_token %}
                            <input type='hidden' name = 'status' value='rejectModify'/>
                            <input type='hidden' name = 'pk' value ={{req.requestcommunity.pk}} />
                            <input type='hidden' name = 'community_parent' value ={{req.parent.pk}} />            
                            <div class="form-group">
                              <label for="reason-text" class="col-form-label">Enter more details about what modification are required</label>
                              <textarea class="form-control" id="reason-text"></textarea>                                              
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          <button id="commReject" type="submit" class="btn btn-primary">Yes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a href="#modalRejectasExists" data-toggle="modal"><i class="fa fa-times fa-border" aria-hidden="true" title="Reject"  style='font-size:14px;color:red; border-color:red;  margin-right: 5px;'></i></a>
                  <div class="modal fade" id="modalRejectasExists" tabindex="-1" role="dialog" aria-labelledby="RejectArticleModal" aria-hidden="true">
                    <div class="modal-dialog text-left" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">Rejecting the requested Place of Worship</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method = "post" action ="{% url 'handle_community_creation_requests' %}">
                            {% csrf_token %}
                            <input type='hidden' name = 'status' value='rejectExists'/>
                            <input type='hidden' name = 'pk' value ={{req.requestcommunity.pk}} />
                            <input type='hidden' name = 'community_parent' value ={{req.requestcommunity.parent.pk}} />            
                            <div class="form-group">
                              <label for="reason-text" class="col-form-label">Enter the reason for rejection</label>
                              <textarea class="form-control" id="reason-text" name = 'reason' required></textarea>                                              
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                          <button id="commReject" type="submit" class="btn btn-primary">Yes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% endautoescape%}
    </tbody>
  </table>
{% endblock %}
