{% extends 'base.html' %}

{% block content %}



  

<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'community_view' community.pk %}">View</a>
  </li>
  {% if membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_community' community.pk %}">Manage Community</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_community_info' community.pk %}">Update community Info</a>
  </li>
  {%endif%}
  {% if membership.role.name == 'author' or membership.role.name == 'publisher' or membership.role.name == 'community_admin' %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'community_content' community.pk %}">Community Content</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="{% url 'community_feed' community.pk %}">Feeds</a>
  </li>
  {%endif%}
  <li class="nav-item">
	  <a class="nav-link" href="/forum/forum/{{ community.forum_link }}">Forum</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'community_dashboard' community.pk %}">Insights</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/wiki/{{community.name}}{{ community.pk }}">Wiki</a>
  </li>
</ul>
<br/>

<div class="main">
    <div class="container">
          <div class="col-md-12 ">
               <div class="content-page">
                     <div class="row margin-bottom-40">
                      <div class="col-md-12">
                        <div class="pricing-head">
                           <h3>Community View Timeline</h3><br>
                           <div id = "communityview" ></div>
                        </div>
                      </div>
                     </div>
                </div>
           </div>
           <div class="col-md-12">
                <div class="content-page">
                <div class="col-md-8">
                  <div class="pricing-head">
                      <h3>Most Viewed Articles in the Community</h3><br>
                      <div id = "topview"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pricing-head">
                        <h3>Trending Articles</h3>
                        <h4>
                        <span style="text-align:left; padding-left:20px; padding-top:10px">
                        {{myhtml|safe}}{% autoescape off%}
                        {% if status == 'not found' %}
                        <h5>No recent activity</h5>
                        {% else %}
                        {% for article in articles %}
                        <i class="fa fa-pencil" style="top:3px;"></i>
                        <a id= "community_dashboard_a" href="{% url 'article_view' article.article_id %}"> {{article.article_title }}</a><br>
                        {% endfor %}
                        {% endif %}
                        {% endautoescape%} 
                        </span>
                        </h4>
                  </div>
                </div>
           </div>
         </div>
    </div>
</div>

<script>
  var chart = c3.generate({{ communityview|safe }})
  var chart2 = c3.generate({{ topview|safe }})
</script>

{% endblock %}
