{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<form method="post" name = "form" action ="{% url 'request_community_creation' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" ng-model="name" ng-pattern="/^[a-z A-Z ()]*$/" placeholder="Suggest a name for your community" required>


  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea  class="form-control" name="desc" rows="6"></textarea>
    <small id="bodyhelp" class="form-text text-muted">Suggest a description about your community</small>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
</form>
{% endif %}
<br />
{% endblock %}
{% block javascript %}
<script src="{% static 'js/angular.min.js' %}"></script>
{% endblock %}
