{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/ol-ext.css' %}" type="text/css">
<!-- <style>
  .ck-editor__editable {
    min-height: 200px;
  }
</style> -->
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item">PoW Creation</li>
{% if user.is_authenticated %}
<!--li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></-->
{% endif %}
{% endblock %}

{% block content %}


{% if messages %}
{% for message in messages %}
{% if message.tags %}<div class="alert alert-{{ message.tags }}" role="alert">{% endif %}{{ message }}</div>
{% endfor %}
{% endif %}
<br />

<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 20px;">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label for="title">* Name</label>
          {{ form.name }}
          <div class="invalid-feedback">
            {{ form.name.errors }}
          </div>
        </div>

        <div class="form-group">
          <label for="title">* Description</label>
          {{ form.desc }}
          <div class="invalid-feedback">
            {{ form.desc.errors }}
          </div>
        </div>

        <div class="form-group">
          <label for="title">* State</label>
          {{ form.state }}
          <div class="invalid-feedback">{{ form.state.errors }}
          </div>
        </div>

        <div class="form-group">
          <label for="title">* District</label>
          <div class="row">
            <div class="col-md-6">
              {{ form.district }}
              <div class="invalid-feedback">{{ form.district.errors }}</div>
            </div>
            <div id="districtOthers" class="col-md-6">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="title">* City</label>
          <div class="row">
            <div class="col-md-6">
              {{ form.city }}
              <div class="invalid-feedback">{{ form.city.errors }}</div>
            </div>
            <div id="cityOthers" class="col-md-6">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="title">* Pincode</label>
          <div class="row">
            <div class="col-md-6">
              {{ form.pincode }}
              <div class="invalid-feedback">{{ form.pincode.errors }}</div>
            </div>
            <div id="pincodeOthers" class="col-md-6">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="title">* Landmark</label>
          {{ form.area }}
          <div class="invalid-feedback">{{ form.area.errors }}</div>
        </div>

        <div class="form-group">
          <label for="title">* Mark location on the map</label>
          <div id="map" style="width:100%; height:400px;"></div>
        </div>

        <div class="form-group">
          <label for="title">Latitude</label>
          {{ form.latitude }}
          <div class="invalid-feedback">{{ form.latitude.errors }}</div>
        </div>

        <div class="form-group">
          <label for="title">Longitude</label>
          {{ form.longitude }}
          <div class="invalid-feedback">{{ form.longitude.errors }}</div>
        </div>

        <!-- <div class="form-group custom-file">
                    <label for="image">Image</label>
                      {{form.image}}
                      {{form.x}}
                      {{form.y}}
                      {{form.width}}
                      {{form.height}}
                      <div class="invalid-feedback">
                      {{ form.image.errors }}
                    </div>
                </div> -->
        <!-- <div class="form-group">
                    <label for="title">Category</label>
                    {{ form.category }}
                    <div class="invalid-feedback">
                      {{ form.category.errors }}
                    </div>
                  </div> -->
        <!-- <div class="form-group">
                    <label for="title">Tag Line</label>
                    {{ form.tag_line }}
                    <div class="invalid-feedback">
                      {{ form.tag_line.errors }}
                    </div>
                  </div> -->
        {% if form.created_by %}
        <div class="form-group">
          <label for="title">Assign Admin</label>
          {{ form.created_by }}
          <div class="invalid-feedback">
            {{ form.created_by.errors }}
          </div>
        </div>
        {% endif %}

        {% if form.parent %}
        <div class="form-group">
          <label for="title">Group of</label>
          {{ form.parent }}
          <div class="invalid-feedback">
            {{ form.parent.errors }}
          </div>
        </div>
        {% endif %}

        <div class="form-group">
          <button type="submit" class="btn btn-primary" name="submit" value='submit' id="submit">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Crop image for Thubnail</h4>
      </div>
      <div class="modal-body">
        <img src="" id="image" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button type="button" class="btn btn-default js-zoom-in">
            <span class="glyphicon glyphicon-zoom-in"></span>
          </button>
          <button type="button" class="btn btn-default js-zoom-out">
            <span class="glyphicon glyphicon-zoom-out"></span>
          </button>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-primary js-crop-and-upload">Crop</button>
      </div>
    </div>
  </div>
</div>

<br />
{% endblock %}
{% block javascript %}

<script>
  $("#id_state").change(function () {
    var url = "{% url 'get_districts' %}"
    var state = $(this).val();
    $.ajax({
      url: url,
      data: {
        'state': state
      },
      success: function (data) {
        $("#id_district").html(data);
      }
    });
  });
</script>

<script>
  $("#id_district").change(function () {
    var url = "{% url 'get_cities' %}"
    var district = $(this).val();
    var div = document.createElement('DIV');
    div.innerHTML = '<input type="text" value="" name="districtOthers" class="form-control" placeholder="Enter district in this textbox" required>'
    document.getElementById("districtOthers").innerHTML = "";
    if (district == 'Others') {
      document.getElementById("districtOthers").appendChild(div);
      $.ajax({
        url: url,
        data: {
          'district': district,
          'state': $(id_state).val()
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });
    }
    else {
      $.ajax({
        url: url,
        data: {
          'district': district
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });
    }
  });
</script>

<script>
  $("#id_city").change(function () {
    var url = "{% url 'get_pincodes' %}"
    var city = $(this).val();
    var div = document.createElement('DIV');
    div.innerHTML = '<input type="text" value="" name="cityOthers" class="form-control" placeholder="Enter city in this textbox" required>'
    document.getElementById("cityOthers").innerHTML = "";
    if (city == 'Others') {
      document.getElementById("cityOthers").appendChild(div);
      $.ajax({
        url: url,
        data: {
          'city': city,
          'state': $(id_state).val()
        },
        success: function (data) {
          $("#id_pincode").html(data);
        }
      });
    }
    else {
      $.ajax({
        url: url,
        data: {
          'city': city
        },
        success: function (data) {
          $("#id_pincode").html(data);
        }
      });
    }
  });
</script>

<script>
  $("#id_pincode").change(function () {
    var pincode = $(this).val();
    var div = document.createElement('DIV');
    div.innerHTML = '<input type="number" min="100000" max="999999" value="" name="pincodeOthers" class="form-control" placeholder="Enter picode in this textbox" required>'
    document.getElementById("pincodeOthers").innerHTML = "";
    if (pincode == 'Others') {
      document.getElementById("pincodeOthers").appendChild(div);
    }
  });
</script>

<script src="{% static 'js/ckeditor/ckeditor.js'  %}"></script>
<script>
  // ClassicEditor
  //   .create(document.querySelector('#id_desc'))
  //   .then(editor => {
  //     console.log(editor);
  //   })
  //   .catch(error => {
  //     console.error(error);
  //   });

  $(function () {
    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_image").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });
    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 1,
        aspectRatio: 1 / 1,
        minCropBoxWidth: 200,
        minCropBoxHeight: 200,
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });
    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });
    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });
    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
      var cropData = $image.cropper("getData");
      $("#id_x").val(cropData["x"]);
      $("#id_y").val(cropData["y"]);
      $("#id_height").val(cropData["height"]);
      $("#id_width").val(cropData["width"]);
      $("#modalCrop").modal("hide");
    });
  });
</script>
<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'js/cropper.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/ol.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ol-ext.js' %}"></script>

<script type="text/javascript">
  // Layers
  var layers = [new ol.layer.Tile({ source: new ol.source.OSM() })];

  // Popup overlay
  var placemark = new ol.Overlay.Placemark({
    color: '#369',
    contentColor: '#000',
    onshow: function () { console.log("You opened a placemark"); },
    autoPan: true,
    autoPanAnimation: { duration: 250 }
  });

  // The map
  longitude = 74.01024882911037;
  latitude = 15.404310667583033;
  var map;

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getCurrentLatLong, getDefaultLatLong);
  }
  else {
    alert("Geolocation is not supported by this browser.");
  }
  function getCurrentLatLong(position) {
    longitude = position.coords.longitude;
    latitude = position.coords.latitude;
    showMap()
  }
  function getDefaultLatLong(error) {
    longitude = 72.8537904456501;
    latitude = 19.02009319033155;
    showMap()
  }

  function showMap(position) {
    map = new ol.Map({
      target: 'map',
      view: new ol.View({
        zoom: 16,
        center: ol.proj.fromLonLat([longitude, latitude]),
      }),
      interactions: ol.interaction.defaults({ altShiftDragRotate: false, pinchRotate: false }),
      layers: layers,
      overlays: [placemark]
    });

    //Mark existing pow
    details = []
    {% for c in community %}
    detail = []
    detail.push('{{c.name}}')
    detail.push('{{c.latitude}}')
    detail.push('{{c.longitude}}')
    details.push(detail)
    {% endfor %}
    for (let i = 0; i < details.length; i++) {
      style = new ol.style.Style({
        image: new ol.style.Icon({
          anchor: [0.5, 24],
          anchorXUnits: 'fraction',
          anchorYUnits: 'pixels',
          src: 'https://maps.google.com/mapfiles/ms/micons/blue.png'
        }),
        text: new ol.style.Text({
          font: 'bold 12px Arial, Helvetica, sans-serif',
          fill: new ol.style.Fill({
            color: 'white',
          }),
          backgroundFill: new ol.style.Fill({
            color: 'gray'
          }),
          padding: [2, 2, 2, 2],
          text: details[i][0],
          offsetY: -35
        })
      });
      var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [
            new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.fromLonLat([details[i][2], details[i][1]])),
            })
          ]
        })
      });
      layer.setStyle(style)
      map.addLayer(layer);
    }

    // Current selection
    var sLayer = new ol.layer.Vector({
      source: new ol.source.Vector(),
      style: new ol.style.Style({
        image: new ol.style.Circle({
          radius: 5,
          stroke: new ol.style.Stroke({
            color: 'rgb(255,165,0)',
            width: 3
          }),
          fill: new ol.style.Fill({
            color: 'rgba(255,165,0,.3)'
          })
        }),
        stroke: new ol.style.Stroke({
          color: 'rgb(255,165,0)',
          width: 3
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255,165,0,.3)'
        })
      })
    });
    map.addLayer(sLayer);

    // Set the search control 
    var search = new ol.control.SearchNominatim({
      polygon: $("#polygon").prop("checked"),
      reverse: true,
      position: true
    });
    map.addControl(search);

    // Select feature when click on the reference index
    search.on('select', function (e) {
      sLayer.getSource().clear();
      // Check if we get a geojson to describe the search
      if (e.search.geojson) {
        var format = new ol.format.GeoJSON();
        var f = format.readFeature(e.search.geojson, { dataProjection: "EPSG:4326", featureProjection: map.getView().getProjection() });
        sLayer.getSource().addFeature(f);
        var view = map.getView();
        var resolution = view.getResolutionForExtent(f.getGeometry().getExtent(), map.getSize());
        var zoom = view.getZoomForResolution(resolution);
        var center = ol.extent.getCenter(f.getGeometry().getExtent());
        // redraw before zoom
        setTimeout(function () {
          view.animate({
            center: center,
            zoom: Math.min(zoom, 16)
          });
        }, 100);
      }
      else {
        map.getView().animate({
          center: e.coordinate,
          zoom: Math.max(map.getView().getZoom(), 16)
        });
      }
    });

    //Get latitude and longitude
    map.on('click', function (evt) {
      console.info(evt.pixel);
      console.info(map.getPixelFromCoordinate(evt.coordinate));
      console.info(ol.proj.toLonLat(evt.coordinate));
      var coords = ol.proj.toLonLat(evt.coordinate);
      var lat = coords[1];
      var lon = coords[0];
      $("#id_latitude").val(lat)
      $("#id_longitude").val(lon)
      placemark.show(evt.coordinate);
    });
  }
</script>


{% endblock %}