{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<style>
.ck-editor__editable {
    min-height: 200px;
}
</style>
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{community.name}} Community</a></li>
  <li class="breadcrumb-item active">Create an Article</li>
{% endblock %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
      {% if message.tags %}<div class="alert alert-{{ message.tags }}" role="alert">{% endif %}{{ message }}</div>
    {% endfor %}

{% endif %}
<br/>


            <form method="post" enctype="multipart/form-data" novalidate>
                      {% csrf_token %}

                  <div class="form-group">
                    <label for="title">Title</label>
                    {{ form.title }}
                    <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                    <div class="invalid-feedback">
                      {{ form.title.errors }}
                    </div>
                  </div>
                {% if form.body %}
                    <div class="form-group">
                      <label for="title">Body</label>
                      {{ form.body }}
                      <div class="invalid-feedback">
                        {{ form.body.errors }}
                      </div>
                    </div>
                {% endif %}

                  <div class="form-group custom-file">
                    <label for="image">Article Image</label>
                      {{form.image}}
                </div>
                <div class="form-group">
                    <label for="title">Tags</label>
                    <small id="bodyhelp" class="form-text text-muted"><p><a href="#" onclick="$('#id_tags').tagit('removeAll');return false;" >Clear</a></p></small>
                    {{ form.tags }}
                    <div class="invalid-feedback">
                      {{ form.tags.errors }}
                    </div>
                  </div>
                <div class="form-group">
                <button type="submit"  class="btn btn-outline-info"  name="submit" value='submit' id="submit">Create</button>
              </div>
              
          </form>
  
<br />
</div>

</div>


{% endblock %}
{% block javascript %}
<script src="{% static 'js/ckeditor/ckeditor.js'  %}"></script>
<script>
  ClassicEditor
    .create( document.querySelector( '#id_body' ) )
    .then( editor => {
      console.log( editor );
    } )
    .catch( error => {
      console.error( error );
    } );
</script>

<script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  (function($) {
    if (!$.curCSS) {
       $.curCSS = $.css;
    }
})(jQuery);

  $("#id_tags").tagit({

    caseSensitive: false,
    allowDuplicates: false,

});
</script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}">
</script>
{% endblock %}