{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">Curate Contributions</li>
{% endblock %}

{% block content %}
<div class="col-md-12" style="margin-bottom: 20px;">
    <table id="myArticles" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr style="background-color:#89216B">
          <th style="color:white">Faith</th>
          <th style="color:white">Place of Worship</th>
          <th style="color:white">Section</th>
          <th style="color:white">Type</th>
          <th style="color:white">Contributed</th>
          <th style="color:white">Status</th>
          <th style="color:white">Action</th>
          <th style="color:white">Assignee</th>
          <th style="color:white">Comments</th>
          <th style="color:white"></th>
        </tr>
    </thead>
      <tbody>
        {{myhtml|safe}}{% autoescape off%}
        {% for content in lstContent %}
            <tr>
              <td><a href="{% url 'community_view' content.community.parent.parent.pk %}">{{content.community.parent.parent.name}}</a></td>
              <td>
                <a href="{% url 'community_view' content.community.parent.pk %}">{{content.community.parent.name}}</a>
                {% if content.community.parent.area %}
                    {{content.community.parent.area}}, 
                {% endif %}
                {% if content.community.parent.city %}
                    {{content.community.parent.city}}, 
                {% endif %}
                {% if content.community.parent.state %}
                    {{content.community.parent.state}}, 
                {% endif %}
                {% if content.community.parent.pincode %}
                    {{content.community.parent.pincode}}
                {% endif %}
                <td>{{content.community.name}}</td>
                <td>
                    {% if content.type == 'Article' %}
                        <i class="fa fa-file-text" style="color:#89216B;"></i> Article
                    {% endif %}
                    {% if content.type == 'Media' %}
                        {% if content.media.mediatype == 'IMAGE' %}<i class="fa fa-picture-o" style="color:#89216B;"></i> Image {% endif %}
                        {% if content.media.mediatype == 'AUDIO' %}<i class="fa fa-music" style="color:#89216B;"></i> Audio {% endif %}
                        {% if content.media.mediatype == 'VIDEO' %}<i class="fa fa-film" style="color:#89216B;"></i> Video {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{content.user.username}} <br />
                    {% if content.type == 'Article' %}
                        {{content.article.created_at}}
                    {% endif %}
                    {% if content.type == 'Media' %}
                        {{content.media.created_at}}
                    {% endif %}
                </td>
                <!-- <td>
                    {% if content.type == 'Article' %}
                    <a href="{% url 'article_view' content.article.pk %}"> {{ content.article }}  </a>
                    {% endif %}
                    {% if content.type == 'Media' %}
                    <a href="{% url 'media_view' content.media.pk %}"> {{ content.media.title }}  </a>
                    {% endif %}
                </td> -->

                {% if content.deadlinepassed %}
                    <td style="color:red; font-weight: bold;">
                {% else %}
                    <td>
                {% endif %}
                    {% if content.type == 'Article' %}
                        {{content.article.state.name}}
                    {% endif %}
                    {% if content.type == 'Media' %}
                        {{content.media.state.name}}
                    {% endif %}
                </td>
                {% if content.deadlinepassed %}
                    <td style="color:red; font-weight: bold;">
                {% else %}
                    <td>
                {% endif %}
                    {{content.changedby}} <br />
                    {{content.changedon}}
                </td>
                <td>
                    {{content.assignedto}}
                </td>
                <td>
                    {{content.comments}}
                </td>
                <td>
                    {% if content.type == 'Article' %}
                    <a href="{% url 'article_view' content.article.pk %}"> View  </a>
                    {% endif %}
                    {% if content.type == 'Media' %}
                    <a href="{% url 'media_view' content.media.pk %}"> View  </a>
                    {% endif %}
                </td>                
                
            </tr>
        {% endfor %}
        {% endautoescape%}
      </tbody>
    </table>
</div>
<br />
{% endblock %}
