<H1>
Form for default Values
</H1>
<form action="{% url 'defaultval' %}" method="POST">
{% csrf_token %}
Reputaion increase for upvotes: <input type="text" name="upvote" value="{{defaultval.upvote}}"/><br>
Reputation decrease for downvotes: <input type="text" name="downvote" value="{{defaultval.downvote}}"/><br>
Reputation increase for publishing a article (Author): <input type="text" name="published_author" value="{{defaultval.published_author}}"/><br>
Reputation increase for publishing a article (Publisher): <input type="text" name="published_publisher" value="{{defaultval.published_publisher}}"/><br>
Reputation decrease for comment flag: <input type="text" name="comment_flag" value="{{defaultval.comment_flag}}"/><br>
Reputation increase for Reply: <input type="text" name="reply" value="{{defaultval.reply}}"/><br>
Minimum Community Reputation for creating a article: <input type="text" name="crep_for_art" value="{{defaultval.crep_for_art}}"/><br>
Minimum System Reputation for creating a article: <input type="text" name="srep_for_art" value="{{defaultval.srep_for_art}}"/><br>
Minimum System Reputation for creating a community: <input type="text" name="srep_for_comm" value="{{defaultval.srep_for_comm}}"/><br>
Reputation increase for creating a community: <input type="text" name="srep_for_comm_creation" value="{{defaultval.srep_for_comm_creation}}"/><br>
<input type="submit" name="Submit" value="Submit"/>
</form>