{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'display_articles' %}">Articles</a></li>
  <li class="breadcrumb-item active">{{ article.article.title }}</li>
  <li class="breadcrumb-item active">{{ belongs_to }} {{ membership.role }} {{gmember.role}}{{communitygroup.community}}</li>
{% endblock %}
{% load static %}
{% block content %}
{% block javascript %}
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript">
    CKEDITOR.replace( 'editor' );
  </script>
{% endblock %}
<div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'article_view' article.article.pk %}">View</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item active">
    <a class="nav-link  " href="{% url 'article_edit' article.article.pk %}">Edit</a>
  </li>
  {% if membership.role.name == 'community_admin' or gmember.role.name == 'group_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'article_delete' article.article.pk %}">Delete</a>
  </li>
  {% endif %}
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'article_revision' article.article.pk %}">Revisions</a>
  </li>
  {% endif %}
</ul>
</div>
<br/>

    {%if belongs_to == 'community' %}
       {%if transition.to_state.name == 'publish' %}
            {%if cmember.role.name == 'publisher' or cmember.role.name == 'community_admin' and  article.article.created_by != request.user%}


                      <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                        <div class="invalid-feedback"></div>
                      </div>
                      <div class="form-group">
                        <label for="body">Body</label>
                        <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                        <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                        </div>
                      <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                      <input type="hidden" class="form-control"  name="belongs_to" value='{{belongs_to}}' >
                      <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                      <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>{{transition.to_state.name}}</button>
            {% endif %}
        {%else%}
                <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                  <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                  </div>
                  <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <input type="hidden" class="form-control"  name="belongs_to" value='{{belongs_to}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>{{transition.to_state.name}}</button>
        {% endif %}current_state
    {% endif %}

    {%if belongs_to == 'group' %}
        {% if article.article.state.name == 'visible' and cmember.role.name == 'publisher' or article.article.state.name == 'visible' and cmember.role.name == 'community_admin'%}

            <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
              <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
              </div>
            <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
            <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
            <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>{{transition.to_state.name}}</button>
            <button type="submit"  class="btn btn-outline-info"  name="state" value='{{private}}'> Reject </button>
        {%endif%}

           {%if article.article.state.name == 'private' %}
                {%if gmember.role.name == 'publisher' or gmember.role.name == 'group_admin'%}
                <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                  <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                  </div>
                <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>             {{transition.to_state.name}}</button>
            {%endif%}
           {%endif%}
            {%if article.article.state.name == 'private' and gmember.role.name == 'author'%}
                <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                  <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                  </div>
                  <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>

             {%endif%}

             {%if article.article.state.name == 'draft'%}
             <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                <div class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                <label for="body">Body</label>
                <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                </div>
                <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>
                   {{transition.to_state.name}}</button>
             {%endif%}


    {% endif %}
  </form>



</div>

</div>


{% endblock %}
