{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'display_articles' %}">Articles</a></li>
  <li class="breadcrumb-item active">{{ article.article.title }}</li>
{% endblock %}
{% load static %}
{% block content %}
<div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'article_view' article.article.pk %}">View</a>
  </li>
  {% if user.is_authenticated %}
  {% if article.article.state.name != 'publish'%}
        <li class="nav-item active">
          <a class="nav-link " href="{% url 'article_edit' article.article.pk %}">Edit</a>
        </li>

        {% if cmember.role.name == 'community_admin' or gmember.role.name == 'group_admin' %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'article_delete' article.article.pk %}">Delete</a>
          </li>
          {% elif article.article.state.name == 'draft' and request.user == article.article.created_by and cmember.role.name or  article.article.state.name == 'draft' and request.user == article.article.created_by and gmember.role.name %}
          <li class="nav-item">
            <a class="nav-link " href="{% url 'article_delete' article.article.pk %}">Delete</a>
          </li>
          {% endif %}
    {%endif%}
  
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'article_revision' article.article.pk %}">Revisions</a>
  </li>
  {% endif %}
</ul>
</div>
<br/>

    {%if belongs_to == 'community' %}
       {%if transition.to_state.name == 'publish' %}
            {%if cmember.role.name == 'publisher' or cmember.role.name == 'community_admin' and  article.article.created_by != request.user%}


                      <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                        <div class="invalid-feedback"></div>
                      </div>
                      <div class="form-group">
                        <label for="body">Body</label>
                        <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                        <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                        </div>
                        {% if article.article.image %}
                        <img src="{{ MEDIA_URL }}{{ article.article.image}}" alt="image" class="img-responsive" width="150">
                        {% else %}
                        <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive" width="150">
                        {%endif%}<br />
                        <div class="form-group custom-file">
                          <label for="image">Article Image</label>
                          <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-show-preview="false" data-msg-placeholder="Select article image for upload...">
                      </div>
                      <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                      <input type="hidden" class="form-control"  name="belongs_to" value='{{belongs_to}}' >
                      <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                      <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>{{transition.to_state.name}}</button>
            {% endif %}
        {%elif cmember.role%}
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                  <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                  </div>
                  {% if article.article.image %}
                  <img src="{{ MEDIA_URL }}{{ article.article.image}}" alt="image" class="img-responsive" width="150">
                  {% else %}
                  <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive" width="150">
                  {%endif%}<br />
                   <div class="form-group custom-file">
                    <label for="image">Article Image</label>
                    <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-show-preview="false" data-msg-placeholder="Select article image for upload...">
                  </div>
                  <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <input type="hidden" class="form-control"  name="belongs_to" value='{{belongs_to}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>{{transition.to_state.name}}</button>
        {% endif %}
    {% endif %}

    {%if belongs_to == 'group' %}
        {% if article.article.state.name == 'visible' and cmember.role.name == 'publisher' and article.article.created_by != request.user or article.article.state.name == 'visible' and cmember.role.name == 'community_admin' and article.article.created_by != request.user %}

            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
              <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
              </div>
              {% if article.article.image %}
              <img src="{{ MEDIA_URL }}{{ article.article.image}}" alt="image" class="img-responsive" width="150">
              {% else %}
              <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive" width="150">
              {%endif%}<br />
              <div class="form-group custom-file">
                    <label for="image">Article Image</label>
                    <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-show-preview="false" data-msg-placeholder="Select article image for upload...">
                  </div>
              <input type="hidden" class="form-control"  name="belongs_to" value='{{belongs_to}}' >
            <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
            <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
            <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>{{transition.to_state.name}}</button>
            <button type="submit"  class="btn btn-outline-info"  name="private" value='{{private}}'> Reject </button>
        {%endif%}

           {%if article.article.state.name == 'private' %}
                {%if gmember.role.name == 'publisher' or gmember.role.name == 'group_admin'%}
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                  <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                  </div>
                  {% if article.article.image %}
                  <img src="{{ MEDIA_URL }}{{ article.article.image}}" alt="image" class="img-responsive" width="150">
                  {% else %}
                  <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive" width="150">
                  {%endif%}<br />
                  <div class="form-group custom-file">
                    <label for="image">Article Image</label>
                    <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-show-preview="false" data-msg-placeholder="Select article image for upload...">
                  </div>    
                <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>             {{transition.to_state.name}}</button>
            {%endif%}
           {%endif%}
            {%if article.article.state.name == 'private' and gmember.role.name == 'author'%}
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label for="body">Body</label>
                  <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                  <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                  </div>
                  {% if article.article.image %}
                  <img src="{{ MEDIA_URL }}{{ article.article.image}}" alt="image" class="img-responsive" width="150">
                  {% else %}
                  <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive" width="150">
                  {%endif%}<br />
                  <div class="form-group custom-file">
                    <label for="image">Article Image</label>
                    <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-show-preview="false" data-msg-placeholder="Select article image for upload...">
                  </div>  
                  <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>

             {%endif%}

             {%if article.article.state.name == 'draft'%}
             <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" value='{{article.article.title}}' required>
                <div class="invalid-feedback"></div>
              </div>
              <div class="form-group">
                <label for="body">Body</label>
                <textarea id ="editor" class="form-control" name="body" >{{article.article.body}}</textarea>
                <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                </div>
                {% if article.article.image %}
                <img src="{{ MEDIA_URL }}{{ article.article.image}}" alt="image" class="img-responsive" width="150">
                {% else %}
                <img src="{{ MEDIA_URL }}default/article_image_default.png" alt="default" class="img-responsive" width="150">
                {%endif%}<br />
                <div class="form-group custom-file">
                    <label for="image">Article Image</label>
                    <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-show-preview="false" data-msg-placeholder="Select article image for upload...">
                  </div>
                <input type="hidden" class="form-control"  name="current" value='{{article.article.state}}' >
                <button type="submit" class="btn btn-outline-info"  name="state" value='save'>Save changes</button>
                <button type="submit"  class="btn btn-outline-info"  name="state" value='{{transition.to_state.name}}'>
                   {{transition.to_state.name}}</button>
             {%endif%}


    {% endif %}
  </form>
<br />
{% if belongs_to == 'community' and cmember.role == None%}
<div class="panel-body"><div class="alert alert-danger" role="alert"><samp>You are not a member. Please join <a class="nav-link " href="{% url 'community_view' article.community.pk %}">{{ article.community}}</samp></div></div>
{%endif%}
{% if belongs_to == 'group' and gmember.role == None%}
<div class="panel-body"><div class="alert alert-danger" role="alert"><samp>You are not a member. Please join <a class="nav-link " href="{% url 'group_view' article.group.pk %}">{{ article.group}}</samp></div></div>
{%endif%}

</div>

</div>


{% endblock %}
{% block javascript %}

<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
<script>
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
          console.log( editor );
        } )
        .catch( error => {
          console.error( error );
        } );
    </script>
<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}">
</script>
{% endblock %}