{% extends 'base.html' %}

{% block content %}


<div class="content-page page-404">
   <div class="number">
      Oops!
   </div>
   <div class="details">
      <h3>{{message}}</h3>
   </div>
</div>

{% endblock %}

{% block javascript %}
<script>
  window.setTimeout(function(){
    // {{url}} is course_edit and {{argument}} is pk
    {% if url == 'course_edit '%}
      redirectto = '{% url "course_edit" 0 %}'.replace('0', {{argument}})
    {% endif %}
    {% if url == 'course_view'%}
      redirectto = '{% url "course_view" 0 %}'.replace('0', {{argument}})
    {% endif %}
    {% if url == 'image_view' %}
      redirectto = '{% url "image_view" 0 %}'.replace('0', {{argument}})
    {% endif %}
    window.location.href = redirectto;
  }, 2000);
</script>
{% endblock %}
