{% extends 'base.html' %}
{%load static %}
{% block css %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}

{% load activity_tags %}
{% load comments %}
{% load comments_xtd %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
<li class="breadcrumb-item active">{{ group.name }}</li>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link " href="{% url 'group_view' group.pk %}">View</a>
  </li>
  {% if membership.role.name == 'group_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_group' group.pk %}">Manage group</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'update_group_info' group.pk %}">Update group Info</a>
  </li>
  {%endif%}
  {% if membership.role.name == 'author' or membership.role.name == 'publisher' or membership.role.name == 'group_admin' %}

  <li class="nav-item active">
    <a class="nav-link" href="{% url 'group_feed' group.pk %}">Feeds</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'group_content' group.pk %}">Group Content</a>
  </li>
  {%endif%}
</ul>
<br /><br />

<h1>Group Feeds</h1>
{% if not grpfeeds %}
<div class="content-page page-404">
   <div class="number">
      Oops!
   </div>
   <div class="details">
      <h3>No Content</h3>
      <p>
         Sorry, currently there are no news feeds belonging to this group.
      </p>
   </div>
</div>
{% endif %}

<div class="infinite-container">
    <div class="infinite-item">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {{myhtml|safe}}{% autoescape off%} {% for feed in grpfeeds %}
          <div class="col-md-6 col-sm-6 mix mix_all">
            <div class="alert alert-danger" role="alert" style="padding-bottom:1px; padding-top: 1px;">
              <div class="row" style="background-color:mistyrose;">
                <div class="col-md-8">
                  <h4 style="padding-top: 10px;">
                    {% if feed.action_object is None %}
                    <i class="fa fa-user" style="color:red;"></i>
                    <a href="{% url feed.data.actor_href feed.data.actor_href_id %}">{{feed.actor}}</a>
                    {% else %}
                    <i class="fa fa-file-text" style="color:red;"></i>
                    <a href="{% url feed.data.actor_href feed.data.actor_href_id %}" data-toggle="tooltip" title="{{feed.actor}}">{{feed.actor|truncatewords:4}}</a>
                    {% endif %}
                  </h4>
                  <h5>{{feed.verb}} </h5>
                </div>
                <div class="col-md-4 text-right" style="padding-top: 10px;">
                  {% if feed.action_object is not None %}
                  <i class="fa fa-user"></i>
                  <a href="{% url feed.data.action_object_href feed.data.action_object_href_id %}">{{feed.action_object}}</a>
                  <br /> {% endif %}
                  <h5>{{feed.timesince}} ago </h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} {% endautoescape%}
        </div>
      </div>
    </div>
  </div>
  

  {% if grpfeeds.has_next %}
  <a class="infinite-more-link" href="?page={{ feeds.next_page_number }}">More</a>
  {% endif %}
  
  <div class="loading" style="display: none;">
    Loading...
  </div>
  
  {% endblock %} {% block javascript %}
  <script type="text/javascript">
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script> {% endblock %}