{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
  {% endif %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.community.pk %}"> {{ community.community.name }} </a></li>
  <li class="breadcrumb-item active">{{ group.name }}</li>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">View</a>
  </li>
  {% if membership.role.name == 'group_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_group' group.pk %}">Manage Group</a>
  </li>
  {%endif%}
</ul>
<br/>

<div class="container-fluid alert alert-primary" role="alert">
  <div class="row">
    <div class="col-sm-8">
      <h2>{{ group.name }}</h2><br />
    </div>
    <div class="col-sm-4">
      <b>Active Since: </b><br />
      {{subscribers}} Contributors <br />
      N Published articles<br /> <br />
      {% if user.is_authenticated %}
      {% if communitymembership == 'FALSE' %}
      <h2>You have to join the <a href="{% url 'community_view' community.community.pk %}"> {{ community.community.name }} </a> community </h2><br />
      {% else %}
      {% if membership == 'FALSE' %}
      <b> <form id = "subscribe" method = "post" action ="{% url 'group_subscribe' %}">
        <div class="form-group">
              {% csrf_token %}
              <input type="hidden" name="gid" value={{ group.pk}}>
              <input type="hidden" name="cid" value={{cid}}>
      </div>
        <button type="submit" class="btn btn-primary">Join Us</button>
      </form>
    </b>
    {%else%}
    <b> <form method = "post" action ="{% url 'group_unsubscribe' %}">
      <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="gid" value={{ group.pk}}>
            <input type="hidden" name="cid" value={{cid}}>
    </div>
      <button type="submit" class="btn btn-danger">Unsubscribe</button>
    </form>
  </b>
  <b> <form method = "post" action ="{% url 'group_article_create' %}">
      <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="gid" value={{ group.pk}}>
            <input type="hidden" name="status" value='0'>
            <input type="hidden" name="articleof" value='group'>
    </div>
      <button type="submit" class="btn btn-success">Create Article</button>
    </form>
  </b>
    {% endif %}
    {%endif%}
    {% endif %}
    </div>
  </div>
</div>
<br />
<div class="container-fluid  alert alert-primary" role="alert">
  <div class="row">
    <div class="col-sm-8">
      <h3>Description</h3>
      {{myhtml|safe}}{% autoescape off%} {{group.desc}}{% endautoescape%}
    </div>

    <div class="col-sm-4">
      <b>Top 5 Contributors </b><br />
      {% for user in users %}
      {{user.username}}<br />
      {% endfor %}
    </div>
  </div>
</div>
<br />
<div class="container-fluid alert alert-primary" role="alert">
  <div class="row">
    <div class="col-sm-8">
      <h3>Published Content</h3>
      {% for article in articles %}
      <a href="{% url 'article_view' article.article.pk %}">{{article.article.title}}</a><br />
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <b>Similar Groups</b><br />
      Group 1 <br />
      Group 2 <br />
      Group 3 <br />
      Group 4 <br />
      more ...
    </div>
  </div>
</div>

{% endblock %}
