{% extends 'base_mobile.html' %}
{% load static %}

{% block pagecar %}

<div class="page-slider">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <a href="{% url 'user_dashboard' %}">
          <img src="media/default/bg1.png" alt="" style="width:100%;">
        </a>
      </div>
      <div class="item">
        <a href="{% url 'user_dashboard' %}">
          <img src="media/default/sha.png" alt="" style="width:100%;">
        </a>
      </div>
      <div class="item">
        <a href="{% url 'user_dashboard' %}">
          <img src="media/default/bg2.png" alt="" style="width:100%;">
        </a>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<!-- BEGIN SLIDER -->
<!-- <div class="page-slider">
      <div id="carousel-example-generic" class="carousel slide carousel-slider" data-ride="carousel" data-wrap="true" data-interval="4000">
          <ol class="carousel-indicators carousel-indicators-frontend">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
              <div class="item carousel-item-ten active">
                <div class="container">
                    <div class="carousel-position-six">
                        <h2 class="animate-delay carousel-title-v6" data-animation="animated fadeInDown">
                            <b>Be a part of preserving <br /> India's heritage <br />digitally</b>
                        </h2>
                        <p class="carousel-subtitle-v7 margin-bottom-30" data-animation="animated fadeInDown">
                            We invite contributions about <br /> Places of Worship in India
                        </p>
                        <a href="{% url 'login' %}"><p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                          Join now!
                      </p></a>
                  </div>
                </div>
            </div>
              <div class="item carousel-item-eight">
                <div class="container">
                    <div class="carousel-position-six text-uppercase text-center">
                        <h2 class="margin-bottom-20 animate-delay carousel-title-v5" data-animation="animated fadeInDown">
                            Explore the power <br/>
                            <span class="carousel-title-normal">of Collaborative Communities</span>
                        </h2>
                        <p class="carousel-subtitle-v5 border-top-bottom margin-bottom-30" data-animation="animated fadeInDown">Join Us</p>
                    </div>
                </div>
            </div>
            <div class="item carousel-item-nine ">
                <div class="container">
                    <div class="carousel-position-six">
                        <h2 class="animate-delay carousel-title-v6" data-animation="animated fadeInDown">
                            <b>Share about a <br /> Place of Worship!</b>
                        </h2>
                        <p class="carousel-subtitle-v7 margin-bottom-30" data-animation="animated fadeInDown">
                            Many people are contributing <br /> information about places of worship in India
                        </p>
                        <a href="{% url 'login' %}"><p class="carousel-subtitle-v6 text-uppercase" data-animation="animated fadeInDown">
                          Sign up
                      </p></a>
                  </div>
                </div>
            </div>
          </div>
          <a class="left carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <a class="right carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
      </div>
  </div> -->
<!-- END SLIDER -->



<div class="row" style="margin-bottom: 5px; margin-top: 5px;">
  <div class="col-md-6 col-xs-6">
    <div class="service-box-v1"
      style="margin-left: 5px; margin-right:-12px; background-image: linear-gradient(to right, #89216B , #DA4453);">
      <i class="fa fa-users" style="font-size: 50px; margin-top:-10px;"></i><br />
      <h2 class="timer" id="item4" style="color:white; margin-top:-25px;" data-to="{{countcommunity}}"
        data-speed="5000"></h2>
      <h4 style="margin-top: -20px;">Faiths</h4>
    </div>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="service-box-v1"
      style="margin-left: -12px; margin-right: 5px; background-image: linear-gradient(to right, #89216B , #DA4453);">
      <i class="fa fa-soccer-ball-o" style="font-size: 50px; margin-top:-10px;"></i><br />
      <h2 class="timer" id="item4" style="color:white; margin-top:-25px;" data-to="{{countsubcomm}}" data-speed="5000">
      </h2>
      <h4 style="margin-top: -20px;">Places of Worship</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-6">
    <div class="service-box-v1"
      style="margin-left: 5px; margin-right:-12px; background-image: linear-gradient(to right, #89216B , #DA4453);">
      <i class="fa fa-file-text" style="font-size: 50px; margin-top:-10px;"></i><br />
      <h2 class="timer" id="item4" style="color:white; margin-top:-25px;" data-to="{{countarticles}}" data-speed="5000">
      </h2>
      <h4 style="margin-top: -20px;">Contributions</h4>
    </div>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="service-box-v1"
      style="margin-left: -12px; margin-right: 5px; background-image: linear-gradient(to right, #89216B , #DA4453);">
      <i class="fa fa-soccer-ball-o" style="font-size: 50px; margin-top:-10px;"></i><br />
      <h2 class="timer" id="item4" style="color:white; margin-top:-25px;" data-to="{{countusers}}" data-speed="5000">
      </h2>
      <h4 style="margin-top: -20px;">Users</h4>
    </div>
  </div>
</div>

<br /><br />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          {{myhtml|safe}}{% autoescape off%}
          {% for comm in community %}
            {% if forloop.counter == 1 %}
              <div class="item active">
                <div class="col-xs-4">
                  <a href="{% url 'community_view' comm.pk %}">
                    <img src="{{ MEDIA_URL }}{{ comm.image}}" class="img-responsive" style="border: 4px solid #89216B; border-radius: 50%;"> <br />
                    <h5 style="text-align: center; font-weight: bold;">{{comm.name}}</h5>
                  </a>
                </div>
              </div>
            {% else %}
              <div class="item">
                <div class="col-xs-4">
                  <a href="{% url 'community_view' comm.pk %}">
                    <img src="{{ MEDIA_URL }}{{ comm.image}}" class="img-responsive" style="border: 4px solid #89216B; border-radius: 50%;"> <br />
                    <h5 style="text-align: center; font-weight: bold;">{{comm.name}}</h5>
                  </a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          {% endautoescape%}    
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>

<br />

<!-- BEGIN STEPS -->
<div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
  <div class="col-md-4 col-sm-4 front-step-col">
    <div class="front-step front-step1">
      <h2>Join</h2>
      <p>Join our communities and groups</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 front-step-col">
    <div class="front-step front-step2">
      <h2>Collaborate</h2>
      <p>Start collaborating by creating articles and groups</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 front-step-col">
    <div class="front-step front-step3">
      <h2>Publish</h2>
      <p>Get your articles published and let all read them</p>
    </div>
  </div>
</div>
<!-- END STEPS -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('.multi-item-carousel').carousel({
    interval: false
  });
  
  $('.multi-item-carousel .item').each(function(){
    var next = $(this).next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    if (next.next().length>0) {
      next.next().children(':first-child').clone().appendTo($(this));
    } else {
      $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
    }
  });
  </script>
  
{% endblock %}