{% extends 'base.html' %}



{% block content %}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#res">Resources</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>

  </ul>
  
  <div class="tab-content">
    <div id="res" class="tab-pane fade in active">
      <h3>Assign points for Resources</h3>
      <br/>
      <form method='post' action='{% url 'manage_resource_score' %}'>
        {% csrf_token %}
        <div class="form-group row">
          <label for="can_vote" class="col-sm-3 col-form-label">User can upvote unpublish content.</label>
          <div class="col-sm-9">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="can_vote" name="can_vote" {% if res.can_vote_unpublished %} checked {% endif %}>
              <label class="form-check-label" for="can_vote">
                (Setted as ={{res.can_vote_unpublished}})
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="upvote" class="col-sm-3 col-form-label">Points for upvotes</label>
          <div class="col-sm-3">
            <input type="number" class="form-control" id="upvote" name="upvote" value="{{res.upvote_value}}">
          </div>
          <label class="form-text-label" for="upvote">
              (Value assigned = {{res.upvote_value}})
            </label>
        </div>
        <div class="form-group row">
          <label for="downvote" class="col-sm-3 col-form-label">Points for downvotes</label>
          <div class="col-sm-3">
            <input type="number" class="form-control" id="downvote" name="downvote" value="{{res.downvote_value}}">
          </div>
          <label class="form-text-label" for="downvote">
              (value assigned = {{res.downvote_value}})
            </label>
        </div>
        <div class="form-group row">
          <label for="can_report" class="col-sm-3 col-form-label">User can report content.</label>
          <div class="col-sm-9">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="can_report" name="can_report" {% if res.can_report %} checked {% endif %}">
              <label class="form-check-label" for="can_report">
                (Setted as = {{res.can_report}})
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="pub_content" class="col-sm-3 col-form-label">Points for publish content</label>
          <div class="col-sm-3">
            <input type="number" class="form-control" id="pub_content" name="pub_content" value="{{res.publish_value}}">
          </div>
          <label class="form-text-label" for="pub_content">
              (Value assigned = {{res.publish_value}})
            </label>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div id="users" class="tab-pane fade">
      <h3>User Reputation Management</h3>
      <br/>
      <form method='post' action='{% url 'manage_role_score' %}'>
          {% csrf_token %}
          <div class="form-group row">
              <label for="pub_value" class="col-sm-3 col-form-label">Points for acheiving Publisher Role</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" id="pub_value" name="pub_value" value="{{scr.publisher}}">
              </div>
              <label class="form-text-label" for="pub_value">
                  (Value assigned = {{scr.publisher}})
              </label>
            </div>
            <div class="form-group row">
                <label for="author_value" class="col-sm-3 col-form-label">Points for acheiving Author Role</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="author_value" name="author_value" value="{{scr.author}}">
                </div>
                <label class="form-text-label" for="author_value">
                    (Value assigned = {{scr.author}})
                </label>
              </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
    </div>
  </div>

{% endblock %}