{% extends 'base.html' %}



{% block content %}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#author">Author</a></li>
    <li><a data-toggle="tab" href="#publisher">Pusblisher</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="author" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some content.</p>
    </div>
    <div id="publisher" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
  </div>

{% endblock %}