{% extends 'base_mobile.html' %}


{% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item ">My Profile</li>
{% endblock %}



  {% if user.is_authenticated %}
  <li class="breadcrumb-item active">{{user.username}}'s Dashboard </li>
  {% endif %}

{% block content %}
<div class="recent-work margin-bottom-40">
  <div class="margin-bottom-40" style="width: 300px;">
      <div class="recent-work-item" style="margin-left: 50px;">
        <em>
          {% if user_profile.photo %}
          <img src="{{ MEDIA_URL }}{{user_profile.photo}}" class="img-responsive" style="height: 300px; width: 300px;">
          <a href="{% url 'update_profile' %}"><i class="fa fa-link"></i></a>
          <a href="{{ MEDIA_URL }}{{user_profile.photo}}" class="fancybox-button" title="{{user.username}}" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
          {% else %}
          <img src="{{ MEDIA_URL }}default/avatar.png" class="img-responsive">
          <a href="{% url 'update_profile' %}"><i class="fa fa-link"></i></a>
          <a href="{{ MEDIA_URL }}default/avatar.png" class="fancybox-button" title="{{user.username}}" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
          {%endif%}
        </em>
      </div>
  </div>

  <div class="" style="margin-left: 40px;">
        <!-- <h2> Welcome {{user.username}} </h2><br /> -->
        <h3>
            <i class="fa fa-user" style="width:30px"></i>
            {{user.first_name}} {{user.last_name}}
        </h3>
        <h3><i class="fa fa-envelope" style="width:30px"></i> {{user.email}}</h3> <br /><br />
        <form>
          <div class="form-group" style="text-align: center;">
          <a href="/settings/password" class="btn btn-success"><h4>Change Password</h4></a>
        </form>
  </div>
</div>



<br />


<br />
{% endblock %}
