{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
{% if request.POST.mediaof == "community" %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{community.name}} Community</a></li>
{% endif %}
{% if request.POST.mediaof == "group" %}
  <li class="breadcrumb-item active"><a href="{% url 'group_view' group.pk %}">{{group.name}} Group</a></li>
{% endif %}
  <li class="breadcrumb-item active">Upload {{request.POST.mediatype}}</li>
{% endblock %}

{% block content %}



{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="give a title to your media" required>
    <div class="invalid-feedback"></div>
  </div>
      {% if request.POST.mediaof == "community" %}
        <input type = 'hidden' name = 'cid' value = {{community.pk}}>
      {% endif %}
      {% if request.POST.mediaof == "group" %}
        <input type = 'hidden' name = 'gid' value = {{group.pk}}>
      {% endif %}
    <input type="hidden" name="status" value={{status}}>
  <div class="form-group custom-file">
    <label for="media">Upload {{request.POST.mediatype}}</label>
    {% if request.POST.mediatype == 'Image' %}
      <input type="file" name ="mediafile" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-msg-placeholder="Select an image for upload..." required>
      <input type='hidden' id="mediatype" name="mediatype" value="Image">
    {% endif %}
    {% if request.POST.mediatype == 'Audio' %}
      <input type="file" name ="mediafile" class="file" data-allowed-file-extensions='["mp3", "wav","ogg"]' data-show-upload="false" data-msg-placeholder="Select an audio for upload..." required>
      <input type='hidden' id="mediatype" name="mediatype" value="Audio">
    {% endif %}
    {% if request.POST.mediatype == 'Video' %}
      <input type="file" name ="mediafile" class="file" data-allowed-file-extensions='["vob", "webm","avi","mp4","wmv"]' data-show-upload="false" data-msg-placeholder="Select a video for upload..." required>
      <input type='hidden' id="mediatype" name="mediatype" value="Video">
      {% endif %}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" required>
      
    </textarea>
  </div>
  {% if status == 1 %}
  <button id="media_create" type="submit" class="btn btn-primary">Create</button>
  {% endif %}
</form>
<br />
{% endif %}
{% endblock %}
{% block javascript %}

<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}"></script>
{% endblock %}
