{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}

{% if request.POST.articleof == "group" %}
  <li class="breadcrumb-item active"><a href="{% url 'group_view' group.pk %}">{{group.name}} Group</a></li>
{% endif %}
{% if request.POST.articleof == "community" %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{community.name}} Community</a></li>
{% endif %}
  <li class="breadcrumb-item active">Create an Article</li>
{% endblock %}

{% block content %}



{% if user.is_authenticated %}

<div class="overlay">
    <div class="nb-spinner"></div>
</div>


<!-- //////////////////////////////////////////////////////////// -->
<!-- +++++++++++++++++++++++HTML for slider++++++++++++++++++++++ -->
<!-- //////////////////////////////////////////////////////////// -->

<div class="card step-progress">
    <div class="step-slider">
      <div data-id="step1" class="step-slider-item"></div>
      <div data-id="step2" class="step-slider-item"></div>
    </div>
    <div class="step-content">
      <div id="step1" class="step-content-body">

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++First form:for title of article+++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

          <form id="step_1" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" required>
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
              <!-- <label for="body">Body</label>
              <textarea id ="editor" class="form-control" name="body" ></textarea> -->
                {% if request.POST.articleof == 'group' %}
                  <input type = 'hidden' name = 'gid' value = {{group.pk}}>
                  {% endif %}
                  {% if request.POST.articleof == "community" %}
                  <input type = 'hidden' name = 'cid' value = {{community.pk}}>
                {% endif %}
              <input type="hidden" id="status" name="status" value='1'>
              <!-- <input type="hidden" name="update" value=0> -->
            </div>
            <div class="form-group custom-file">
              <label for="image">Upload Image</label>
              <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-msg-placeholder="Select article image for upload...">
            </div>
            {% if status == 1 %}
            <button id="create"  style="visibility: hidden;"  class="btn btn-primary">Create Article and Go to Next Step</button>
            {% endif %}
          </form>
        
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++End of First form+++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    </div>
    <div id="step2" class="step-content-body out">
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++Second form:for body of article+++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

        <form id="step_2" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="form-group">
              <iframe id="etherpad_iframe" src="{{url}}/p/{{article.id}}?userName={{request.user}}" style="height: 95%; width: 100%; min-height: 500px; display: block"></iframe>
              {% if request.POST.articleof == 'group' %}
                <input type = 'hidden' name = 'gid' value = {{group.pk}}>
                {% endif %}
                {% if request.POST.articleof == "community" %}
                <input type = 'hidden' name = 'cid' value = {{community.pk}}>
              {% endif %}
            <input type="hidden" id="status" name="status" value='2'>
          </div>
          <button id="save" style="visibility: hidden;"  class="btn btn-primary">Save</button>
        </form>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++End of Second form++++++++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

      </div>
      <div id="stepLast" class="step-content-body out">Your article has been successfully created.</div>
      <div class="step-content-foot">
        <button id="prev" type="button" class="btn btn-primary" name="prev">Prev</button>
      <!-- <button id="next" type="button" class="btn btn-primary" disabled name="next">Next</button> -->
        <button id="next1" type="button" class="btn btn-primary"  name="next1">Next</button>
        <button id="next2" type="button" class="btn btn-primary out"  name="next2">Next</button>
        <button id="finish" type="button" class="btn btn-primary out" name="finish">Finish</button>
      </div>
    </div>
  </div>


<!-- //////////////////////////////////////////////////////////// -->
<!-- ++++++++++++++++++++++++End html for slider+++++++++++++++++ -->
<!-- //////////////////////////////////////////////////////////// -->


{% endif %}
{% endblock %}
{% block javascript %}

<style type="text/css">
  
  .overlay {
      background: #e9e9e9; 
      display: none;       
      position: fixed; 
      top: 0;                  
      right: 0;             
      bottom: 0;
      left: 0;
      opacity: 0.5;
      z-index: 1000;
  }

  .nb-spinner {
    position:fixed;
    /*z-index: 1000;*/
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid #e94d1c;
    border-right: 4px solid transparent;
    border-radius: 50% !important;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
  }

-webkit-@keyframes spin {
  -webkit-from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  -webkit-to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


</style>

<script type="text/javascript">
    var pos =0;
    var status= 1;
    var stepItem = $('.step-progress .step-slider .step-slider-item');


    // $('#title').on("keydown",function(){
    //   // document.getElementById('next').disabled=true;
    //   // alert("Hello");
    // })
  

        function check(){
            if(pos==0)
            {
              $(".step-content-body").addClass("out");
              $(".step-content-foot button").addClass("out");
              $("#step1").removeClass("out");
              $("#next1").removeClass("out");
              $("#prev").removeClass("out");
              $(stepItem[1]).removeClass('active');
              $(stepItem[0]).removeClass('active');
            }
            if(pos==1)
            {
              $(".step-content-body").addClass("out");
              $(".step-content-foot button").addClass("out");
              $("#step2").removeClass("out");
              $("#next2").removeClass("out");
              $("#prev").removeClass("out");
              $(stepItem[0]).addClass('active');
              $(stepItem[1]).removeClass('active');
            }
            if(pos==2)
            {
              $(".step-content-body").addClass("out");
              $(".step-content-foot button").addClass("out");
              $("#stepLast").removeClass("out");
              $("#prev").removeClass("out");
              $("#finish").removeClass("out");
              $(stepItem[0]).addClass('active');
              $(stepItem[1]).addClass('active');
            }
          }
        var id=0;
        var update =0;

        // $("#next1").on("click",function(){
        //   $("#create").click();
        // })

        // $("#next2").on("click",function(){
        //   $("#save").click();
        // })
// ========================================================
// =================For part 1 of the form=================
// ========================================================
        $("#step_1").submit(function(e) {
          e.preventDefault();    
          var formData = new FormData(this);
          formData.append("pk",id);
          $(".overlay")[0].style.display="block";

          $.ajax({
              url: '',
              type: 'POST',
              data: formData,
              success: function (data) {
                  console.log(data.article_id);
                  console.log(data.username);
                  console.log(data.community_id);
                  console.log(data.url);
                  console.log(data.articleof);



                  if(update==0)
                  {
                    var src= data.url + '/p/' + data.article_id + '?userName=' +data.username;
                    console.log(src);
                    document.getElementById("etherpad_iframe").src= src;
                    id = data.article_id; 
                    // document.getElementById('create').innerText="Update Article and Go to Next Step";
                    update= 1;
                    document.getElementById('status').value='3';   
                    // document.getElementById('next').disabled=false;
                  }
                  // check();
                  console.log("Checking done");
              },
              complete: function(){
                 setTimeout(function(){
                  $(".overlay")[0].style.display="none";
                 check();
                },3000);
              },
              cache: false,
              contentType: false,
              processData: false
          });
      });
// ========================================================
// ========================================================
// ========================================================

// ========================================================
// ==================For part 2 of the form================
// ========================================================

        $("#step_2").submit(function(e) {
            e.preventDefault();    
            // console.log("Submitting form");
            var formData = new FormData(this);
            // console.log(formData);
            formData.append("pk",id);
            // alert("Sending ajax 2");
            $.ajax({
                url: '',
                type: 'POST',
                data: formData,
                success: function (data) {
                    // alert(data);
                    console.log(data.article_id);
                    console.log(data.body);
                    console.log("Done checkin");
                },
                fail: function(){
                  alert("Something wrong happened!!")
                },
                 complete: function(){
                  check();
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });

// ========================================================
// ========================================================
// ========================================================
  
    $("#next1").on("click",function(){$("#create").click();if(pos<2)pos++;console.log(pos);});

    $("#next2").on("click",function(){
      // console.log("Save Clicked...");
      $("#save").click();if(pos<2)pos++;console.log(pos);
    });
    
    $("#prev").on("click",function(){if(pos>0)pos--;console.log(pos);check();});
    $("#finish").on("click",function(){location.href = "/article-view/"+id+"/";}); 

    </script>


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +++++++++++++++Styles and script for the slider+++++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<style type="text/css">

#create, #save{
  position:relative;
  top:50px;
}

  .card {
  position: relative;
  margin-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.step-progress {
  padding: 16px;
  background-color: #FAFAFA;
  margin: 0 auto;
}

.step-progress .step-slider {
  width: 100%;
}

.step-progress .step-slider .step-slider-item {
  width: 50%;
  height: 1px;
  position: relative;
  float: left;
  background-color: #E0E0E0;
}

.step-progress .step-slider .step-slider-item:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: -6px;
  right: 0;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s ease-out 0.5s;
  -webkit-transition: all 0.3s ease-out 0.5s;
}

.step-progress .step-slider .step-slider-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #B0BEC5;
  z-index: 1;
  -webkit-transition: all 0.5s ease-out;
}

.step-progress .step-slider .step-slider-item.active:before {
  width: 100%;
  background-color: #FF8F00;  
}

.step-progress .step-slider .step-slider-item.active:after {
  border-color: #FF8F00;
}

.step-content {
  padding: 16px 0;
}

.step-content .step-content-foot {
  text-align: right;
}

.step-content .step-content-foot button {
  border: 0;
  padding: 8px 16px;
  /*background-color: #CFD8DC;*/
  font-size: 14px;
  border-radius: 3px;
  outline: 0;
}

.step-content .step-content-foot button:active {
  /*background-color: rgba(255, 255, 255, 0.2);*/
}

.step-content .step-content-foot button.out {
  display: none;
}

.step-content .step-content-foot button[disabled=disabled],.step-content .step-content-foot button:disabled {
  background:#ef4d1c!important;
}

.step-content .step-content-foot button.active {
  background: #e94d1c!important;
}

.step-content .step-content-body {
  padding: 16px 0;
  font-size: 18px;
}

.step-content .step-content-body.out {
  display: none;
}  


</style>



<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- ++++++++++++++++End styless and scritps for slider++++++++++ -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


<script>

    </script>
<!-- <script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script> -->
<script type="text/javascript" src="{% static 'assets/plugins/lib/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}">
</script>
{% endblock %}
