{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
  {% endif %}

{% endblock %}

{% block content %}
{% block javascript %}
{% endblock %}

{{errormessage}}

{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Give a name to your community" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label for="tag_line">Tag Line</label>
    <input type="text" class="form-control" id="tag_line" name="tag_line" placeholder="Give a tag line to your community" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea  class="form-control" name="desc" rows="6"></textarea>
    <small id="bodyhelp" class="form-text text-muted">Let people know what this community is about</small>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" name="category" placeholder="Give a category to your community" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username of the user who will be the community admin" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label class="custom-file">
      Community Image
      <input type="file" class="custom-file-input" id="community_image" name ="community_image" required>
      <span class="custom-file-control"></span>
    </label>
  </div>
  <button id="create" type="submit" class="btn btn-primary">Create</button>
</form>
<br />
{% endif %}
{% endblock %}
