{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active"><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
  {% endif %}
  <li class="breadcrumb-item active">Create a Group in <h1>{{ community.name }} Community</h1></li>
  


{% endblock %}

{% block content %}
{% block javascript %}
{% endblock %}


{% if user.is_authenticated %}
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="title" name="name" placeholder="Give a name to your group" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <textarea  class="form-control" name="desc" rows="6"></textarea>
    <input type = 'hidden' name = 'cid' value = {{community.pk}}>
    <input type="hidden" name="status" value={{status}}>
    <small id="bodyhelp" class="form-text text-muted">Let people know what this group is about</small>
  </div>
  <div class="form-group">
  <label for="visibility">Visibility</label>
    <select name="visibility">
      <option value="1">Public</option>
      <option value="0">Private</option>
    </select>
  </div>
  {% if status == 1 %}
  <button type="submit" class="btn btn-primary">Create</button>
  {% endif %}
</form>
{% endif %}
{% endblock %}
