{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
{% if request.POST.courseof == "community" %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{community.name}} Community</a></li>
{% endif %}
  <li class="breadcrumb-item active">Create a Course</li>
{% endblock %}

{% block content %}



{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="give a name to your course" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label for="body">Description</label>
    <textarea id ="editor" class="form-control" name="desc" ></textarea>
      {% if request.POST.courseof == "community" %}
        <input type = 'hidden' name = 'cid' value = {{community.pk}}>
      {% endif %}
    <input type="hidden" name="status" value={{status}}>
  </div>
  {% if status == 1 %}
  <button type="submit" class="btn btn-primary">Create</button>
  {% endif %}
</form>
<br />
{% endif %}
{% endblock %}
{% block javascript %}

<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
<script>
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
          console.log( editor );
        } )
        .catch( error => {
          console.error( error );
        } );
    </script>
<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
</script>
{% endblock %}
