{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
{% if request.POST.articleof == "group" %}
  <li class="breadcrumb-item active"><a href="{% url 'group_view' group.pk %}">{{group.name}} Group</a></li>
{% endif %}
{% if request.POST.articleof == "community" %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{community.name}} Community</a></li>
{% endif %}
  <li class="breadcrumb-item active">Create an Article</li>
{% endblock %}

{% block content %}



{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="give a title to the content" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea id ="editor" class="form-control" name="body" ></textarea>
      {% if request.POST.articleof == 'group' %}
        <input type = 'hidden' name = 'gid' value = {{group.pk}}>
        {% endif %}
        {% if request.POST.articleof == "community" %}
        <input type = 'hidden' name = 'cid' value = {{community.pk}}>
      {% endif %}
    <input type="hidden" name="status" value={{status}}>
  </div>
  <div class="form-group custom-file">
    <label for="image">Upload Image</label>
    <input type="file"   name ="article_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-msg-placeholder="Select article image for upload...">
  </div>
  {% if status == 1 %}
  <button type="submit" class="btn btn-primary">Create</button>
  {% endif %}
</form>
<br />
{% endif %}
{% endblock %}
{% block javascript %}

<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
<script>
      ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
          console.log( editor );
        } )
        .catch( error => {
          console.error( error );
        } );
    </script>
<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}">
</script>
{% endblock %}
