{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
{% if request.POST.mediaof == "community" %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{community.name}} Community</a></li>
{% endif %}
{% if request.POST.mediaof == "group" %}
  <li class="breadcrumb-item active"><a href="{% url 'group_view' group.pk %}">{{group.name}} Group</a></li>
{% endif %}
  <li class="breadcrumb-item active">Upload {{request.POST.mediatype}}</li>
{% endblock %}

{% block content %}



{% if user.is_authenticated %}
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    <div class="form-group">
      <label for="title">Title</label>
      {{ form.title }}
      <div class="invalid-feedback">
        {{ form.title.errors }}
      </div>
    </div>

    <div class="form-group">
      <label for="title">Description</label>
      {{ form.description }}
      <div class="invalid-feedback">
        {{ form.description.errors }}
      </div>
    </div>

    <div class="form-group">
      <label for="title">Type</label>
      {{ form.media_type }}
      <div class="invalid-feedback">
        {{ form.media_type.errors }}
      </div>
    </div>

    <div class="form-group" id="LinkOption" style="display: none">
      <label for="title">Media Link</label>
      {{ form.medialink }}
      <div class="invalid-feedback">
        {{ form.medialink.errors }}
      </div>
    </div>

    <div class="form-group custom-file" id="UploadOption">
      <label for="image">Media File</label>
      {{form.mediafile}}
    </div>

    <div class="form-group">
      <button type="submit"  class="btn btn-outline-info"  name="submit" value='submit' id="submit">Create</button>
    </div>
  </form>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/ckeditor/ckeditor.js'  %}"></script>
<script>
  ClassicEditor
    .create( document.querySelector( '#description' ) )
    .then( description => {
      console.log( description );
    } )
    .catch( error => {
      console.error( error );
    } );
</script>
<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}"></script>

<script>
$(function() {
    $('input[name="media_type"]').on('click', function() {
        if ($(this).val() == 'Link') {
          $('#LinkOption').show();
          $('#UploadOption').hide();
        }
        if ($(this).val() == 'Upload') {
            $('#LinkOption').hide();
            $('#UploadOption').show();
        }
    });
});
</script>

{% endblock %}
