{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item">Community Creation</li>
{% endblock %}

{% block content %}


{% if messages %}
    {% for message in messages %}
      {% if message.tags %}<div class="alert alert-{{ message.tags }}" role="alert">{% endif %}{{ message }}</div>
    {% endfor %}

{% endif %}
<br/>
   <form name = "form" method="post" enctype="multipart/form-data" action="{% url 'request_community_creation' %}">
                      {% csrf_token %}

                  <div class="form-group">
                    <label for="title">Name</label>
                    {{ form.name }}
                   <div class="invalid-feedback"><span class="label" style="color:red" ng-show = "form.name.$error.pattern" >Only alphabets are allowed</span>
                  <span style="color:red" ng-show="form.name.$dirty && form.name.$invalid">Please provide a name for this community</span>
                  </div>
                  </div>

                <div class="form-group">
                  <label for="title">Description</label>
                    {{ form.desc }}
                    <div class="invalid-feedback">
                      {{ form.desc.errors }}
                    </div>
                  <small id="bodyhelp" class="form-text text-muted">You can create your content in 4000 words.</small>
                  </div>

                  <div class="form-group">
                    <label for="title">Tag Line</label>
                    {{ form.tag_line }}
                    <div class="invalid-feedback">{{ form.tag_line.errors }}<span class="label" style="color:red" ng-show = "form.tag_line.$error.pattern" >Only alphabets are allowed</span></div>
                  </div>
                  <div class="form-group">
                    <label for="title">Purpose</label>
                    {{ form.purpose }}
                    <small id="bodyhelp" class="form-text text-muted">Mention the purpose of creating this community</small>
                   <div class="invalid-feedback">{{ form.purpose.errors }}<span class="label" style="color:red" ng-show = "form.purpose.$error.pattern" >Only alphabets are allowed</span>
                  </div>
                </div>

                {% if form.parent %}
                <div class="form-group">
                  <label for="title">Place of Worship for</label>
                  {{ form.parent }}
                  <div class="invalid-feedback">
                    {{ form.parent.errors }}
                  </div>
                </div>
                {% endif %}

                <div class="form-group">
                <button type="submit"  class="btn btn-outline-info"  name="submit" value='submit' id="submit" ng-disabled="form.$invalid">Submit</button>
              </div>
              
          </form>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/angular.min.js' %}"></script>
{% endblock %}
