{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item">Community Creation</li>
{% endblock %}

{% block content %}


{% if messages %}
    {% for message in messages %}
      {% if message.tags %}<div class="alert alert-{{ message.tags }}" role="alert">{% endif %}{{ message }}</div>
    {% endfor %}

{% endif %}
<br/>
   <form name = "form" method="post" enctype="multipart/form-data" action="{% url 'request_community_creation' %}">
                      {% csrf_token %}

                  <div class="form-group">
                    <label for="title">Name</label>
                    {{ form.name }}
                   <div class="invalid-feedback"><span class="label" style="color:red" ng-show = "form.name.$error.pattern" >Only alphabets are allowed</span>
                  <span style="color:red" ng-show="form.name.$dirty && form.name.$invalid">Please provide a name for this community</span>
                  </div>
                  </div>

                <div class="form-group">
                  <label for="title">Description</label>
                    {{ form.desc }}
                    <div class="invalid-feedback">
                      {{ form.desc.errors }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title">State</label>
                    {{ form.state }}
                    <div class="invalid-feedback">{{ form.state.errors }}<span class="label" style="color:red" ng-show = "form.purpose.$error.pattern" >Only alphabets are allowed</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title">District</label>
                    <div class="row">
                      <div class="col-md-6">
                        {{ form.district }}
                        <div class="invalid-feedback">{{ form.district.errors }}<span class="label" style="color:red" ng-show = "form.purpose.$error.pattern" >Only alphabets are allowed</span></div>
                      </div>
                      <div id="districtOthers" class="col-md-6">
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="title">City</label>
                    <div class="row">
                      <div class="col-md-6">
                        {{ form.city }}
                        <div class="invalid-feedback">{{ form.city.errors }}<span class="label" style="color:red" ng-show = "form.purpose.$error.pattern" >Only alphabets are allowed</span></div>
                      </div>
                      <div id="cityOthers" class="col-md-6">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title">Pincode</label>
                    <div class="row">
                      <div class="col-md-6">
                        {{ form.pincode }}
                        <div class="invalid-feedback">{{ form.pincode.errors }}<span class="label" style="color:red" ng-show = "form.purpose.$error.pattern" >Only alphabets are allowed</span></div>
                      </div>
                      <div id="pincodeOthers" class="col-md-6">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="title">Landmark</label>
                    {{ form.area }}
                    <div class="invalid-feedback">{{ form.area.errors }}<span class="label" style="color:red" ng-show = "form.tag_line.$error.pattern" >Only alphabets are allowed</span></div>
                  </div>

                {% if form.parent %}
                <div class="form-group">
                  <label for="title">Place of Worship for</label>
                  {{ form.parent }}
                  <div class="invalid-feedback">
                    {{ form.parent.errors }}
                  </div>
                </div>
                {% endif %}

                <div class="form-group">
                  <label for="title">Provide additional comments here</label>
                  {{ form.reason }}
                  <div class="invalid-feedback">{{ form.reason.errors }}<span class="label" style="color:red" ng-show = "form.tag_line.$error.pattern" >Only alphabets are allowed</span></div>
                </div>                

                <div class="form-group">
                <button type="submit"  class="btn btn-outline-info"  name="submit" value='submit' id="submit" ng-disabled="form.$invalid">Submit</button>
              </div>
              
          </form>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/angular.min.js' %}"></script>

<script>
  $("#id_state").change(function () {
    var url = "{% url 'get_districts' %}"
    var state = $(this).val();
    $.ajax({
      url: url,
      data: {
        'state': state
      },
      success: function (data) {
        $("#id_district").html(data);
      }
    });
  });
</script>

<script>
  $("#id_district").change(function () {
    var url = "{% url 'get_cities' %}"
    var district = $(this).val();
    var div = document.createElement('DIV');
    div.innerHTML = '<input type="text" value="" name="districtOthers" class="form-control" placeholder="Enter district in this textbox">'
    document.getElementById("districtOthers").innerHTML="";
    if (district == 'Others') {
      document.getElementById("districtOthers").appendChild(div);
      $.ajax({
        url: url,
        data: {
          'district': district,
          'state': $(id_state).val()
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });
    }
    else {
      $.ajax({
        url: url,
        data: {
          'district': district
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });      
    }
  });
</script>

<script>
  $("#id_city").change(function () {
    var url = "{% url 'get_pincodes' %}"
    var city = $(this).val();
    var div = document.createElement('DIV');
    div.innerHTML = '<input type="text" value="" name="cityOthers" class="form-control" placeholder="Enter city in this textbox">'
    document.getElementById("cityOthers").innerHTML="";
    if (city == 'Others') {
      document.getElementById("cityOthers").appendChild(div);
      $.ajax({
        url: url,
        data: {
          'city': city,
          'state': $(id_state).val()
        },
        success: function (data) {
          $("#id_pincode").html(data);
        }
      });
    }
    else {
      $.ajax({
        url: url,
        data: {
          'city': city
        },
        success: function (data) {
          $("#id_pincode").html(data);
        }
      });      
    }
  });
</script>

<script>
  $("#id_pincode").change(function () {
    var pincode = $(this).val();
    var div = document.createElement('DIV');
    div.innerHTML = '<input type="text" value="" name="pincodeOthers" class="form-control" placeholder="Enter picode in this textbox">'
    document.getElementById("pincodeOthers").innerHTML="";
    if (pincode == 'Others') {
      document.getElementById("pincodeOthers").appendChild(div);
    }
  });
</script>

{% endblock %}
