{% extends 'base.html' %}

{% load static %}
{% block content %}
  <div class="row justify-content-center margin-bottom-40">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Sign up</h1>
          <form method="post" name="form">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" name = "username" ng-model="username">
              <small class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name = "email">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password1" name ="password1">
              <small  class="form-text text-muted"><ul>
                      <li>Your password can't be too similar to your other personal information.</li>
                      <li>Your password must contain at least 8 characters.</li>
                      <li>Your password can't be a commonly used password.</li>
                      <li>Your password can't be entirely numeric.</li>
                    </ul></small>
            </div>
            <div class="form-group">
              <label for="passwd">Password confirmation:</label>
              <input type="password" class="form-control" id="password2" name ="password2">
              <small class="form-text text-muted">Enter the same password as before, for verification.</small>
            </div>
              <button type="submit" class="btn btn-primary btn-block">Create an account</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center"> <br />
          Already have an account? <a href="{% url 'login' %}">Log in</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/angular.min.js' %}"></script>
{% endblock %}