{% extends 'base.html' %}

{% block breadcrumb %}
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active">{{user.username}}'s Dashboard</li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row recent-work margin-bottom-40">
  <div class="col-md-4">
      <div class="recent-work-item">
        <em>
          <img src="../static/img/avatar.jpg" alt="my Photo" class="img-responsive">
          <a href=""><i class="fa fa-link"></i></a>
          <a href="../static/img/avatar.jpg" class="fancybox-button" title="{{user.username}}" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
        </em>
        <a class="recent-work-description" href="javascript:;">
          <strong>{{user.username}}</strong>
          <b>{{user.email}}</b>
        </a>
      </div>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-7">
        <h2> Update Profile </h2><br />
        <form method="post">
          {% csrf_token %}

          <div class="form-group">
            <label for="First Name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}" required>
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label for="Last Name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}" required>
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-group">
            <label for="Email Address">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{user.email}}" required>
            <div class="invalid-feedback"></div>
          </div>

          <button type="submit" class="btn btn-primary">Update</button>

        </form>

  </div>
</div>

<br />


<br />

{% endblock %}
