{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  <li class="breadcrumb-item active">{{ group.name }}</li>
  <li class="breadcrumb-item active">{{ errormessage}}</li>
{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'group_view' group.pk %}">View</a>
  </li>
  {% if membership.role.name == 'group_admin' %}
  <li class="nav-item">
    <a class="nav-link " href="{% url 'manage_group' group.pk %}">Manage Group</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link " href="#">Update Group Info</a>
  </li>
  {% endif %}
  {% if membership.role.name == 'author' or membership.role.name == 'publisher' or membership.role.name == 'group_admin' %}
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'group_content' group.pk %}">Group Content</a>
  </li>
  {%endif%}
</ul>
<br/>


<div class="container-fluid alert alert-primary" role="alert">
  <div class="row">
    <div class="col-sm-12">
      {% if user.is_authenticated %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="title" name="name" value="{{group.name}}" required>
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <textarea  class="form-control" name="desc" rows="6">{{group.desc}}</textarea>
          <input type="hidden" name="status" value={{status}}>
          <small id="bodyhelp" class="form-text text-muted">Let people know what this group is about</small>
        </div>
        <div class="form-group">
        <label for="visibility">Visibility</label>
          <select name="visibility">
            <option value="1">Public</option>
          </select>
        </div>
        {% if group.image %}
        <img src="{{ MEDIA_URL }}{{ group.image}}" alt="image" class="img-responsive" width=150>
        {% else %}
        <img src="{{ MEDIA_URL }}default/group_image_default.png" alt="default" class="img-responsive" width=150>
        {%endif%}<br />
        <div class="form-group custom-file">
          <label for="image">Group Image</label>
          <input type="file"   id="group_image" name ="group_image" class="file" data-allowed-file-extensions='["jpeg", "jpg","png"]' data-show-upload="false" data-show-preview="false" data-msg-placeholder="Select article image for upload...">
        </div>

        <div class="form-group">
          <button type="submit" name ="status" value="update" class="btn btn-primary">Update</button>
        </div>
      </form>

      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
{% block javascript %}

<script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
<script src="{% static 'js/bootstrap_fileinput/piexif.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/purify.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/sortable.min.js' %}"></script>
<script src="{% static 'js/bootstrap_fileinput/fileinput.min.js' %}">
</script>
{% endblock %}
