{% extends 'base_mobile.html' %}
{%load static %}
{% block css %}
<link href="{% static 'jquery-pagination/pagination.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/ol-ext.css' %}" type="text/css">
<style>
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        border-top: 0px;
    }
</style>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

<!-- BEGIN CONTENT -->

<div class="container-fluid">
    <h2 style="text-align: center;">My Contributions</h2>
    <table class="table" id="mypowmobile" style="border-top: 0px; width: 100%;">
        <thead>
            <tr>
                <th style="color:white">Name</th>
            </tr>
        </thead>
        <tbody>
            {{myhtml|safe}}{% autoescape off%}
            {% for content in lstContent %}
            <tr>
                <td>
                    <div class="panel panel-default" style="border-color: #89216B;">
                        <div class="panel-body">
                            <table class="table table-borderless" style="font-size: small; border-top: 0px;">
                                <tr>
                                    <td colspan="2" style="text-align: center; font-size:larger;">
                                        {% if content.type == 'article' %}
                                            <i class="fa fa-file-text" style="color:#89216B;"></i> Article
                                        {% endif %}
                                        {% if content.type == 'course' %}
                                            <i class="fa fa-briefcase" style="color:#89216B;"></i> Course
                                        {% endif %}
                                        {% if content.type == 'Media' %}
                                            {% if content.media.mediatype == 'IMAGE' %}<i class="fa fa-picture-o" style="color:#89216B;"></i>Image {% endif %}
                                            {% if content.media.mediatype == 'AUDIO' %}<i class="fa fa-music" style="color:#89216B;"></i> Audio{% endif %}
                                            {% if content.media.mediatype == 'VIDEO' %}<i class="fa fa-film" style="color:#89216B;"></i> Video{% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Section</td>
                                    <td style="text-align: right;">{{ content.community }}</td>
                                </tr>
                                <tr>
                                    <td>Place of Worship</td>
                                    <td style="text-align: right;"><a href="{% url 'community_view' content.community.parent.pk %}">{{ content.community.parent }}</a>
                                        (<a href="{% url 'community_view' content.community.parent.parent.pk %}">{{ content.community.parent.parent }}</a>)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td style="text-align: right;">
                                        {% if content.type == 'article' %}
                                            {{content.article.state.name}}
                                        {% endif %}
                                        {% if content.type == 'course' %}
                                            {{content.course.state.name}}
                                        {% endif %}
                                        {% if content.type == 'Media' %}
                                            {{content.media.state.name}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Created</td>
                                    <td style="text-align: right;">
                                        {% if content.type == 'article' %}
                                            {{content.article.created_at}}
                                        {% endif %}
                                        {% if content.type == 'course' %}
                                            {{content.course.created_at}}
                                        {% endif %}
                                        {% if content.type == 'Media' %}
                                            {{content.media.created_at}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;">
                                        {% if content.type == 'article' %}
                                            <a href="{% url 'article_view' content.article.pk %}"> View </a>
                                        {% endif %}
                                        {% if content.type == 'course' %}
                                            <a href="{% url 'course_view' content.course.pk %}"> View </a>
                                        {% endif %}
                                        {% if content.type == 'Media' %}
                                            <a href="{% url 'media_view' content.media.pk %}"> View </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if content.article.publishedlink or content.media.publishedlink %}
                                    <tr>
                                        <td colspan="2" style="text-align: center;">
                                            {% if content.type == 'article' %}
                                                <a href="{{content.article.publishedlink}}">{{content.article.publishedlink}}</a>
                                            {% endif %}
                                            {% if content.type == 'Media' %}
                                                <a href="{{content.media.publishedlink}}">{{content.media.publishedlink}}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endautoescape %}
        </tbody>
    </table>
</div>

<br /><br />
{% endblock %}

{% block javascript %}
<script src="{% static 'jquery-pagination/pagination.js' %}"></script>
{% endblock %}