{% extends 'base.html' %}


{% block breadcrumb %}
  {% if user.is_authenticated %}
  <li class="breadcrumb-item active">{{user.username}}'s Dashboard</li>
<script type="text/javascript">
var articlesPublished = [{{articlespublished}}];
var articlesContributed = [{{articlescontributed}}];

</script>

  {% endif %}


{% endblock %}

{% block content %}


<div class="row recent-work margin-bottom-40">
  <div class="col-md-4">
      <div class="recent-work-item">
        <em>
          <img src="../static/img/avatar.jpg" alt="my Photo" class="img-responsive">
          <a href="{% url 'update_profile' %}"><i class="fa fa-link"></i></a>
          <a href="../static/img/avatar.jpg" class="fancybox-button" title="{{user.username}}" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
        </em>
        <a class="recent-work-description" href="javascript:;">
          <strong>{{user.username}}</strong>
          <b>{{user.email}}</b>
        </a>
      </div>
  </div>

  <div class="col-md-8">
          <canvas id="myChart" ></canvas>
  </div>
</div>

<!-- BEGIN CONTENT -->
<div class="container">

<div class="col-md-12 ">
  <div class="content-page">
    <div class="row margin-bottom-40">

      <div class="col-md-3">
        <div class="pricing hover-effect">
          <div class="pricing-head">
            <h3>My Communities</h3>
            <h4>
            <span style="text-align:left; padding-left:20px; padding-top:10px">
        {{myhtml|safe}}{% autoescape off%}
        {% for comm in communities %}
          <a href="{% url 'community_view' comm.community.pk %}"> {{ comm.community }} </a> <br />
        {% endfor %}
        {% endautoescape%}
            </span>
            </h4>
          </div>
<!--      <div class="pricing-footer">
            <a href="javascript:;" class="btn btn-primary">
               Sign Up <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>-->
        </div>
      </div>

      <div class="col-md-3">
        <div class="pricing hover-effect">
          <div class="pricing-head">
            <h3>My Groups</h3>
            <h4>
            <span style="text-align:left; padding-left:20px; padding-top:10px">
        {{myhtml|safe}}{% autoescape off%}
        {% for grp in groups %}
              <a href="{% url 'group_view' grp.group.pk %}"> {{ grp.group }} </a> <br />
        {% endfor %}
        {% endautoescape%}
            </span>
            </h4>
          </div>
<!--      <div class="pricing-footer">
            <a href="javascript:;" class="btn btn-primary">
               Sign Up <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>-->
        </div>
      </div>

      <div class="col-md-3">
        <div class="pricing hover-effect">
          <div class="pricing-head">
            <h3>Pending Requests</h3>
            <h4>
            <span style="text-align:left; padding-left:20px; padding-top:10px">
        {{myhtml|safe}}{% autoescape off%}
        {% for pending in pendingcommunities %}
              {{ pending.name }}  <br />
        {% endfor %}
        {% endautoescape%}
            </span>
            </h4>
          </div>
<!--      <div class="pricing-footer">
            <a href="javascript:;" class="btn btn-primary">
               Sign Up <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>-->
        </div>
      </div>

      <div class="col-md-3">
        <div class="pricing hover-effect">
          <div class="pricing-head">
            <h3>Communities I May Like</h3>
            <h4>
            <span style="text-align:left; padding-left:20px; padding-top:10px">

            </span>
            </h4>
          </div>
<!--      <div class="pricing-footer">
            <a href="javascript:;" class="btn btn-primary">
               Sign Up <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>-->
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<div class="col-md-12">
    <table id="myArticles" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr style="background-color:#E84D1C">
          <th style="color:white">Article</th>
          <th style="color:white">Community / Group</th>
          <th style="color:white">Created</th>
        </tr>
    </thead>
      <tbody>
        {{myhtml|safe}}{% autoescape off%}
        {% for cart in commarticles %}
          <tr>
            <td>
              <a href="{% url 'article_view' cart.article.pk %}"> {{ cart.article }}  </a>
            </td>
            <td>
              <a href="{% url 'community_view' cart.community.pk %}">{{ cart.community }}</a>
            </td>
            <td>
              {{cart.article.created_at}}
            </td>
          </tr>
        {% endfor %}
        {% endautoescape%}

        {{myhtml|safe}}{% autoescape off%}
        {% for gart in grparticles %}
          <tr>
            <td>
              <a href="{% url 'article_view' gart.article.pk %}"> {{ gart.article }} </a>
            </td>
            <td>
              <a href="{% url 'group_view' gart.group.pk  %}"> {{ gart.group }} </a>
            </td>
            <td>
              {{cart.article.created_at}}
            </td>
          </tr>
        {% endfor %}
        {% endautoescape%}
      </tbody>
    </table>
</div>
<br />

{% endblock %}
