{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="container">
          <div class="col-md-12 ">
                <div class="content-page">
                <div class="col-md-8">
                  <div class="pricing-head">
                      <h3>Article Status</h3><br>
                      <div id = "chart2"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="pricing-head">
                       <h3>Recently Viewed</h3>
                        <h4>
                        <span style="text-align:left; padding-left:20px; padding-top:10px">
                        {{myhtml|safe}}{% autoescape off%}
                        {% if status == 'not found' %}
                        <h5>No recent activity</h5>
                        {% else %}
                        {% for article in articles %}
                        <i class="fa fa-pencil" style="top:3px;"></i>
                        <a id= "community_dashboard_a" href="{% url 'article_view' article.article_id %}"> {{article.article_title }}</a><br>
                        {% endfor %}
                        {% endif %}
                        {% endautoescape%} 
                        </span>
                        </h4>
                  </div>
                </div>
           </div>
           </div>
           <div class="col-md-12">
                  <div class="content-page">
                     <div class="row margin-bottom-40">
                      <div class="col-md-12">
                        <div class="pricing-head">
                           <h3>Most Viewed Articles</h3><br>
                           <div id ="usertop"></div>
                        </div>
                      </div>
                     </div>
                </div>
           </div>
      </div>
</div>
<script>
  var chart = c3.generate({{ res2|safe }})
  var chart2 = c3.generate({{ usertopview|safe }})
</script>
{% endblock %}