{% extends 'base_mobile.html' %}
{%load static %}
{% block css %}
<link href="{% static 'jquery-pagination/pagination.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/ol-ext.css' %}" type="text/css">

<style>
    .panel-danger {
      border-color: #89216B;
    }
    .panel-danger>.panel-heading {
      color: #89216B;
      background-color: gray;
      border-color: gray;
    }
    .active .panel-heading {
      background-color: #89216B;
      border-color: #89216B;
    }
</style>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

{% if feedback %}
<h2 style="text-align: center;">My feedback</h2>
<table class="table" id="myFeedback" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="color:white">Name</th>
        </tr>
    </thead>
    <tbody>
        {{myhtml|safe}}{% autoescape off%}
        {% for feed in feedback %}
            <tr>
                <td>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#{{feed.pk}}" style="color:white;" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                    <div style="text-align:center; font-weight: bold;">
                                        {{ feed.community.name }} ({{ feed.community.parent.name }})
                                        <i class="fa fa-plus" aria-hidden="true" style="margin-left: 10px;"></i>
                                    </div>
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse " id="{{feed.pk}}">
                            <div class="panel-body">
                                {{ feed.provided_at }} <br />
                                {{ feed.title }} <br />
                                {{ feed.body }} <br />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% endautoescape%}
    </tbody>
</table>
{% endif %}

<br /><br />
{% endblock %}