{% extends 'base_mobile.html' %}
{%load static %}
{% block css %}
<link href="{% static 'jquery-pagination/pagination.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/ol-ext.css' %}" type="text/css">
{% endblock %}

{% block breadcrumb %}
{% if user.is_authenticated %}
<li class="breadcrumb-item">{{user.username}}'s Dashboard</li>
<script type="text/javascript">
    var articlesPublished = {{ articlespublished }};
    var imagePublished = {{ imagepublished }};
    var audioPublished = {{ audiopublished }};
    var videoPublished = {{ videopublished }};

</script>

{% endif %}


{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row recent-work margin-bottom-40">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}<div class="alert alert-{{ message.tags }}" role="alert">{% endif %}{{ message }}</div>
        {% endfor %}
        {% endif %}

        <div class="col-md-4" style="width: 350px">
            <div class="recent-work-item">
                <em>
                    {% if user_profile.photo %}
                    <img src="{{ MEDIA_URL }}{{user_profile.photo}}" class="img-responsive"
                        style="height: 350px; width: 350px">
                    <a href="{{ MEDIA_URL }}{{user_profile.photo}}" class="fancybox-button" title="{{user.username}}"
                        data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                    {% else %}
                    <img src="{{ MEDIA_URL }}default/avatar.png" class="img-responsive">
                    <a href="{{ MEDIA_URL }}default/avatar.png" class="fancybox-button" title="{{user.username}}"
                        data-rel="fancybox-button"><i class="fa fa-search"></i></a>
                    {%endif%}
                </em>
                <a class="recent-work-description" href="javascript:;">
                    <strong>{{user.username}}</strong>
                    <b>{{user.email}}</b>
                </a>
            </div>
        </div>

        <div class="col-md-8">
            <canvas id="myChart"></canvas>
            <label>Contribution Report For The Year-{{yearby}}</label>

            <form class="pull-right" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="select_year">Contribution Report By Year</label>
                    <select id="select_year" name="selectbyyear" class="btn btn-primary" onchange="this.form.submit()"
                        max="{{number}}">
                        <option value="">{{yearby}}</option>
                        {% for i in number%}
                        {% if i != yearby %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {%endfor%}
                    </select>
                </div>
            </form>
        </div>
    </div>

    <!-- BEGIN CONTENT -->

    <div class="row quote-v1 margin-bottom-30">
        <div class="quote-v1-inner" style="background-color: white; border-style: solid; border-color: #89216B;">
            <span>
                <a href="{% url 'user_dashboard_mobile_mypow'%}">My Requested Place of Worship</a>
            </span>
        </div>
    </div>

    <div class="row quote-v1 margin-bottom-30">
        <div class="quote-v1-inner" style="background-color: white; border-style: solid; border-color: #89216B;">
            <span>
                <a href="{% url 'user_dashboard_mobile_mycontributions'%}">My Contributions</a>
            </span>
        </div>
    </div>

    <div class="row quote-v1 margin-bottom-30">
        <div class="quote-v1-inner" style="background-color: white; border-style: solid; border-color: #89216B;">
            <span>
                <a href="{% url 'user_dashboard_mobile_myfeedback'%}">My feedback</a>
            </span>
        </div>
    </div>

</div>

<br /><br />
{% endblock %}

{% block javascript %}

<!--Chart.js-->
<script src="{% static 'js/scriptMyContrib.js' %}"></script>

<script src="{% static 'jquery-pagination/pagination.js' %}"></script>

{% endblock %}