{% extends 'base.html' %}
{%load static %}
{% block css %}
  <link href="{% static 'jquery-pagination/pagination.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
  {% if user.is_authenticated %}
  <li class="breadcrumb-item">{{user.username}}'s Dashboard</li>
  <li class="breadcrumb-item active">
  	   <a href="{% url 'user_insight_dashboard'%}">Insights</a>
  </li>
<script type="text/javascript">
var articlesPublished = {{articlespublished}};
var imagePublished = {{imagepublished}};
var audioPublished = {{audiopublished}};
var videoPublished = {{videopublished}};

</script>

  {% endif %}


{% endblock %}

{% block content %}

<div class="row recent-work margin-bottom-40">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}<div class="alert alert-{{ message.tags }}" role="alert">{% endif %}{{ message }}</div>
    {% endfor %}
  {% endif %}

  <div class="col-md-4" style="width: 350px">
      <div class="recent-work-item">
        <em>
          {% if user_profile.photo %}
          <img src="{{ MEDIA_URL }}{{user_profile.photo}}" class="img-responsive" style="height: 350px; width: 350px">
          <a href="{{ MEDIA_URL }}{{user_profile.photo}}" class="fancybox-button" title="{{user.username}}" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
          {% else %}
          <img src="{{ MEDIA_URL }}default/avatar.png" class="img-responsive">
          <a href="{{ MEDIA_URL }}default/avatar.png" class="fancybox-button" title="{{user.username}}" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
          {%endif%}
        </em>
        <a class="recent-work-description" href="javascript:;">
          <strong>{{user.username}}</strong>
          <b>{{user.email}}</b>
        </a>
      </div>
  </div>

  <div class="col-md-8">
      <canvas id="myChart" ></canvas>
      <label >Contribution Report For The Year-{{yearby}}</label>

      <form class="pull-right" method="post">
          {% csrf_token %}
          <div class="form-group">
             <label for="select_year">Contribution Report By Year</label>
              <select id="select_year" name="selectbyyear" class="btn btn-primary" onchange="this.form.submit()" max="{{number}}">
                <option value="">{{yearby}}</option>
                {% for i in number%}
                  {% if i != yearby %}
                    <option value="{{i}}">{{i}}</option>
                  {% endif %}
                {%endfor%}
              </select>
          </div>
      </form>
  </div>
</div>

<!-- BEGIN CONTENT -->
<div class="container">

<div class="col-md-12 ">
  <div class="content-page">
    <div class="row margin-bottom-40">

      <div class="col-md-8">
        <!-- <div class="pricing hover-effect"> -->
          <!-- <div class="pricing-head">
            <h3>My Communities</h3>
            <h4>
              <span style="text-align:left; padding-left:20px; padding-top:10px">
                <div class="data-container"></div>
                <div id="pagination-mycommunities"></div>
              </span>
            </h4>
          </div> -->
<!--      <div class="pricing-footer">
            <a href="javascript:;" class="btn btn-primary">
               Sign Up <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>-->
        <!-- </div> -->
      </div>


      <div class="col-md-4">
        {% if pendingcommunities %}
        <div class="pricing hover-effect">
          <!-- <div class="pricing-head">
            <h3>Pending Requests</h3>
            <h4>
            <span style="text-align:left; padding-left:20px; padding-top:10px">
        {{myhtml|safe}}{% autoescape off%}
        {% for pending in pendingcommunities %}
              {{ pending.name }}  <br />
        {% endfor %}
        {% endautoescape%}
            </span>
            </h4>
          </div> -->
<!--      <div class="pricing-footer">
            <a href="javascript:;" class="btn btn-primary">
               Sign Up <i class="m-icon-swapright m-icon-white"></i>
            </a>
          </div>-->
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>
</div>

<h2 style="text-align: center;">My Contributions</h2>
<div class="col-md-12" style="margin-bottom: 20px;">
    <table id="myArticles" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr style="background-color:#89216B">
          <th style="color:white">Section</th>
          <th style="color:white">Place of Worship</th>
          <th style="color:white">Faith</th>
          <th style="color:white">Type</th>
          <th style="color:white">Status</th>
          <th style="color:white">Created</th>
          <th style="color:white">Action</th>
          <th style="color:white">Published Link</th>
        </tr>
    </thead>
      <tbody>
        {{myhtml|safe}}{% autoescape off%}
        {% for content in lstContent %}
          <tr>

            <td>
              {% if content.belongsto == 'community' %}
                {{ content.community }}
              {% endif %}
            </td>

            <td><a href="{% url 'community_view' content.community.parent.pk %}">{{ content.community.parent }}</a></td>

            <td><a href="{% url 'community_view' content.community.parent.parent.pk %}">{{ content.community.parent.parent }}</a></td>

            <td>
              {% if content.type == 'article' %}
                <i class="fa fa-file-text" style="color:#89216B;"></i> Article
              {% endif %}
              {% if content.type == 'course' %}
                <i class="fa fa-briefcase" style="color:#89216B;"></i> Course
              {% endif %}
              {% if content.type == 'Media' %}
                {% if content.media.mediatype == 'IMAGE' %}<i class="fa fa-picture-o" style="color:#89216B;"></i> Image {% endif %}
                {% if content.media.mediatype == 'AUDIO' %}<i class="fa fa-music" style="color:#89216B;"></i> Audio {% endif %}
                {% if content.media.mediatype == 'VIDEO' %}<i class="fa fa-film" style="color:#89216B;"></i> Video {% endif %}
              {% endif %}
            </td>

            <td>
              {% if content.type == 'article' %}
                {{content.article.state.name}}
              {% endif %}
              {% if content.type == 'course' %}
                {{content.course.state.name}}
              {% endif %}
              {% if content.type == 'Media' %}
                {{content.media.state.name}}
              {% endif %}
            </td>            

            <td>
              {% if content.type == 'article' %}
                {{content.article.created_at}}
              {% endif %}
              {% if content.type == 'course' %}
                {{content.course.created_at}}
              {% endif %}
              {% if content.type == 'Media' %}
                {{content.media.created_at}}
              {% endif %}
            </td>            

            <td>
              {% if content.type == 'article' %}
                <a href="{% url 'article_view' content.article.pk %}"> View  </a>
              {% endif %}
              {% if content.type == 'course' %}
                <a href="{% url 'course_view' content.course.pk %}"> View </a>
              {% endif %}
              {% if content.type == 'Media' %}
                <a href="{% url 'media_view' content.media.pk %}"> View </a>
              {% endif %}
            </td>

            <td>
              {% if content.article.publishedlink or content.media.publishedlink %}
                {% if content.type == 'article' %}
                  <a href="{{content.article.publishedlink}}">{{content.article.publishedlink}}</a>
                {% endif %}
                {% if content.type == 'Media' %}
                  <a href="{{content.media.publishedlink}}">{{content.media.publishedlink}}</a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        {% endautoescape%}
      </tbody>
    </table>
</div>

{% if myrequestedcommunities %}
  <h2 style="text-align: center;">My requested Place of Worship</h2>
  <table class="table" id="handleCommReq" style="margin-bottom: 20px;" cellspacing="0" width="100%">
    <thead class="thead-inverse">
      <tr>
        <th>Place of Worship</th>
        <th>Name</th>
        <th>Description</th>
        <th>Area</th>
        <th>City</th>
        <th>District</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Status</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
    {{myhtml|safe}}{% autoescape off%}
      {% for req in myrequestedcommunities %}
        <tr>
          <td><a href="{% url 'community_view' req.requestcommunity.parent.pk %}">{{ req.requestcommunity.parent }}</a></td>
          <td>{{ req.name }}</td>
          <td><small class="text-muted d-block">{{ req.desc }}</small></td>
          <td><small class="text-muted d-block">{{ req.area }}</small></td>
          <td><small class="text-muted d-block">{{ req.city }}</small></td>
          <td><small class="text-muted d-block">{{ req.district }}</small></td>
          <td><small class="text-muted d-block">{{ req.state }}</small></td>
          <td><small class="text-muted d-block">{{ req.pincode }}</small></td>
          <td>
            {% if req.status == 'modify' %}
              <a href="#updatedetails{{req.requestcommunity.pk}}" data-toggle="modal">{{ req.status }}</a>
              <div class="modal fade" id="updatedetails{{req.requestcommunity.pk}}" tabindex="-1" role="dialog" aria-labelledby="acceptcomm" aria-hidden="true">
                <div class="modal-dialog text-left" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Update details and Re-submit</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method = "post" action ="{% url 'update_community_requests' %}">
                        {% csrf_token %}
                        <input type='hidden' name = 'pk' value ={{req.requestcommunity.pk}} />
                        <input type='hidden' name = 'community_parent' value ={{req.requestcommunity.parent.pk}} />            

                        <div class="form-group">
                          <label for="name">Name</label>
                          <input class="form-control form-control-sm" id="name" name = 'name' type="text" value="{{ req.name }}" required>
                        </div>
                        <div class="form-group">
                          <label for="desc">Description</label>
                          <textarea class="form-control is-invalid" id="description" name = 'description' required>{{ req.desc }}</textarea>
                        </div>
                        <div class="form-group">
                          <label for="area">Area</label>
                          <input class="form-control form-control-sm" id="area" name = 'area' type="text" value="{{ req.area }}" required>
                        </div>
                        <div class="form-group">
                          <label for="city">City</label>
                          <input class="form-control form-control-sm" id="city" name = 'city' type="text" value="{{ req.city }}" required>
                        </div>
                        <div class="form-group">
                          <label for="district">District</label>
                          <input class="form-control form-control-sm" id="district" name = 'district' type="text" value="{{ req.district }}" required>
                        </div>
                        <div class="form-group">
                          <label for="state">State</label>
                          <input class="form-control form-control-sm" id="state" name = 'state' type="text" value="{{ req.state }}" required>
                        </div>
                        <div class="form-group">
                          <label for="pincode">Pincode</label>
                          <input class="form-control form-control-sm" id="pincode" name = 'pincode' type="text" value="{{ req.pincode }}" required>
                        </div>
                        <div class="form-group">
                          <label for="reason">Please provide additional comments here if needed</label>
                          <textarea class="form-control is-invalid" id="reason" name = 'reason'></textarea>
                        </div>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button id="commaccept" type="submit" class="btn btn-primary">Yes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              {{ req.status }}
            {% endif %}
          </td>
          <td>{{ req.reason }}</td>
        </tr>
      {% endfor %}
      {% endautoescape%}
    </tbody>
  </table>
{% endif %}

<br />

{% endblock %}

{% block javascript %}
  <script src="{% static 'jquery-pagination/pagination.js' %}"></script>
  <script>
    // $.ajax({
      // url: '/api/reputation/score',
      // type: 'GET',
      // success: function(mycommunities) {
        $ (function () {
        (function(name) {

          var container = $('#pagination-mycommunities');

          var sources = function () {
            var result = [];

            var i = 0;
            // var badgeLevelMapping = {
            //   '1': 'btn-secondary',
            //   '2': 'btn-danger',
            //   '3': 'btn-warning',
            //   '4': 'btn-primary',
            //   '5': 'btn-success'
            // };
            for (i = 0; i < mycommunities.length; i++) {
              var temp = '';
              var comm = mycommunities[i];

              if (comm.role.name === 'author') {
                temp += '<i class="fa fa-pencil" style="top:3px;"></i> ';
              } else if (comm.role.name == 'publisher') {
                temp += '<i class="fa fa-print" style="top:3px;"></i> ';
              } else {
                temp += '<i class="fa fa-trophy" style="top:3px;"></i> ';
              }

              var url = "{% url 'community_view' 999 %}";
              temp += '<a href="' + url.replace('999', comm.community.pk) + '">' + comm.community.name + '</a>';
              
              // var badgeDiv = $("<div>", {
              //   'css': {
              //     'margin': '10px'
              //   }
              // });

              // for (var j = 0; j < comm.badges.length; j++) {
              //   var badge = comm.badges[j].badge;
              //   badgeDiv.append('<span class="btn ' + badgeLevelMapping[badge.level] + '" style="width: 50px; margin: 5px;">' + badge.title + '</span>');
              // }

              // temp += badgeDiv.prop('outerHTML');

              result.push(temp);
            }

            return result;
          }();  

          var options = {
            dataSource: sources,
            pageSize: 5,
            showGoInput: true,
            showGoButton: true,
            showPageNumbers: false,
            showNavigator: true,

            callback: function (data, pagination) {
              var dataHtml = '';
              //Get the datasource (item)
              $.each(data, function (index, item) {
                dataHtml += item + '<br />';
              });
              dataHtml += '<br />'
              //Add data to container
              container.prev().html(dataHtml);
            }
          };
          container.pagination(options);
        })('mycommunities-pagination');
      })
    // });
  </script>
{% endblock %}
