{% extends 'base.html' %} {%load static %} {% block css %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
 {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item ">Resources</li>
<li class="breadcrumb-item ">Video</li>
{% endblock %} {% block content %}
<h1>Video</h1>
{% if not mediaPublished %}
<div class="content-page page-404">
  <div class="number">
    Oops!
  </div>
  <div class="details">
    <h3>No Content</h3>
    <p>
      Sorry, currently there are no videos published from any community or group
    </p>
  </div>
</div>
{% endif %} {{myhtml|safe}}{% autoescape off%}
<div class="main">
  <div class="container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12">
        <div class="content-page">
          <div class="row margin-bottom-40">
            {% for mediap in mediaPublished %}
            <div class="col-md-4 col-sm-4 gallery-item">
              <video class="img-responsive margin-bottom-10" style="height: 250px; width: 330px; border: 1px solid red;" controls>
                <source src="{{ MEDIA_URL }}{{ mediap.media.mediafile}}" type="video/vob" />
                <source src="{{ MEDIA_URL }}{{ mediap.media.mediafile}}" type="video/webm" />
                <source src="{{ MEDIA_URL }}{{ mediap.media.mediafile}}" type="video/avi" />
                <source src="{{ MEDIA_URL }}{{ mediap.media.mediafile}}" type="video/mp4" />
                <source src="{{ MEDIA_URL }}{{ mediap.media.mediafile}}" type="video/wmv" />
              </video>
              <h3> <a href="{% url 'media_view' mediap.media.pk %}">{{ mediap.media.title }} </a> </h3>
              <i class="fa fa-user" style="color:red;"></i> {{ mediap.media.created_by }} <br />
              <i class="fa fa-calendar" style="color:red;"></i> {{mediap.media.created_at}} <br />
              {% if mediap.belongsto == 'community' %}
                <a href="{% url 'community_view' mediap.community.pk %}"><i class="fa fa-users" style="color:red;"></i> {{mediap.community.name}}</a>
              {% endif %}
              {% if mediap.belongsto == 'group' %}
                <a href="{% url 'group_view' mediap.group.pk %}"><i class="fa fa-users" style="color:red;"></i> {{mediap.group.name}}</a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</div>
{% endautoescape%} {% if mediaPublished.has_next %}
<a class="infinite-more-link" href="?page={{ mediaPublished.next_page_number }}">
  <i class="fa fa-spinner fa-spin" style="font-size:24px;color:red"></i> Loading...
</a>
{% endif %}

<div class="loading" style="display: none;">

</div>

{% endblock %} {% block javascript %}
<script type="text/javascript">
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script> {% endblock %}
