{% extends 'base.html' %}
{% load static %}

{% block css %}
  <style>
    .sectiontitle{
      margin-top: 40px;
      font-weight: bold;
    }
  </style>
{% endblock %} 

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% for cat in community.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'community_view' cat.pk %}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' community.pk %}">{{ community.name }}</a></li>
  <li class="breadcrumb-item">View all accepted contributions</li>
{% endblock %}

{% block content %}

<div class="main" style="margin-bottom: 50px;">
    <div class="container">

        <div class="row margin-bottom-10">
            <div class="col-md-12 col-sm-12">
                <div class="icp-content-comm-title-image">
                    <h2 class="icp-content-comm-title-text">
                        {{ community.name}}
                    </h2>
                </div>
            </div>
        </div>

        <h3 class="sectiontitle">Introduction</h3>
        <div style="margin-left:30px;">
            {% if introduction %}
                {% for obj in introduction %}
                    <b>By {{obj.article.created_by}}</b>: <br />
                    {{myhtml|safe}}{% autoescape off%} {{obj.article.body}}{% endautoescape%}
                    {% if not merged %}
                        {% if obj.article.created_by != request.user %}
                            <button name="modify" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Ask contributor to modify</button>
                        {% endif %}
                        <button name="reject" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Reject</button>
                    {% endif %}
                        <hr style="height:2px; border-width:0; background-color:#89216B;">
                {% endfor %}
            {% else %}
                No contribution in this section
                <button name="Introduction" onClick="addContent(this)">Click to add content</button>
            {% endif %}                
        </div>

        <h3 class="sectiontitle">Architecture</h3>
        <div style="margin-left:30px;">
            {% if architecture %}
                {% for obj in architecture %}
                    <b>By {{obj.article.created_by}}</b>: <br />
                    {{myhtml|safe}}{% autoescape off%} {{obj.article.body}}{% endautoescape%}
                    {% if not merged %}
                        {% if obj.article.created_by != request.user %}
                            <button name="modify" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Ask contributor to modify</button>
                        {% endif %}
                        <button name="reject" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Reject</button>
                    {% endif %}    
                    <hr style="height:2px; border-width:0; background-color:#89216B;">
                {% endfor %}
            {% else %}
                No contribution in this section
                <button name="Architecture" onClick="addContent(this)">Click to add content</button>
            {% endif %}            
        </div>

        <h3 class="sectiontitle">Rituals</h3>
        <div style="margin-left:30px;">
            {% if rituals %}
                {% for obj in rituals %}
                    <b>By {{obj.article.created_by}}</b>: <br />
                    {{myhtml|safe}}{% autoescape off%} {{obj.article.body}}{% endautoescape%}
                    {% if not merged %}
                        {% if obj.article.created_by != request.user %}
                            <button name="modify" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Ask contributor to modify</button>
                        {% endif %}
                        <button name="reject" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Reject</button>
                    {% endif %}
                    <hr style="height:2px; border-width:0; background-color:#89216B;">
                {% endfor %}
            {% else %}
                No contribution in this section 
                <button name="Rituals" onClick="addContent(this)">Click to add content</button>
            {% endif %}            
        </div>

        <h3 class="sectiontitle">Ceremonies</h3>
        <div style="margin-left:30px;">
            {% if ceremonies %}
                {% for obj in ceremonies %}
                    <b>By {{obj.article.created_by}}</b>: <br />
                    {{myhtml|safe}}{% autoescape off%} {{obj.article.body}}{% endautoescape%}
                    {% if not merged %}
                        {% if obj.article.created_by != request.user %}
                            <button name="modify" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Ask contributor to modify</button>
                        {% endif %}
                        <button name="reject" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Reject</button>
                    {% endif %}
                    <hr style="height:2px; border-width:0; background-color:#89216B;">
                {% endfor %}
            {% else %}
                No contribution in this section
                <button name="Ceremonies" onClick="addContent(this)">Click to add content</button>
            {% endif %}            
        </div>

        <h3 class="sectiontitle">Tales</h3>
        <div style="margin-left:30px;">
            {% if tales %}
                {% for obj in tales %}
                    <b>By {{obj.article.created_by}}</b>: <br />
                    {{myhtml|safe}}{% autoescape off%} {{obj.article.body}}{% endautoescape%}
                    {% if not merged %}
                        {% if obj.article.created_by != request.user %}
                            <button name="modify" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Ask contributor to modify</button>
                        {% endif %}
                        <button name="reject" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Reject</button>
                    {% endif %}
                    <hr style="height:2px; border-width:0; background-color:#89216B;">
                {% endfor %}
            {% else %}
                No contribution in this section
                <button name="Tales" onClick="addContent(this)">Click to add content</button>
            {% endif %}                
        </div>

        <h3 class="sectiontitle">More Information</h3>
        <div style="margin-left:30px;">
            {% if moreinfo %}
                {% for obj in moreinfo %}
                    <b>By {{obj.article.created_by}}</b>: <br />
                    {{myhtml|safe}}{% autoescape off%} {{obj.article.body}}{% endautoescape%}
                    {% if not merged %}
                        {% if obj.article.created_by != request.user %}
                            <button name="modify" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Ask contributor to modify</button>
                        {% endif %}
                        <button name="reject" class="btn btn-primary" data-article-id='{{obj.article.pk}}' data-article-state='{{obj.article.state.name}}' onClick="contentModifyReject(this)">Reject</button>
                    {% endif %}
                    <hr style="height:2px; border-width:0; background-color:#89216B;">
                {% endfor %}
            {% else %}
                No contribution in this section
            {% endif %}
        </div>

    </div> <!-- container -->
</div> <!-- main -->

<div style="text-align: center;">
    {% if merged %}
        <h4><b>This contribution has been merged. Click <a href="{% url 'view_merged_content' community.pk %}">here</a> to view it.</b></h4>
    {% else %} <!-- not merged -->
        {% if introduction and rituals and architecture and ceremonies and tales %}
            <a class="btn btn-primary" href="{% url 'merge_content' community.pk %}">Merge contributions into one</a>
        {% else %}
            <h4><b>Not all sections have contributions. Click 'Add content' under the respective section(s) to add a contribution so as to proceed with merging. </b></h4>
        {% endif %}
    {% endif %}
</div>
<br /><br /><br />

<div class="modal fade" id="addContentModal" tabindex="-1" role="dialog" aria-labelledby="addContentModal" aria-hidden="true">
    <div class="modal-dialog text-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modaltitleaddcontent">Add content for</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "post" action ="{% url 'add_content_by_curator' %}">
            {% csrf_token %}
            <input type='hidden' name='pk' value="{{community.pk}}" />
            <input id="modalSection" type='hidden' name='section' value='' />
            <div class="form-group">
              <label for="reason-text" class="col-form-label">Enter content</label>
              <textarea class="form-control" id="body" name='body'></textarea>                                              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="commReject" type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="modifyrejectModal" tabindex="-1" role="dialog" aria-labelledby="modifyrejectModal" aria-hidden="true">
    <div class="modal-dialog text-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modaltitlemodifyreject">Enter reason</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "post" action ="{% url 'curate_content' %}">
            {% csrf_token %}
            <input id="modalArticlepk" type='hidden' name='pk' value='' />
            <input id="modalStatus" type='hidden' name='status' value='' />
            <input type='hidden' name='type' value='Article' />
            <input type='hidden' name='redirecto' value='view_all_content' />
            <input type='hidden' name='commpk' value='{{community.pk}}' />
            <input id="modalState" type='hidden' name='state' value='dfsf' />
            <div class="form-group">
              <textarea class="form-control" id="reason" name='reason'></textarea>                                              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="commReject" type="submit" class="btn btn-primary">Ok</button>
          </form>
        </div>
      </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

<script type="text/javascript">
    function addContent(clicked_object) {
        title = clicked_object.getAttribute('name');
        document.getElementById("modaltitleaddcontent").innerHTML = "Add content for " + title;
        document.getElementById("modalSection").value=title;
        $("#addContentModal").modal('show');
    }
</script>

<script type="text/javascript">
    function contentModifyReject(clicked_object) {
        status = clicked_object.getAttribute('name');
        document.getElementById("modalStatus").value=status;
        articlepk = clicked_object.getAttribute('data-article-id');
        document.getElementById("modalArticlepk").value=articlepk;
        state = clicked_object.getAttribute('data-article-state');
        document.getElementById("modalState").value=state;
        $("#modifyrejectModal").modal('show');
    }
</script>

{% endblock %}