{% extends 'base.html' %}
{%load static %}
{% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/css/style.css' %}" rel="stylesheet"  />
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="{% static 'assets/plugins/lib/jquery.ntm/themes/default/css/theme.css' %}" rel="stylesheet" />
<style type="text/css">
  #liclr{
background-color:#FE642E;

  }
  #clr{
    color:black;
  }
</style>
{% endblock %}

{% load mptt_tags %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' course.community.pk %}"> {{ course.community.name }} </a></li>
  <li class="breadcrumb-item active">{{ course.course.name }} </li>
{% endblock %}
{% block content %}
<div class="container-fluid ">
  <div class="row">
      <div>
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link " href="{% url 'course_view' course.course.pk %}">View</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link " href="{% url 'course_edit' course.course.pk %}">Edit</a>
        </li>
        {% endif %}
      </ul>
      </div>
      <br/>
    <div class="col-sm-4">
      <div class="blog-item">
        <h2><a href="#">{{ course.course.name }} </a></h2>
      </div>
      <div style="margin-right: 0px;height:450px; overflow: scroll; ">
       <div class="tree-menu demo" id="tree-menu" style="margin-left: 0px;">

        <ul >
            {% recursetree topics %}
                <li><a href="#" >
                    {{ node.name }} </a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
          </div>
        </div>
    </div>
    <div class="col-sm-8">
               <nav id="menu" class="nav-main">    
<ul class="nav nav-pills nav-justified" style=" overflow: auto;
    white-space: nowrap;">
  <li role="presentation" id="liclr" ><a  id="clr" href="video.html" >Video</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="audio.html" >Audio</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="pdf.html" >Pdf</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="video.html" >Video</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="audio.html" >Audio</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="pdf.html" >Pdf</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="video.html" >Video</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="audio.html" >Audio</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="pdf.html" >Pdf</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="video.html" >Video</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="audio.html" >Audio</a></li>
  <li role="presentation" id="liclr" ><a  id="clr" href="pdf.html" >Pdf</a></li>

  

</ul>
</nav>

    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'assets/plugins/lib/jquery.ntm/js/jquery.ntm.js' %}"></script>
< <script type="text/javascript">
            $(document).ready(function() {
                $('.demo').ntm();
            });
        </script>

{% endblock %}