{% extends 'base.html' %} {%load static %} {% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/css/style.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/css/jquerysctipttop.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/lib/jquery.ntm/themes/default/css/theme.css' %}" rel="stylesheet" />
<style type="text/css">
  #liclr {
    background-color: #FE642E;

  }

  #clr {
    color: black;
  }
</style>
{% endblock %} {% load mptt_tags %} 


{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% for cat in gcmedia.community.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'community_view' cat.pk %}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="breadcrumb-item">{{ gcmedia.community.name }}</li>
  <li class="breadcrumb-item">View {{ gcmedia.media.mediatype|lower }}</li>
  <li class="breadcrumb-item">{{ gcmedia.media.title }} </li>
{% endblock %} 

{% block content %}

<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a class="nav-link " href="{% url 'media_view' gcmedia.media.pk %}">View</a>
          </li>
          {% if user.is_authenticated %} 
            {% if state.name != 'publish'%}
              <li class="nav-item ">
                <a id="media_edit_id" class="nav-link " href="{% url 'media_edit' gcmedia.media.pk %}">Edit</a>
              </li>
            {%endif%} 
          {% endif %}
          <!-- <li class="nav-item">
            <a href="{% url 'media_reports' gcmedia.media.pk%}" id="media_reports_id" class="nav-link">Reports</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <br/>

  {% if messages %}
    <div class="alert alert-warning">
        {% for message in messages %}
          <b> {{ message }} </b> <br />
        {% endfor %}
    </div>
  {% endif %}

  <div class="blog-item">
      <h2><a href="#">{{ gcmedia.media.title }} </a></h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      {% if gcmedia.media.mediatype == 'IMAGE' %}
        {% if gcmedia.media.mediafile %}
          <img src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" alt="image" class="img-responsive">
        {% else %}
          <img src="{{ gcmedia.media.medialink}}" alt="image" class="img-responsive">
        {% endif %}
      {% endif %}
      {% if gcmedia.media.mediatype == 'AUDIO' %}
        {% if gcmedia.media.mediafile %}
          <audio controls>
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="audio/mp3" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="audio/wav" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="audio/ogg" />
          </audio>
        {% else %}
          <iframe width="100%" class="embed-responsive-item" src="{{ gcmedia.media.medialink }}" allow="autoplay; encrypted-media"  style="border: 1px solid red;" allowfullscreen></iframe>
        {% endif %}
      {% endif %}
      {% if gcmedia.media.mediatype == 'VIDEO' %}
        {% if gcmedia.media.mediafile %}
          <video class="img-responsive margin-bottom-10" style="width: 100%; border: 1px solid red;" controls>
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/vob" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/webm" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/avi" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/mp4" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/wmv" />
          </video>      
        {% else %}
          <iframe height="350" width="100%" class="embed-responsive-item" src="{{ gcmedia.media.medialink }}" allow="autoplay; encrypted-media"  style="border: 1px solid red;" allowfullscreen></iframe>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-md-6 col-sm-6">
      <h4> 
        <i class="fa fa-user"></i> 
        <a href="{% url 'display_user_profile' gcmedia.media.created_by %}">
          {{gcmedia.media.created_by}}
        </a> 
      </h4>
      <h4> 
        <i class="fa fa-calendar"></i> {{gcmedia.media.created_at}} 
      </h4>

      <!-- <h4>
      {% if gcmedia.community.name %}
        <i class="fa fa-users"></i> <a href="{% url 'community_view' gcmedia.community.pk %}">{{gcmedia.community.name}}</a> Community
      {% endif %}
      {% if gcmedia.group.name %}
        <i class="fa fa-users"></i> <a href="{% url 'group_view' gcmedia.group.pk %}">{{gcmedia.group.name}}</a> Group
      {% endif %}      
      </h4> -->

      <h4>
        {% if state.name == 'draft' %}
          <i class="fa fa-cut"></i> Not submitted <br /><br />
          <button type="radio" name="status" class="btn btn-success" data-toggle="modal" data-target="#modalSubmitArticle" data-whatever="@mdo" id="status">Submit</button>                
          <div class="modal fade" id="modalSubmitArticle" tabindex="-1" role="dialog" aria-labelledby="SubmitArticleModal" aria-hidden="true">
            <div class="modal-dialog text-left" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Terms and Conditions</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method = "post" action ="{% url 'submit_media' %}">
                    {% csrf_token %}
                    <input type='hidden' name = 'pk' value ={{gcmedia.media.pk}} />
                    <div class="form-group">
                      <h4>I confirm that I understand the following terms.</h4>
                      <ul>
                      <li> Resource created on this portal should not contain explicit or harmful material that is inappropriate for young learners. For more details, please refer to the guidelines </li>
                      <li> Resource will not collect any sensitive data or personal information about users, such as name, address, photo or other personally identifiable information. For more details,please refer to the Data and privacy policy</li>
                      <li> Resource should not violate copyright laws. For more details, please refer to the License policy</li>
                      <li> Resource created or uploaded on this portal will be available for free and public use without limitations- for both commercial and noncommercial purposes</li>
                      </ul>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        I accept these terms and conditions and agree to my work being licenced under <a target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/"> CC BY 4.0 </a>
                      </div><br />
                      <img src="{{ MEDIA_URL }}default/license.png" alt="license" class="img-responsive" style="width:150px"><br />
                      <h5><b>I understand that in the case of a violation of any of these terms, my content can be removed by Collaborative Communities.</b></h5>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button id="articleCreate" type="submit" class="btn btn-primary">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %} 
        {% if state.name == 'submitted' %}
          <i class="fa fa-arrow-circle-right"></i> Submitted
          {% for group_for in request.user.groups.all %}
            {% if group_for.name == 'curator' %}
              <button type="radio" name="mediaacceptstatus" value="accept" class="btn btn-success" data-toggle="modal" data-target="#modalAcceptMedia" data-whatever="@mdo" id="mediaacceptstatus" style="background-color: green;">Accept</button>
              <div class="modal fade" id="modalAcceptMedia" tabindex="-1" role="dialog" aria-labelledby="AcceptMediaModal" aria-hidden="true">
                <div class="modal-dialog text-left" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Are you sure</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method = "post" action ="{% url 'curate_content' %}">
                        {% csrf_token %}
                        <input type='hidden' name = 'status' value='accept'/>
                        <input type='hidden' name = 'type' value ='Media' />
                        <input type='hidden' name = 'pk' value ={{gcmedia.media.pk}} />
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button id="mediaAccept" type="submit" class="btn btn-primary">Yes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <button type="radio" name="mediarejectstatus" value="reject" class="btn btn-success" data-toggle="modal" data-target="#modalRejectMedia" data-whatever="@mdo" id="mediarejectstatus" style="background-color: red;">Reject</button>
              <div class="modal fade" id="modalRejectMedia" tabindex="-1" role="dialog" aria-labelledby="RejectMediaModal" aria-hidden="true">
                <div class="modal-dialog text-left" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Are you sure</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method = "post" action ="{% url 'curate_content' %}">
                        {% csrf_token %}
                        <input type='hidden' name = 'status' value='reject'/>
                        <input type='hidden' name = 'type' value ='Media' />
                        <input type='hidden' name = 'pk' value ={{gcmedia.media.pk}} />
                        <div class="form-group">
                          <label for="reason-text" class="col-form-label">Reason</label>
                          <textarea class="form-control" id="reason-text"></textarea>                                              
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button id="articleAccept" type="submit" class="btn btn-primary">Yes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %} 
        {% if state.name == 'accepted' %}
        <i class="fa fa-check-circle"></i> Accepted
        {% endif %} 
        {% if state.name == 'rejected' %}
        <i class="fa fa-times-circle"></i> Rejected
        {% endif %} 
        {% if state.name == 'publish' %}
        <i class="fa fa-newspaper-o"></i> Published
        {% endif %}
      </h4>

      <!-- <h4>
        {{myhtml|safe}}{% autoescape off%} {{gcmedia.media.metadata.description}} {% endautoescape%}
      </h4> -->
      <!-- {% if user.is_authenticated %} 
        {% if gcmedia.media.state.name != 'publish'%}
          {% if gcmedia.media.metadata %}
            <h5><a id="metadata_edit_id" class="nav-link" href="{% url 'metadata_update' gcmedia.media.pk gcmedia.media.metadata.pk %}">Update metadata</a></h5>
          {% else %}
            <h5><a id="metadata_create_id" class="nav-link" href="{% url 'metadata_create' gcmedia.community.pk gcmedia.media.pk%}">Add metadata</a></h5>
          {% endif %}
        {%endif%} 
      {% endif %} -->
    </div>
  </div>
  <!-- {% include "includes/reputation_buttons.html" with id=gcmedia.media.pk resource_type="media" %} -->

</div>
<br />
{% endblock %} 
{% block javascript %} 
{% endblock %}
