{% extends 'base.html' %}
{% load comments %}
{% load comments_xtd %}
{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% for cat in article.community.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'community_view' cat.pk %}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="breadcrumb-item">{{ article.community.name }}</li>
  <li class="breadcrumb-item">View Content</li>
    <!-- <li class="breadcrumb-item">{{ article.article.title }} </li> -->
{% endblock %}

{% block content %}
<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-12">
      <div>
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link " href="{% url 'article_view' article.article.pk %}">View</a>
        </li>
        {% if user.is_authenticated %}
       {% if article.article.state.name != 'publish'%}
        <li class="nav-item ">
          <a id="article_edit_id" class="nav-link " href="{% url 'article_edit' article.article.pk %}">Edit</a>
        </li>

    {%endif%}
        
        <li class="nav-item ">
          <a class="nav-link " href="{% url 'article_revision' article.article.pk %}">Revisions</a>
        </li>
        {% endif %}
        <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'article_dashboard' article.article.pk %}">Insights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'article_reports' article.article.pk %}">Reports</a>
        </li> -->
      </ul>
      </div>
      {% if messages %}
<div class="alert alert-warning" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
      <br/>
      <div class="blog-item">
        <!-- <h2><a href="#">{{ article.article.title }} </a></h2> -->
          <ul class="blog-info">
            <li><i class="fa fa-user"></i> <a href="{% url 'display_user_profile' article.article.created_by %}">{{article.article.created_by}}</a> </li>
            <li><i class="fa fa-calendar"></i> {{article.article.created_at}} </li>
            <!-- {% get_comment_count for article as comment_count %} -->
            <!-- <li><i class="fa fa-comments"></i> {{ comment_count }} comments </li> -->
            <!-- <li><i class="fa fa-eye"></i> {{count}} views </li> -->

            {% if article.community.name %}
            <li><i class="fa fa-users"></i> <a href="{% url 'community_view' article.community.pk %}">{{article.community.name}}</a> </li>
            {% endif %}
            {% if article.group.name %}
            <li><i class="fa fa-users"></i> <a href="{% url 'group_view' article.group.pk %}">{{article.group.name}}</a> Group</li>
            {% endif %}
            {% if state.name == 'draft' %}
            <li><i class="fa fa-cut"></i> Not submitted </li>
            {% endif %} 
            {% if state.name == 'submitted' %}
            <li><i class="fa fa-arrow-circle-right"></i> Submitted </li>
            {% endif %} 
            {% if state.name == 'accepted' %}
            <li><i class="fa fa-check-circle"></i> Accepted </li>
            {% endif %} 
            {% if state.name == 'rejected' %}
            <li><i class="fa fa-times-circle"></i> Rejected </li>
            {% endif %} 
            {% if state.name == 'publish' %}
            <li><i class="fa fa-newspaper-o"></i> Published </li>
            {% endif %}
            {%if user.is_authenticated %}
            <!-- {%if is_fav %}
            <li><i id ="fav_submit" class="fa fa-star"></i>Favourites</li>
            {% else %}
            <li><i id ="fav_submit" class="fa fa-star-o"></i>Favourites</li>
            {%endif%} -->
            <form methd = "post">
                <input id="username" type="hidden" value="{{request.user.username}}"/>
                <input id="rid" type="hidden" value="{{article.article.pk}}"/>
                <input id="category" type="hidden" value="article"/>
                <input id="csrf" type="hidden" value="{{csrf_token}}"/>    
                <input id="url" type="hidden" value="{% url 'favourites' %}"/> 
              </form>
            {% endif %}
            
          </ul>
        <!-- <p id="view_article_html" style="background: #f4f4f4;border: 0;border-radius: 5px!important;padding: 20px;"> -->
          {{myhtml|safe}}{% autoescape off%} {{article.article.body}}{% endautoescape%}
          <!-- {{myhtml|safe}}
          {% autoescape off%} 
          {% if article.article.introduction %}
            <h3 style="margin-top: 20px;"> Introduction </h3>
            {{article.article.introduction}}
          {% endif %}
          {% if article.article.architecture %}
            <h3 style="margin-top: 20px;"> Architecture </h3>
            {{article.article.architecture}}
          {% endif %}
          {% if article.article.rituals %}
            <h3 style="margin-top: 20px;"> Rituals </h3>
            {{article.article.rituals}}
          {% endif %}
          {% if article.article.ceremonies %}
            <h3 style="margin-top: 20px;"> Ceremonies </h3>
            {{article.article.ceremonies}}
          {% endif %}
          {% if article.article.tales %}
            <h3 style="margin-top: 20px;"> Tales </h3>
            {{article.article.tales}}
          {% endif %}
          {% if article.article.more_information %}
            <h3 style="margin-top: 20px;"> More Information </h3>
            {{article.article.more_information}}
          {% endif %}
          {% endautoescape%} -->
          <p style="margin-bottom: 20px;"></p>
          {% if state.name == 'draft' %}
            <button type="radio" name="status" class="btn btn-success" data-toggle="modal" data-target="#modalSubmitArticle" data-whatever="@mdo" id="status">Submit</button>                
            <div class="modal fade" id="modalSubmitArticle" tabindex="-1" role="dialog" aria-labelledby="SubmitArticleModal" aria-hidden="true">
              <div class="modal-dialog text-left" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Terms and Conditions</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method = "post" action ="{% url 'submit_article' %}">
                      {% csrf_token %}
                      <input type='hidden' name = 'pk' value ={{article.article.pk}} />
                      <div class="form-group">
                        <h4>I confirm that I understand the following terms.</h4>
                        <ul>
                        <li> Resource created on this portal should not contain explicit or harmful material that is inappropriate for young learners. For more details, please refer to the guidelines </li>
                        <li> Resource will not collect any sensitive data or personal information about users, such as name, address, photo or other personally identifiable information. For more details,please refer to the Data and privacy policy</li>
                        <li> Resource should not violate copyright laws. For more details, please refer to the License policy</li>
                        <li> Resource created or uploaded on this portal will be available for free and public use without limitations- for both commercial and noncommercial purposes</li>
                        </ul>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                          I accept these terms and conditions and agree to my work being licenced under <a target="_blank" href="http://creativecommons.org/licenses/by-nc/4.0/"> CC BY 4.0 </a>
                        </div><br />
                        <img src="{{ MEDIA_URL }}default/license.png" alt="license" class="img-responsive" style="width:150px"><br />
                        <h5><b>I understand that in the case of a violation of any of these terms, my content can be removed by Collaborative Communities.</b></h5>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button id="articleCreate" type="submit" class="btn btn-primary">Yes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        <!-- </p> -->

          {% for group_for in request.user.groups.all %}
            {% if group_for.name == 'curator' %}
              {% if article.article.state.name == 'submitted' %}
                <button type="radio" name="articleacceptstatus" value="accept" class="btn btn-success" data-toggle="modal" data-target="#modalAcceptArticle" data-whatever="@mdo" id="articleacceptstatus" style="background-color: green;">Accept</button>
                <div class="modal fade" id="modalAcceptArticle" tabindex="-1" role="dialog" aria-labelledby="AcceptArticleModal" aria-hidden="true">
                  <div class="modal-dialog text-left" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Are you sure</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method = "post" action ="{% url 'curate_content' %}">
                          {% csrf_token %}
                          <input type='hidden' name = 'status' value='accept'/>
                          <input type='hidden' name = 'type' value='Article'/>
                          <input type='hidden' name = 'pk' value ={{article.article.pk}} />
                          <div class="form-group">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button id="articleAccept" type="submit" class="btn btn-primary">Yes</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="radio" name="articlerejectstatus" value="reject" class="btn btn-success" data-toggle="modal" data-target="#modalRejectArticle" data-whatever="@mdo" id="articlerejectstatus" style="background-color: red;">Reject</button>
                <div class="modal fade" id="modalRejectArticle" tabindex="-1" role="dialog" aria-labelledby="RejectArticleModal" aria-hidden="true">
                  <div class="modal-dialog text-left" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Are you sure</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method = "post" action ="{% url 'curate_content' %}">
                          {% csrf_token %}
                          <input type='hidden' name = 'status' value='reject'/>
                          <input type='hidden' name = 'type' value ='Article' />
                          <input type='hidden' name = 'pk' value ={{article.article.pk}} />
                          <div class="form-group">
                            <label for="reason-text" class="col-form-label">Reason</label>
                            <textarea class="form-control" id="reason-text"></textarea>                                              
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button id="articleAccept" type="submit" class="btn btn-primary">Yes</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        

        <!-- {% include "includes/reputation_buttons.html" with id=article.article.id resource_type="article" %} -->
      </div>
    </div>
    <!-- <div class="col-sm-3"><br/><br/>
      <div class="alert alert-info" role="alert">
        This article belongs to -
        {% if article.community.name %}
         <h5><a href="{% url 'community_view' article.community.pk %}">{{article.community.name}}</a> Community</h5>
         {% endif %}
         {% if article.group.name %}
         <h5><a href="{% url 'group_view' article.group.pk %}">{{article.group.name}}</a> Group</h5>
         {% endif %}
         <h5>Created by : <a href="{% url 'display_user_profile' article.article.created_by %}">{{article.article.created_by}}</a> </h5>
         <h5>Created on : {{article.article.created_at}}</h5>
         <h5>Views : {{count}} times</h5>
         <h5>Status : {{article.article.state|slice:"1:3:2"}}</h5>
         <h5 id="appropriateness">Appropriate : Waiting for javascript</h5>
          </div>
	<hr/>
	
	<div class="alert alert-info" id="recommendations" role="alert">
	<h4>Recommended for you -</h4></br>
        </div>
    </div> -->
  </div>
</div>

<h2>State history</h2>

  <table id="articleHistory" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr style="background-color:#89216B">
          <th style="color:white">Status</th>
          <th style="color:white">Action by</th>
          <th style="color:white">Action on</th>
          <th style="color:white">Comments</th>
          <th style="color:white">Content</th>
        </tr>
    </thead>
      <tbody>
        {{myhtml|safe}}{% autoescape off%}
        {% for history in statehistory %}
          <tr>
            <td>{{ history.state.name }}</td>
            <td>{{ history.changedby.username }}</td>
            <td>{{ history.changedon }}</td>
            <td>{{ history.comments }}</td>
            <td>{{ history.body }}</td>
          </tr>
        {% endfor %}
        {% endautoescape%}
      </tbody>
    </table>
    <br /><br /><br />
<!-- <h2>Comments</h2>

{% if comment_count %}
<hr/>
<div class="comments">
  <div class="media">
    <ul class="media-body">
      {% render_xtdcomment_tree for article allow_flagging allow_feedback show_feedback %}
    </ul>
  </div>
</div>
{% endif %}

<div class="post-comment padding-top-40">
  <h3>Leave a Comment</h3>
  <label>Message</label>
   {% render_comment_form for article %}
</div> -->

{% endblock %}
{% block javascript %}
<!-- <script src="{% static 'js/favourite.js' %}"></script> -->

<!-- <script type="text/javascript">
var id = {{article.article.id}};

$(function(){
        $.ajax({
                  url: '/ajax/article_text/'+id,
                  type: 'GET',
                  data: {'pk':id},
                  success: function (data) {
                      // alert(data);
                      // console.log(data.article_id);
                      // check();
                      // console.log("Done checkin")
                       $.ajax({
                                url: 'http://192.168.43.175:3000/?topic='+data.body,
                                type: 'GET',
                                data: {},
                                success: function (data) {
                                    // alert(data);
                                    // console.log(data.article_id);
                                    // console.log("!");
                                    // console.log(data.inappropriates);
                                    status= data.inappropriates;
                                    // check();
                                    // console.log("Done checkin")
                                },
                                complete:function(data){
                                 // $(".overlay")[0].style.display="none";

                                 if(status==1)
                                  {
                                    // alert("Sorry the article is not appropriate. Consider reviewing your article.");
                                    $("#appropriateness").text("Appropriate : No");
                                  }
                                  else if(status == 0)
                                  {
                                    // alert("Good job");
                                     $("#appropriateness").text("Appropriate : Yes");
                                  }
                                  else 
                                  {
                                    $("#appropriateness").text("Appropriate : Unknown");
                                  }
                                },
                                cache: false,
                                contentType: false,
                                processData: false
                            });
                  },
                  cache: false,
                  contentType: false,
                  processData: false
              });
})

$(window).load(function() {
               var url = "recommendation_json_object/";
                 $.ajax({
                      url: url,
                      type: 'get',
		      dataType:'json',
                      success: function(data){
			var total;
			total = Object.keys(data.output).length;
				for(var i=0;i<total;i++)
				{
					$('<a href="{% url "article_view" 0 %}"'.replace('0',data.output[i].id)+'>'+data.output[i].title +'</a></br></br>').appendTo('#recommendations'); 
				}
			}
                      
                    });
          });
</script> -->
{% endblock %}
