{% extends 'base.html' %}

{% block breadcrumb %}
  
{% endblock %}

{% block content %}
<div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active btn btn-outline-primary" href="{% url 'article_view' article.pk %}">View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-primary" href="{% url 'article_edit' article.pk %}">Edit</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link  btn btn-outline-primary" href="{% url 'article_delete' article.pk %}">Delete</a>
  </li>
</ul>
</div>
<br/>
  <div class="panel panel-default">
  <div class="panel-body" ><samp><label value="">{{myhtml|safe}}{% autoescape off%} {{article.body}}{% endautoescape%}</label></samp></div>

</div>
{% endblock %}