{% extends 'base.html' %}
{% load static %}

{% block css %}
  <style>
    .sectiontitle{
      margin-top: 20px;
      font-weight: bold;
    }
    del {
      text-decoration: line-through;
      background-color: #fbb6c2;
      color: #555;
    }
    ins {
      text-decoration: none;
      background-color: #d4fcbc;
    }
    .modal-content{
      margin-top: 100px;
    }    
  </style>
{% endblock %} 


{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% for cat in merged.community.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'community_view' cat.pk %}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' merged.community.pk %}">{{ merged.community.name }}</a></li>
  <li class="breadcrumb-item">Merged Contributions</li>
{% endblock %}

{% block content %}

<div class="main" style="margin-bottom: 50px;">
    <div class="container">

        <div class="row margin-bottom-10">
            <div class="col-md-12 col-sm-12">
                <div class="icp-content-comm-title-image">
                    <h2 class="icp-content-comm-title-text">
                        {{ merged.community.name}}
                    </h2>
                </div>
            </div>
        </div>

        <div class="blog-item">
          <ul class="blog-info">
            <li><i class="fa fa-user"></i><a href="{% url 'display_user_profile' merged.changedby %}">{{merged.changedby}}</a> </li>
            <li><i class="fa fa-calendar"></i> {{merged.changedon}} </li>
            <li>
              {% if merged.state.name == 'merged' %}<i class="fa fa-sitemap fa-rotate-90" aria-hidden="true"></i>{% endif %} 
              {{merged.state}} 
            </li>
          </ul>
        </div>

        <div class="col-sm-12">
          <div>
            <ul class="nav nav-tabs" style="margin-left: -15px; margin-bottom: 40px;">
              <li class="nav-item active"><a class="nav-link " href="">View</a></li>
              <li class="nav-item"><a id="mergedarticle_edit_id" class="nav-link " href="{% url 'merged_article_edit' merged.pk %}">Edit</a></li>
            </ul>
          </div>
        </div>

        <h3 class="sectiontitle">Introduction</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.introduction}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Architecture</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.architecture}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Rituals</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.rituals}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Ceremonies</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.ceremonies}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Tales</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.tales}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">More Information</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.moreinfo}} {% endautoescape%}
        </div>

        {% for group_for in request.user.groups.all %}
          {% if group_for.name == 'curator' %}
            {% if merged.state.name == 'merged' %}
              <button type="radio" name="sendforapproval" value="sendforapproval" class="btn btn-success" data-toggle="modal" data-target="#modalsendforapproval" data-whatever="@mdo" id="sendforapproval">Send for approval</button>
              <div class="modal fade" id="modalsendforapproval" tabindex="-1" role="dialog" aria-labelledby="RecurateMergedArticleModal" aria-hidden="true">
                <div class="modal-dialog text-left" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Send for approval</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method = "post" action ="{% url 'curate_merged' %}">
                        {% csrf_token %}
                        <input type='hidden' name = 'pk' value ={{merged.pk}} />
                        <input type='hidden' name = 'status' value ='sendForApproval' />
                        Are you sure that you want to send this collated content for approval?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button id="sendforapproval" type="submit" class="btn btn-primary">Yes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %} <!-- merged state -->
          {% endif %}
        {% endfor %}

    {% for group_for in request.user.groups.all %}
      {% if group_for.name == 'icpapprover' %}
        {% if merged.state.name == 'sentForApproval' %}
          <button type="radio" name="mergedarticlerecuratestatus" value="re-curate" class="btn btn-success" data-toggle="modal" data-target="#modalRecurateMergedArticle" data-whatever="@mdo" id="mergedarticlerecuratestatus" style="background-color: red;">Recurate</button>
          <div class="modal fade" id="modalRecurateMergedArticle" tabindex="-1" role="dialog" aria-labelledby="RecurateMergedArticleModal" aria-hidden="true">
            <div class="modal-dialog text-left" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Send for recuration</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method = "post" action ="{% url 'curate_merged' %}">
                    {% csrf_token %}
                    <input type='hidden' name = 'status' value='recurate'/>
                    <input type='hidden' name = 'pk' value ={{merged.pk}} />
                    <div class="form-group">
                      <label for="reason-text" class="col-form-label">Enter more details about what modification are required</label>
                      <textarea class="form-control" id="reason-text" name="reason"></textarea>                                              
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button id="articleAccept" type="submit" class="btn btn-primary">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %} <!-- sentForApproval -->
        {% if merged.state.name == 'sentForApproval' %}
          <button type="radio" name="mergedarticleacceptstatus" value="accept" class="btn btn-success" data-toggle="modal" data-target="#modalAcceptMergedArticle" data-whatever="@mdo" id="mergedarticleacceptstatus">Accept</button>
          <div class="modal fade" id="modalAcceptMergedArticle" tabindex="-1" role="dialog" aria-labelledby="AcceptMergedArticleModal" aria-hidden="true">
            <div class="modal-dialog text-left" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLabel">Accept for publishing on ICP</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method = "post" action ="{% url 'curate_merged' %}">
                    {% csrf_token %}
                    <input type='hidden' name = 'status' value='accept'/>
                    <input type='hidden' name = 'pk' value ={{merged.pk}} />
                    <div class="form-group">
                      Accept and proceed with publishing on ICP?
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button id="articleAccept" type="submit" class="btn btn-primary">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %} <!-- sentForApproval -->
      {% endif %}
    {% endfor %}


        <h2 style="margin-top: 30px;">History</h2>

        <table id="mergedArticleHistory" class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size: small;">
          <thead>
              <tr style="background-color:#89216B">
                <th style="color:white">Status</th>
                <th style="color:white">Action by</th>
                <th style="color:white">Action on</th>
                <th style="color:white">Comments</th>
                <!-- <th style="color:white">Content</th> -->
                <th style="color:white"></th>
              </tr>
          </thead>
            <tbody id="parent">
              {{myhtml|safe}}{% autoescape off%}
              {% for history in statehistory %}
                <tr>
                  <td>{{ history.state.name }}</td>
                  <td>{{ history.changedby.username }}</td>
                  <td>{{ history.changedon }}</td>
                  <td>{{ history.comments }}</td>
                  <!-- <td>{{ history.body }}</td> -->
                  <td style="text-align: right;"><input type="checkbox" id="history" name="history" value="{{history.introduction|escape}}{{history.architecture|escape}}{{history.rituals|escape}}{{history.ceremonies|escape}}{{history.tales|escape}}{{history.moreinfo|escape}}" data-title="{{history.changedon}}"></td>
                </tr>
              {% endfor %}
              <tr style="text-align: right;">
                <td colspan="6" style="text-align: right;">Select 2 checkboxes and click <button id="compare">Compare</button></td>
              </tr>
          {% endautoescape%}
            </tbody>
        </table>
          <br /><br /><br />
      



    </div> <!-- container -->
</div> <!-- main -->

<div class="modal fade" id="addContentModal" tabindex="-1" role="dialog" aria-labelledby="addContentModal" aria-hidden="true">
    <div class="modal-dialog text-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modaltitleaddcontent">Add content for</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "post" action ="{% url 'add_content_by_curator' %}">
            {% csrf_token %}
            <input type='hidden' name='pk' value="{{community.pk}}" />
            <input id="modalSection" type='hidden' name='section' value='' />
            <div class="form-group">
              <label for="reason-text" class="col-form-label">Enter content</label>
              <textarea class="form-control" id="body" name='body'></textarea>                                              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="commReject" type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="modifyrejectModal" tabindex="-1" role="dialog" aria-labelledby="modifyrejectModal" aria-hidden="true">
    <div class="modal-dialog text-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modaltitlemodifyreject">Enter reason</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "post" action ="{% url 'curate_content' %}">
            {% csrf_token %}
            <input id="modalArticlepk" type='hidden' name='pk' value='' />
            <input id="modalStatus" type='hidden' name='status' value='' />
            <input type='hidden' name='type' value='Article' />
            <input type='hidden' name='redirecto' value='view_all_content' />
            <input type='hidden' name='commpk' value='{{community.pk}}' />
            <input id="modalState" type='hidden' name='state' value='dfsf' />
            <div class="form-group">
              <textarea class="form-control" id="reason" name='reason'></textarea>                                              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="commReject" type="submit" class="btn btn-primary">Ok</button>
          </form>
        </div>
      </div>
    </div>
</div>

<div id="modalshowcompare" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="showoutput-title" style="font-weight: bold;">Modal Title</h5>
          </div>
          <div class="modal-body" id="showoutput">
              <p></p>
          </div>
      </div>
  </div>
</div>


{% endblock %}

{% block javascript %}
<script src="{% static 'js/htmldiff.js' %}"></script>

<script type="text/javascript">
  $(function(){
      $("#compare").click(function(){
          nochecked = $("#parent input:checkbox:checked").length;
          if (nochecked < 2) {
            alert("select atleast 2 checkboxes for comparing")
          }
          if (nochecked > 2) {
            alert("select 2 checkboxes only for comparing")
          }
          if (nochecked == 2){
            let i=0;
            const a = [];
            const title = [];
            var checkboxes = document.getElementsByName('history');
            for (var checkbox of checkboxes) {
                if (checkbox.checked) {
                    a[i] = checkbox.value;
                    title[i] = checkbox.getAttribute('data-title');
                    i++;
                }
            }
            let output = htmldiff(a[1], a[0]);
            document.getElementById("showoutput-title").innerHTML = "Comparing " + title[0] + " Vs " + title[1];
            document.getElementById("showoutput").innerHTML = output;
            $("#modalshowcompare").modal('show');
          }
      });
  });
</script>


{% endblock %}