{% extends 'base.html' %}
{% load static %}

{% block css %}
  <style>
    .sectiontitle{
      margin-top: 40px;
      font-weight: bold;
    }
  </style>
{% endblock %} 


{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% for cat in merged.community.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'community_view' cat.pk %}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="breadcrumb-item active"><a href="{% url 'community_view' merged.community.pk %}">{{ merged.community.name }}</a></li>
  <li class="breadcrumb-item">Merged Contributions</li>
{% endblock %}

{% block content %}

<div class="main" style="margin-bottom: 50px;">
    <div class="container">

        <div class="row margin-bottom-10">
            <div class="col-md-12 col-sm-12">
                <div class="icp-content-comm-title-image">
                    <h2 class="icp-content-comm-title-text">
                        {{ merged.community.name}}
                    </h2>
                </div>
            </div>
        </div>

        <h3 class="sectiontitle">Introduction</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.introduction}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Architecture</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.architecture}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Rituals</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.rituals}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Ceremonies</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.ceremonies}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">Tales</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.tales}} {% endautoescape%}
        </div>

        <h3 class="sectiontitle">More Information</h3>
        <div style="margin-left:30px;">
            {{myhtml|safe}}{% autoescape off%} {{merged.moreinfo}} {% endautoescape%}
        </div>

    </div> <!-- container -->
</div> <!-- main -->

<div class="modal fade" id="addContentModal" tabindex="-1" role="dialog" aria-labelledby="addContentModal" aria-hidden="true">
    <div class="modal-dialog text-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modaltitleaddcontent">Add content for</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "post" action ="{% url 'add_content_by_curator' %}">
            {% csrf_token %}
            <input type='hidden' name='pk' value="{{community.pk}}" />
            <input id="modalSection" type='hidden' name='section' value='' />
            <div class="form-group">
              <label for="reason-text" class="col-form-label">Enter content</label>
              <textarea class="form-control" id="body" name='body'></textarea>                                              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="commReject" type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="modifyrejectModal" tabindex="-1" role="dialog" aria-labelledby="modifyrejectModal" aria-hidden="true">
    <div class="modal-dialog text-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modaltitlemodifyreject">Enter reason</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method = "post" action ="{% url 'curate_content' %}">
            {% csrf_token %}
            <input id="modalArticlepk" type='hidden' name='pk' value='' />
            <input id="modalStatus" type='hidden' name='status' value='' />
            <input type='hidden' name='type' value='Article' />
            <input type='hidden' name='redirecto' value='view_all_content' />
            <input type='hidden' name='commpk' value='{{community.pk}}' />
            <input id="modalState" type='hidden' name='state' value='dfsf' />
            <div class="form-group">
              <textarea class="form-control" id="reason" name='reason'></textarea>                                              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="commReject" type="submit" class="btn btn-primary">Ok</button>
          </form>
        </div>
      </div>
    </div>
</div>


{% endblock %}

{% block javascript %}


{% endblock %}