{% extends 'base.html' %} {%load static %} {% block css %}
<link href="{% static 'css/fileinput.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/css/style.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/css/jquerysctipttop.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/lib/jquery.ntm/themes/default/css/theme.css' %}" rel="stylesheet" />
<style type="text/css">
  #liclr {
    background-color: #FE642E;

  }

  #clr {
    color: black;
  }
</style>
{% endblock %} {% load mptt_tags %} 


{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'display_communities' %}">Communities</a></li>
  {% for cat in gcmedia.community.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'community_view' cat.pk %}">{{cat.name}}</a> </li>
  {% endfor %}
  <li class="breadcrumb-item">{{ gcmedia.community.name }}</li>
  <li class="breadcrumb-item">View {{ gcmedia.media.mediatype|lower }}</li>
  <li class="breadcrumb-item">{{ gcmedia.media.title }} </li>
{% endblock %} 

{% block content %}

<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a class="nav-link " href="{% url 'media_view' gcmedia.media.pk %}">View</a>
          </li>
          {% if user.is_authenticated %} 
            {% if gcmedia.media.state.name != 'publish'%}
              <li class="nav-item ">
                <a id="media_edit_id" class="nav-link " href="{% url 'media_edit' gcmedia.media.pk %}">Edit</a>
              </li>
            {%endif%} 
          {% endif %}
          <!-- <li class="nav-item">
            <a href="{% url 'media_reports' gcmedia.media.pk%}" id="media_reports_id" class="nav-link">Reports</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <br/>

  {% if messages %}
    <div class="alert alert-warning">
        {% for message in messages %}
          <b> {{ message }} </b> <br />
        {% endfor %}
    </div>
  {% endif %}

  <div class="blog-item">
      <h2><a href="#">{{ gcmedia.media.title }} </a></h2>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      {% if gcmedia.media.mediatype == 'IMAGE' %}
        {% if gcmedia.media.mediafile %}
          <img src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" alt="image" class="img-responsive">
        {% else %}
          <img src="{{ gcmedia.media.medialink}}" alt="image" class="img-responsive">
        {% endif %}
      {% endif %}
      {% if gcmedia.media.mediatype == 'AUDIO' %}
        {% if gcmedia.media.mediafile %}
          <audio controls>
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="audio/mp3" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="audio/wav" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="audio/ogg" />
          </audio>
        {% else %}
          <iframe width="100%" class="embed-responsive-item" src="{{ gcmedia.media.medialink }}" allow="autoplay; encrypted-media"  style="border: 1px solid red;" allowfullscreen></iframe>
        {% endif %}
      {% endif %}
      {% if gcmedia.media.mediatype == 'VIDEO' %}
        {% if gcmedia.media.mediafile %}
          <video class="img-responsive margin-bottom-10" style="width: 100%; border: 1px solid red;" controls>
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/vob" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/webm" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/avi" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/mp4" />
            <source src="{{ MEDIA_URL }}{{ gcmedia.media.mediafile}}" type="video/wmv" />
          </video>      
        {% else %}
          <iframe height="350" width="100%" class="embed-responsive-item" src="{{ gcmedia.media.medialink }}" allow="autoplay; encrypted-media"  style="border: 1px solid red;" allowfullscreen></iframe>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-md-6 col-sm-6">
      <h4> 
        <i class="fa fa-user"></i> 
        <a href="{% url 'display_user_profile' gcmedia.media.created_by %}">
          {{gcmedia.media.created_by}}
        </a> 
      </h4>
      <h4> 
        <i class="fa fa-calendar"></i> {{gcmedia.media.created_at}} 
      </h4>

      <!-- <h4>
      {% if gcmedia.community.name %}
        <i class="fa fa-users"></i> <a href="{% url 'community_view' gcmedia.community.pk %}">{{gcmedia.community.name}}</a> Community
      {% endif %}
      {% if gcmedia.group.name %}
        <i class="fa fa-users"></i> <a href="{% url 'group_view' gcmedia.group.pk %}">{{gcmedia.group.name}}</a> Group
      {% endif %}      
      </h4> -->

      <h4>
        {% if gcmedia.media.state.name == 'draft' %}
          <i class="fa fa-cut"></i> Not submitted <br /><br />
          <form method="post" action="{% url 'submit_media' %}">
            {% csrf_token %}
            <input type='hidden' name = 'pk' value ={{gcmedia.media.pk}} />
            <button type="radio" name ="status" value="submit" class="btn btn-success" >Submit</button>
          </form>
        {% endif %} 
        {% if gcmedia.media.state.name == 'submitted' %}
        <i class="fa fa-arrow-circle-right"></i> Submitted
        {% endif %} 
        {% if gcmedia.media.state.name == 'accepted' %}
        <i class="fa fa-check-circle"></i> Accepted
        {% endif %} 
        {% if gcmedia.media.state.name == 'rejected' %}
        <i class="fa fa-times-circle"></i> Rejected
        {% endif %} 
        {% if gcmedia.media.state.name == 'publish' %}
        <i class="fa fa-newspaper-o"></i> Published
        {% endif %}
      </h4>

      <!-- <h4>
        {{myhtml|safe}}{% autoescape off%} {{gcmedia.media.metadata.description}} {% endautoescape%}
      </h4> -->
      <!-- {% if user.is_authenticated %} 
        {% if gcmedia.media.state.name != 'publish'%}
          {% if gcmedia.media.metadata %}
            <h5><a id="metadata_edit_id" class="nav-link" href="{% url 'metadata_update' gcmedia.media.pk gcmedia.media.metadata.pk %}">Update metadata</a></h5>
          {% else %}
            <h5><a id="metadata_create_id" class="nav-link" href="{% url 'metadata_create' gcmedia.community.pk gcmedia.media.pk%}">Add metadata</a></h5>
          {% endif %}
        {%endif%} 
      {% endif %} -->
    </div>
  </div>
  <!-- {% include "includes/reputation_buttons.html" with id=gcmedia.media.pk resource_type="media" %} -->

</div>
<br />
{% endblock %} 
{% block javascript %} 
{% endblock %}
