{% extends 'base.html' %}

{% block content %}

<ul class="notifications">

<div class="row">
  <div class="col-sm-6 alert alert-success" style="background:white !important;">
    <a href="{% url 'notifications:mark_all_as_read' %}">Mark All as Read</a>
  </div>
    <div class="col-sm-6 text-right alert alert-success" style="background:white !important;">
    <a href="{% url 'notifications:mark_all_as_unread' %}">Mark All as Unread</a>
  </div>
</div>

  {% load notifications_tags %}

  {% for notice in notifications %}
  <div class="row">
    <div class="col-sm-12 col-sm-8 col-sm-offset-2">

                         <div class="alert alert-block alert-{{ notice.level }}" style=" margin:1px !important;" >

                         <!-- <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">
                            <i class="icon-close"></i>
                          </a> -->

                          <h4 class="text-left">
                            <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
                            {{ notice.actor }} :
                            {{ notice.verb }} <a class="alert-link" href="{% url notice.description notice.target_object_id %}">{{ notice.target }} {{ notice.target_content_type }} </a>
                          </h4>

                            {% if notice.unread %}
                          <a class="alert-link" href="{% url 'notifications:mark_as_read' notice.slug %}">mark as read</a>
                            {% endif %}

                          <p class="text-right">{{ notice.timesince }} ago</p>

                          <!-- <p>{{ notice.description|linebreaksbr }}</p> -->

                        <!--  <div class="notice-actions">
                            {% for action in notice.data.actions %}
                              <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
                            {% endfor %}
                          </div> -->
                        </div>
    </div>
  </div>
  {% endfor %}

</ul>
{% endblock %}